.type-634 a {
  text-decoration: none;
  background: transparent;
}
.type-634 .page_paddings_yes {
  padding: 90px;
}
.type-634 .page_paddings_yes .hover_icon:hover .icon {
  bottom: 310px;
  transition: all 1s ease 0s;
  opacity: 1;
}
.type-634 .page_paddings_yes .hover_icon {
  position: relative;
  display: block;
  text-align: center;
}
.type-634 .page_paddings_yes .hover_icon .icon {
  position: relative;
  bottom: 150px;
  font-size: 48px;
  color: #fff;
  transition: all 1s ease 0s;
  opacity: 0;
}
.type-634 .page_paddings_yes .hover_icon .post_image {
  width: 100%;
}
.type-634 .page_paddings_yes .hover_icon .post_image:hover {
  opacity: 0.8;
}
.type-634 .page_paddings_yes .post_title {
  font-size: 36px;
  margin-bottom: 97px;
  text-transform: none;
}
.type-634 .page_paddings_yes .post_title .post_title_link {
  color: #5c5551;
  font-weight: bold;
}
.type-634 .page_paddings_yes .post_info {
  margin-bottom: 1rem;
  font-size: 13.008px;
}
.type-634 .page_paddings_yes .post_info .post_info_date {
  color: #5c5551;
}
.type-634 .page_paddings_yes .post_info .post_info_date .post_info_date:hover {
  color: #f15d2f;
}
.type-634 .page_paddings_yes .post_info .post_info_counters {
  margin: 0px 10px;
  border-left: 1px #ccc dotted;
}
.type-634 .page_paddings_yes .post_info .post_info_counters .view_item {
  color: #f15d2f;
  margin: 0px 5px;
}
.type-634 .page_paddings_yes .post_info .post_info_counters .post_counters_number {
  color: #f15d2f;
}
.type-634 .page_paddings_yes .post_info .post_info_counters .post_counters_number:hover {
  color: #5c5551;
}
.type-634 .post_content {
  margin-bottom: 48px;
}
.type-634 .post_content .post_descr {
  font-size: 16px;
}
.type-634 .post_content .post_descr .more_button {
  color: #f15d2f;
}
.type-634 .pager_nav:hover {
  background: #fff;
}
.type-634 .pager_nav {
  border: 2px solid #ddd;
  color: #fff;
  background-color: #f15d2f;
  border-color: #f15d2f;
  display: inline-block;
  padding: 0.7143em 0.8em;
  font-size: 0.875em;
  line-height: 0.875em;
}
.type-634 .pagination_wrap {
  text-align: center;
  position: relative;
}
.type-634 .pagination_wrap .pager_current {
  color: #f15d2f;
  background-color: #fff;
}
.type-634 .fa .fa-eye .fa-comment-o .fa-angle-right .fa-angle-double-right {
  padding: 0;
}
@media (max-width: 479px) {
  .type-634 .content_wrap {
    width: 280px;
  }
}
