body {
  background-color: #f5f5f5;
  color: #333;
}
.type-g-12 .container {
  margin-left: auto;
  margin-right: auto;
}
.type-g-12 * {
  margin: 0;
  padding: 0;
}
.type-g-12 .clear {
  clear: both;
}
.type-g-12 .row {
  width: 100%;
  float: left;
}
.type-g-12 img {
  border: 0;
  vertical-align: top;
  max-width: 100%;
}
.type-g-12 h6,
.type-g-12 h5 {
  margin: 0 0 10px;
  font-weight: normal;
}
.type-g-12 .grid12-12,
.type-g-12 .grid12-3 {
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}
.type-g-12 .footer-primary-container {
  padding-top: 30px;
  padding-bottom: 20px;
}
.type-g-12 .footer-primary {
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.type-g-12 .footer {
  margin: 0 auto;
  padding: 0;
  text-align: left;
}
.type-g-12 .inner-container {
  padding-left: 12px;
  padding-right: 12px;
  clear: both;
}
.type-g-12 .inner-container:before,
.type-g-12 .inner-container:after {
  display: table;
  line-height: 0;
  content: "";
}
.type-g-12 .clearer:after {
  display: block;
  content: ".";
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
  overflow: hidden;
}
.type-g-12 .grid12-12,
.type-g-12 .grid-full {
  width: 98%;
}
.type-g-12 .grid12-3 {
  width: 23%;
}
.type-g-12 .collapsible .block-title,
.type-g-12 .mobile-collapsible .block-title {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 35px;
  border-bottom: 1px solid #f2f2f2;
  border-color: rgba(0,0,0,0.05);
  margin-bottom: 0.625em;
  font-size: 1.3333em;
  line-height: 1.25em;
  font-weight: normal;
}
.type-g-12 .collapsible .block-title {
  cursor: pointer;
}
.type-g-12 .collapsible .block-content,
.type-g-12 .collapsible .block-content > * {
  margin-top: 0;
}
.type-g-12 .feature.last {
  margin-bottom: 0;
}
.type-g-12 .feature.first {
  margin-top: 0;
}
.type-g-12 .feature {
  margin: 10px 0;
}
.type-g-12 std p {
  margin: 0 0 1em;
  padding: 0;
}
.type-g-12 h5 {
  font-size: 1.1666em;
  line-height: 1.1428em;
  padding-top: 20px;
  font-weight: bold;
}
.type-g-12 a.go {
  background: url(../images/img/bullet.png) 97% 50% no-repeat;
  padding-right: 17px;
  display: inline !important;
}
.type-g-12 .feature:after {
  display: block;
  content: ".";
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
  overflow: hidden;
}
.type-g-12 a {
  color: #333;
  text-decoration: none;
}
.type-g-12 a:hover {
  color: blue;
}
.type-g-12 ul.bullet {
  list-style: none outside none;
}
.type-g-12 ul.bullet,
.type-g-12 ul.disc {
  margin: 0 0 1em;
  padding: 0;
}
.type-g-12 ul.bullet li {
  background: url(../images/img/bullet.png) 0 0 no-repeat;
  padding-left: 25px;
}
.type-g-12 * {
  margin: 0;
  padding: 0;
}
.type-g-12 .feature.first {
  margin-top: 0;
}
.type-g-12 .feature.indent > .ic,
.type-g-12 .feature.indent > span.icon {
  margin-left: -51px;
}
.type-g-12 .feature.indent > .ic,
.type-g-12 .feature.indent > .icon {
  float: left;
  margin: 0 15px 0 0;
}
.type-g-12 .footer .ib,
.type-g-12 .footer span.icon {
  background-color: #de2666;
  color: #ffffff;
}
.type-g-12 .ib.ic-char,
.type-g-12 .ib.i-char {
  font-size: 16px;
  text-align: center;
}
.type-g-12 .ib {
  line-height: 36px;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
}
.type-g-12 .ic-char {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif !important;
}
.type-g-12 .ic {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
.type-g-12 .no-margin {
  margin: 0 !important;
}
.type-g-12 .ib:hover {
  background: #333;
}
.type-g-12 .ic {
  display: inline-block;
  font-family: ThemeIcons;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.type-g-12 .ic-lg {
  font-size: 1.33333333em;
}
.type-g-12 .footer-primary-bottom-spacing {
  border-top: 1px solid;
  border-color: #eee;
  border-color: rgba(0,0,0,0.05);
  padding-top: 20px;
  margin-top: 10px;
}
.type-g-12 .footer .item-left {
  float: left;
  margin-right: 20px;
}
.type-g-12 .ib-wrapper--square .ib {
  border-radius: 0;
}
.type-g-12 .social-links .ib {
  background-color: #bbbbbb;
  color: #ffffff;
  margin-bottom: 3px;
}
.type-g-12 .ib-wrapper--square .ib:hover {
  background: orange;
}
.type-g-12 .footer .item-right {
  float: right;
  margin-left: 20px;
}
.type-g-12 #subscribe-form form {
  display: block;
}
.type-g-12 form {
  display: inline;
}
.type-g-12 #subscribe-form label {
  float: left;
  margin: 0 5px 0 0;
  line-height: 36px;
  font-weight: normal;
  position: relative;
}
.type-g-12 #subscribe-form label {
  font-size: 1.3333em;
}
.type-g-12 #subscribe-form .input-box {
  float: left;
  margin: 0 5px 5px 0;
  position: relative;
}
.type-g-12 #subscribe-form .input-text {
  float: left;
  width: auto;
}
.type-g-12 input.input-text {
  padding: 8px;
  text-overflow: ellipsis;
}
.type-g-12 input.input-text {
  height: 36px;
}
.type-g-12 input.input-text {
  background: #fff;
  border: 1px solid #ddd;
  color: #888;
  box-sizing: border-box;
  border-radius: 0px;
  box-shadow: none;
}
.type-g-12 input {
  font: 12px/15px Arial, Helvetica, sans-serif;
  vertical-align: middle;
}
.type-g-12 #subscribe-form .button {
  float: left;
}
.type-g-12 .footer .button {
  background-color: #e5e5e5;
  color: #555555;
}
.type-g-12 .button.btn-inline {
  padding: 0 15px;
  line-height: 36px;
}
.type-g-12 .button {
  display: inline-block;
  margin: 0;
  border: 0;
  overflow: visible;
  cursor: pointer;
  font-size: 12px;
  font-weight: normal;
  white-space: nowrap;
  text-align: center;
}
