.teamplate-616{
    .ptop-65 {
        padding-top: 65px;
    }
    .kl-title-block {
        padding-bottom: 35px;
    }
    .montserrat {
        font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    }
    .tcolor {
        color: #cd2122 !important;
    }
    .tbk__title .tbk__symbol {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
    }
    .tbk__symbol {
        margin-bottom: 10px;
    }
    .tbk__title .tbk__icon {
        vertical-align: middle;
    }
    .light-gray {
        color: #a8a8a8;
    }
    .imgboxes_style1 {
        overflow: visible;
    }
    .image-boxes {
        margin-bottom: 30px;
    }
    .image-boxes .hoverBorder {
        margin-bottom: 20px;
    }
    .image-boxes a {
        display: block;
    }
    .hoverBorder {
        position: relative;
    }
    .imgboxes_style1 .hoverBorderWrapper {
        height: 270px;
    }
    .hoverBorderWrapper {
        position: relative;
        display: block;
    }
    .imgboxes_style1 img {
        box-shadow: 0 1px 1px rgba(0,0,0,.22);
    }
    .image-boxes img {
        width: 100%;
        height: auto;
    }
    .hoverBorderWrapper img {
        max-width: 100%;
        box-sizing: border-box;
        border-radius: 3px;
    }
    .theHoverBorder {
        position: absolute;
        
        border-radius: 3px;
        box-shadow: 0 0 0 3px rgba(255,255,255,0.15) inset;
    }
    .imgboxes_style1 .hoverBorder h6 {
        position: absolute;
        left: -10px;
        bottom: 20px;
        color: #fff;
        padding: 11px 15px;
        background: #CD2122;
        font-size: 12px;
        font-weight: 500;
        line-height: 1;
        border-radius: 2px;
    }
    .hoverBorder h6{
        transition: all 0.2s ease-out;
    }
    
   
    .tbk__title {
        margin-bottom: 10px;
        font-family: 'Open Sans';
        line-height: 30px;
        font-style: normal;
        font-size: 24px;
        font-weight: 400;
    }
    a {
        color: #000;
        transition: color .25s ease-in-out;
    }
    .kl-title-block {
        padding-bottom: 35px;
    }
    .kl-iconbox {
        margin-bottom: 30px;
    }
    .kl-iconbox--fleft .kl-iconbox__icon-wrapper {
        float: left;
        margin-right: 20px;
    }
    .kl-iconbox__icon-wrapper{
   
        margin-bottom: 15px;
    }
    .kl-iconbox__desc {
        font-family: "Open Sans",Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        font-style: normal;
        color: #121212;
    }
}