.type-38{
    @color:#666;
    .stack-container-wrapper{
        .row{
            margin-left: auto;
            margin-right: auto;
        }
        .header{
            .background-images{
                transform: translate3d(0px, 0px, 0px);
                background: url(../images//education-1.jpg);
                background-size: cover !important;
                background-position: 50% 50% 
            }
            .hidden{
                left: -40px;
            }
            .logo{
                margin-top: 25px;
            }
            @media (min-width: 991px){
                .logo-1{
                    display: none;
                }
            }
            .background-image:not([class*='col-']) {
                width: 100%;
            }
            .menu-horizontal {
                li {
                    display: inline-block;               
                    span{
                        color: #fff;
                    }
                }
                li:not(:hover) > span{
                    opacity: .5;
                }
                li:not(:last-child){
                    margin-right: 2em;
                }
            }
            .bar-1 .menu-horizontal > li .dropdown__trigger{
                font-size: 1em;
                line-height: 2em;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: .5px;
                text-align: center;
            }
            .text-right{
                padding: 20px;
            }
            .bar__module{
                display: inline-block;
                padding-left: 45px;
            }
            .bar-transparent:not(.pos-fixed) .btn:not([class*='primary']) {
                border-color: rgba(255, 255, 255, 0.3);
            }
            .bar-transparent:not(.pos-fixed) .btn:not([class*='primary']) .btn-text {
                color: #fff;
            }
            .btn{
                position: relative;
                .btn-text{
                    font-weight: 700;
                    font-size: 1em;
                    letter-spacing: .5px;
                    margin-right: -0.5px;
                }
                .btn-sm + .btn-sm{
                    margin-left: 1em;
                } 
            }
            .btn-primary{
                background: #4a90e2;
                border-color: #4a90e2;
            }
            .btn-sm {
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 20px;
                padding-left: 20px; 
            }
            h1{
                color: #fff;
                letter-spacing: -0.01em;
                font-size: 3.14285714em;
                line-height: 1.31818182em;
                font-weight: 300;       
                font-size: 'open sans';
            }
            .lead:not(:last-child){
                margin-bottom: 1.4em;
            }
            .lead{
                font-size: 1.4em;
                line-height: 1.7em;
            }
            [data-overlay] *:not(.container):not(.background-image) {
                z-index: 2;
            }
            [class*='imagebg']:not(.col-text) p {
                opacity: .9;
            }
            p{
                color: #fff;
            }
            .video-play-icon{
                width: 10%;
                height: 60px;
                border-radius: 50%;
                position: relative;
                z-index: 4;
                display: inline-block;
                border: 2px solid #ffffff;
                cursor: pointer;
                background: #ffffff;
                .fa{
                    padding-left: 20px;
                    padding-top: 18px;
                }
            }
            .video-play-icon.video-play-icon-sm {
                width: 3.7em;
                height: 3.7em;
            }
            .modal-instance .video-play-icon + span {
                position: relative;
                display: inline-block;
                margin-left: 1em;
                white-space: nowrap;

            }
        }

        .switchable{
            padding-top: 7.42857143em;
            .lead{
                font-weight: 400;
                color: #808080;
                font-size: 1.35714286em;
                line-height: 1.68421053em;
            }
            p + a:not(.btn){
                font-size: 0.85714286em;
                line-height: 2.16666667em;
            }
            a{
                font-weight: 700;
            }
            .accordion-2 li .accordion__title {
                border-left: none;
                border-right: none;
                border-top: none;
                border-bottom: 1px solid #ECECEC;
                padding-left: 0;
            }
            .accordion li .accordion__title {
                cursor: pointer;
                padding: 0.46428571em 0.92857143em;
                border: 1px solid #ececec;
                border-bottom: none;
                background: none;
                user-select: none;
            }
        }

        .text-center{
            input[type], select{
                padding-left: 0.92px;
                background: #fcfcfc;
                padding: 0.46428571em;
                border-radius: 6px;
                border: 1px solid #ececec;
            }
            input:not([class*='col-']){
                width: 100%;
            }
            section[type]{
                color: inherit;
                font: inherit;
                margin: 0;
                background: #fcfcfc;
                padding: 0.46428571em;
                border-radius: 6px;
                border: 1px solid #ececec;
            }
            select:not([class*='col-']){
                width: 100%;
            }
            .btn{
                font-size: 0.85714286em;
                font-weight: 700;
                padding-left: 40px;
                padding-right:40px;
                padding-top:9px;
                padding-bottom: 8px;
                color: #fff;
                background: #4a90e2;
                border-color: #4a90e2;
            }
        }
        .text1{
            text-align:center;
            h2{
                padding-top:70px;
                margin-bottom: 1em;
                font-size: 2.4em;
                line-height: 1.4em;
                color: #252525;
                font-weight: 300;
            }
        }
    }

    .feature-11{
        padding:80px;
        .boxed.boxed--border {
            border: 1px solid #ececec;
        }
        .boxed {
            border-radius: 6px;
            padding: 1.85714286em;
            margin-bottom: 30px;
        }
        .feature-1{
            min-height: 12em;
        }
        p + a:not(.btn) {
            font-size: 0.85714286em;
            line-height: 2.16666667em;
        }
        a{
            font-weight: 700;
        }
    }

    .unpad{
        img{
            width: 100%;
            height: 225px;
        }
        .block .pos-vertical-center{
            text-decoration: none;
            top:0;
        }
        h4{
            color: #fff;
            position: absolute;
            width: 100%;
            padding-top: 40px;
            font-size: 26px;
        }
        .image-holder{
            background: #252525;
        }
        .feature{
            position: relative;
        }

    }
    .footer{
        .vc_custom_1436786731050 {
            margin-bottom: 0px !important;
            padding-top: 60px !important;
            padding-bottom: 79px !important;
        }
        .vc_row[data-vc-full-width] {
            transition: opacity .5s ease;
            overflow: hidden;
        }
        .tp-ft-about {
            .address ul li,  .tp-investor-relation ul li{
                list-style: none;
                margin-bottom: 10px;
            }
        }
        .wpb_content_element {
            margin-bottom: 35px;
        }
        .wpb_text_column :last-child, .wpb_text_column p:last-child {
            margin-bottom: 0;
        }
        ul {
            display: block;
            margin: 0;
            list-style: disc;
        }
        li {
            display: list-item;
            text-align: -webkit-match-parent;
        }
        ul li {
            line-height: 31px;
            font-size: 14px;
            color: @color;
            font-weight: 300;
            list-style: none;
        }
        h2 {
            margin-top: 0;
            font-size: 15px;
        }
        .fa {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
        .tp-investor-relation{
            h2{
                padding-bottom: 30px;
            }
            ul li {
                i {
                    margin-right: 20px;
                }
                a {
                    list-style: none;
                    text-transform: inherit;
                }
            }
        }
        a {
            color: #666666;
            text-decoration: none;
            transition: all .3s;
        }
        a:focus, a:hover {
            text-decoration: none;
            color: #666666;
        }
        .twitter-widget ul li {
            margin-bottom: 30px;
        }
        p {
            margin: 0 0 10px;
            -webkit-font-smoothing: antialiased;
            font-size: 14px;
            font-weight: 300;
            color:@color;
            margin-bottom: 30px;
            line-height: 21px;
        }
        input[type=submit] {
            -webkit-appearance: button;
        }
        .tiny-footer {
            p{
                color: #666;
            }
        }
        .vc_custom_1436839546058 {
            margin-bottom: 0px !important;
            padding-bottom: 30px !important;
        }
        .pull-right {
            float: right!important;
        }
        .social-icon-ft li {
            float: left;
            margin-right: 12px;
        }
    }
}


