.type-g-6 body {
  font: 75%/150% Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #333;
}
.type-g-6 .stripe {
  margin: 0 auto;
  background: #ffffff;
  color: #1F1F1F;
  font-family: 'Source Sans Pro';
}
.type-g-6 .img {
  max-width: none !important;
  vertical-align: middle;
  border: 0;
  top: -0.0432649%;
  left: 0%;
  width: 100%;
  height: auto;
  visibility: visible;
  display: block;
  position: absolute;
}
.type-g-6 .clear {
  clear: both;
}
.type-g-6 .row {
  width: 100%;
  float: left;
}
.type-g-6 .col-1 {
  width: 80%;
  float: left;
}
.type-g-6 .col-2 {
  width: 20%;
  float: left;
}
.type-g-6 .col-0 {
  width: 40%;
  float: left;
}
.type-g-6 .col-0-1 {
  width: 50%;
  float: right;
}
.type-g-6 .col-5 {
  width: 40%;
  float: left;
}
.type-g-6 .section-title.padding-right {
  padding-right: 80px !important;
}
.type-g-6 .caption {
  float: center;
}
.type-g-6 .caption h4 {
  color: #444;
  text-align: center;
}
.type-g-6 .caption p {
  color: #999;
  text-align: center;
}
.type-g-6 .product-name {
  margin: 0;
  font-size: 1em;
  line-height: 1em;
  font-weight: normal;
  text-align: center;
  font-weight: bold;
}
.type-g-6 h3.product-name a {
  color: inherit;
}
.type-g-6 .price-box {
  margin: 10px 0 10px;
  font-size: 1em;
}
.type-g-6 .price-box .price {
  color: #00a9c7;
}
.type-g-6 .price {
  white-space: nowrap !important;
}
.type-g-6 .product-name a:hover {
  color: #00a9c7;
  text-decoration: none;
}
.type-g-6 .ratings {
  margin: 10px 0;
  line-height: 1.0833em;
  text-align: center;
}
.type-g-6 .media-carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
.type-g-6 .media-carousel .carousel-control.left {
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width: 40px;
  margin-top: 30px;
}
.type-g-6 .media-carousel .carousel-control.right {
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width: 40px;
  margin-top: 30px;
}
.type-g-6 .media-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
.type-g-6 .media-carousel .carousel-indicators li {
  background: #c0c0c0;
}
.type-g-6 .media-carousel .carousel-indicators .active {
  background: #333333;
}
.type-g-6 .media-carousel img {
  width: 250px;
  height: 160px;
}
.type-g-6 .carousel-inner.onebyone-carosel {
  margin: auto;
  width: 90%;
}
.type-g-6 .onebyone-carosel .active.left {
  left: -33.33%;
}
.type-g-6 .onebyone-carosel .active.right {
  left: 33.33%;
}
.type-g-6 .onebyone-carosel .next {
  left: 33.33%;
}
.type-g-6 .onebyone-carosel .prev {
  left: -33.33%;
}
