.back-to-top {
  border-radius: 50%;
  padding: 10px;
  border: 2px white solid;
  font-size: 18px;
  position: fixed;
  bottom: 15px;
  right: 20px;
}
.type_a_logo .container {
  width: 100%;
}
.type_a_logo .col-md-3,
.type_a_logo .col-md-6 {
  margin: 0;
  padding: 0;
}
.type_a_logo .logo img {
  text-align: center;
}
.type_a_logo body {
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
}
.type_a_logo a,
.type_a_logo p,
.type_a_logo li {
  color: #6c7b84;
}
.type_a_logo .style-M2 {
  margin-top: 30px;
}
.type_a_logo .style-M2 .container {
  padding-left: 0;
  padding-right: 0;
}
.type_a_logo .style-M2 .nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.type_a_logo .style-M2 .megamenu .nav,
.type_a_logo .style-M2 .megamenu .collapse,
.type_a_logo .style-M2 .megamenu .dropup,
.type_a_logo .style-M2 .megamenu .dropdown {
  position: static;
  margin-left: -10px;
}
.type_a_logo .style-M2 .megamenu .container {
  position: relative;
}
.type_a_logo .style-M2 .megamenu .dropdown-menu {
  left: auto;
}
.type_a_logo .style-M2 .megamenu .megamenu-content {
  padding: 15px;
}
.type_a_logo .style-M2 .megamenu .megamenu-content h3 {
  margin-top: 0;
  color: #428bca;
  font-size: 18px;
}
.type_a_logo .style-M2 .megamenu .dropdown.megamenu-fw .dropdown-menu {
  left: 0;
  right: 0;
}
.type_a_logo .style-M2 .navbar > .container .navbar-brand {
  padding-right: 105px;
  padding-left: 30px;
}
.type_a_logo .style-M2 .navbar-default {
  background: #2961ae;
  margin-top: -31px;
}
.type_a_logo .style-M2 .navbar-header span {
  color: #ffffff;
}
.type_a_logo .style-M2 .navbar-header span:hover {
  color: #ffffff;
}
.type_a_logo .style-M2 .container > .navbar-header {
  margin-right: 30px;
  margin-left: 30px;
}
.type_a_logo .style-M2 .navbar-default .navbar-nav > .open > a,
.type_a_logo .style-M2 .navbar-default .navbar-nav > .open > a:focus,
.type_a_logo .style-M2 .navbar-default .navbar-nav > .open > a:hover {
  background-color: #374046;
}
.type_a_logo .style-M2 .navbar-right {
  background: #2961ae;
}
.type_a_logo .style-M2 .navbar-right  li a {
  color: #F5F4F4;
}
.type_a_logo .style-M2 .navbar-right  span {
  color: #F5F4F4;
  width: 30px;
  font-size: 17px;
}
.type_a_logo .style-M2 .dropdown-menu {
  background: #F5F4F4;
}
.type_a_logo .style-M2 .dropdown-menu li {
  padding: 5px;
}
.type_a_logo .style-M2 .dropdown-menu li a:hover {
  color: #4BAE4F;
}
.type_a_logo .style-M2 .megamenu .megamenu-content h3 {
  color: #374046;
}
.type_a_logo .style-M2 .dropdown-menu ul {
  margin-top: 20px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  margin-left: -45px;
}
.type_a_logo .style-M2 .dropdown-menu ul li a {
  color: #6c7b84;
  text-decoration: none;
}
.type_a_logo .style-M2 .dropdown-menu ul li a:hover {
  color: #4BAE4F;
}
.type_a_logo .style-M2 .dropdown-menu-mega li {
  padding: 5px;
  text-align: center;
}
.type_a_logo .style-M2 .dropdown-menu-mega ul li a {
  color: #4BAE4F;
  font-size: 16px;
}
.type_a_logo .style-M2 .dropdown-menu-mega ul li a:hover {
  color: #6c7b84;
}
.type_a_logo .style-M2 .thumbnail {
  background: #F5F4F4;
  border: 0;
}
.type_a_logo .style-M2 .thumbnail .caption {
  display: table-caption;
  text-align: center;
  width: 100%;
}
.type_a_logo .style-M2 .thumbnail .caption h3 {
  font-weight: bold;
}
.type_a_logo .style-M2 .btn-success {
  border-radius: 0;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.17);
}
.type_a_logo .style-M2 .btn-success:hover {
  background: #374046;
}
.type_a_logo .style-M2 .thumbnail .caption a:hover {
  text-decoration: none;
}
.type_a_logo .style-M2 .thumbnail .caption input a {
  color: white;
}
.type_a_logo .style-M2 .thumbnail img:hover {
  opacity: 0.8;
}
.type_a_logo .style-M2 .navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  border-right: 1px solid rgba(255,255,255,0.15);
  text-transform: uppercase;
  padding: 8px 16px 12px 16px;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 4px solid transparent;
  font: 700 15px/19px 'Roboto', trebuchet ms;
}
.type_a_logo .style-M2 .navbar-right li a:hover {
  background: #2961ae;
  border-top: 3px solid #fa9e19;
  margin-top: -4px;
}
.type_a_logo .style-M2 .navbar-right {
  border-top: 4px solid transparent;
}
.type_a_logo .style-M2 .dropdown-menu li {
  padding: 1px;
}
.type_a_logo .style-M2 .dropdown-menu li a:hover {
  color: black;
}
.type_a_logo .style-M2 .last-sub-menu {
  margin-bottom: -10px;
  border-bottom: 3px #fa9e19 solid;
}
.type_a_logo .style-M2 .dropdown a:hover {
  border-top: 3px #fa9e19 solid;
}
.type_a_logo .style-M2 .dropdown {
  padding-left: 10px;
}
.type_a_logo .style-M2 .dropdown-menu li a {
  border-top: 0;
}
.type_a_logo .header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}
.type_a_logo #main_header {
  width: 100%;
  background-color: #fff;
  position: relative;
  z-index: 9000;
}
.type_a_logo header .logo-section {
  margin: 0 auto;
  padding: 20px 0;
  overflow: visible;
  padding-top: 5px;
  padding-bottom: 0;
}
.type_a_logo a:-webkit-any-link {
  cursor: auto;
}
.type_a_logo a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  outline: none !important;
  transition: all 0.4s ease 0s;
  color: #fa9e19;
}
.type_a_logo img {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
  border: 0;
}
.type_a_logo #re_menu_near_logo {
  padding: 0;
  margin: 20px 0px 0 0px;
  box-sizing: border-box;
  overflow: hidden;
}
.type_a_logo ul {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
.type_a_logo li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.type_a_logo li {
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: list-item;
  text-align: -webkit-match-parent;
}
.type_a_logo .fa-plus:before {
  content: "\f067";
}
.type_a_logo #re_menu_near_logo li {
  float: left;
  font-size: 16px;
  margin: 0 4px;
  line-height: 34px;
  font-family: Roboto, Arial;
  font-weight: bold;
}
.type_a_logo #re_menu_near_logo li a {
  color: #111;
}
.type_a_logo i {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.type_a_logo .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.type_a_logo #re_menu_near_logo li i {
  margin: 0 6px 0 0;
}
.type_a_logo span {
  font: inherit;
  vertical-align: baseline;
}
.type_a_logo .floatright {
  float: right;
}
.type_a_logo .wpsm-button {
  font-family: Arial, sans-serif;
  cursor: pointer;
  display: inline-block;
  text-decoration: none !important;
  transition: all 0.4s ease 0s;
  color: #fff !important;
  font-weight: bold !important;
  text-align: center;
  white-space: normal;
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  position: relative;
  font-style: normal;
  background: #aaa;
  box-sizing: border-box;
}
.type_a_logo .wpsm-button.white {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #111 !important;
  text-shadow: none;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.type_a_logo .wpsm-button.medium {
  padding: 8px 16px;
  line-height: 15px !important;
  font-size: 15px;
}
.type_a_logo .wpsm-button.orange {
  background: #fa9e19;
  border: 1px solid #FB6909;
}
.type_a_logo .wpsm-button.medium i.fa {
  padding-right: 8px;
}
.type_a_logo .margin-header-top {
  margin: 0 30px;
}
.type_a_logo .head_search {
  margin-right: 0px;
  text-align: center;
}
.type_a_logo .search-box .col-md-4 span,
.type_a_logo a {
  width: 95%;
}
.type_a_logo .search-box .col-md-4 {
  padding: 0;
  margin: 0;
}
.type_a_logo .search-box {
  display: inline-block;
  margin-top: 20px;
}
.type_a_logo form {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.type_a_logo form.search-form {
  padding: 0;
  border: none;
  background-color: #fff;
  position: relative;
  display: inline-block;
  margin: 0;
}
.type_a_logo .head_search .search-form {
  width: 100%;
}
.type_a_logo input {
  -webkit-writing-mode: horizontal-tb;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em 0em 0em 0em;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
}
.type_a_logo input[type="text"] {
  box-sizing: border-box;
  outline: 0;
  padding: 9px 10px;
  color: #444;
  background: none #fff;
  border-radius: 0;
  transition: border-color 0.4s ease;
  border: 1px solid #ccc;
  line-height: 18px;
  font: normal 15px/18px Arial;
  -webkit-appearance: none;
}
.type_a_logo form.search-form input[type="text"] {
  border: 1px solid #ddd;
  height: 34px;
  background-color: #fff;
  padding: 2px 37px 2px 7px;
  transition: all 0.4s ease;
  outline: 0;
}
.type_a_logo .head_search form.search-form input[type="text"] {
  width: 100%;
}
.type_a_logo form.search-form * {
  -webkit-box-sizing: border-box;
}
.type_a_logo button {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  margin: 0em 0em 0em 0em;
  font: 13.3333px Arial;
  -webkit-writing-mode: horizontal-tb;
  -webkit-appearance: button;
  color: buttontext;
  align-items: flex-start;
  text-align: center;
  box-sizing: border-box;
  padding: 1px 6px;
}
.type_a_logo form.search-form [type="submit"] {
  background: none transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 12px;
  line-height: 34px;
  height: 34px;
  vertical-align: middle;
}
.type_a_logo form.search-form i {
  color: #aaa;
}
.type_a_logo .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.type_a_logo .main-nav {
  border-bottom: none !important;
}
.type_a_logo .main-nav.dark_style {
  max-height: 70px;
}
.type_a_logo .slideshow-1 body {
  padding-top: 20px;
}
.type_a_logo .slideshow-1 .carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}
.type_a_logo .slideshow-1 .carousel-control {
  left: -12px;
  height: 40px;
  width: 40px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  margin-top: 90px;
}
.type_a_logo .slideshow-1 .carousel-control.right {
  right: -12px;
}
.type_a_logo .slideshow-1 .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
.type_a_logo .slideshow-1 .carousel-indicators li {
  background: #cecece;
}
.type_a_logo .slideshow-1 .carousel-indicators .active {
  background: #428bca;
}
.type_a_menu .caret-up {
  width: 0;
  height: 0;
  border-left: 4px solid rgba(0,0,0,0);
  border-right: 4px solid rgba(0,0,0,0);
  border-bottom: 4px solid;
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}
.type_a_menu .navbar-default {
  background: none repeat scroll 0 0 #2961ae !important;
}
.type_a_menu .navbar-default .navbar-nav > li {
  border-right: 1px solid #4979BA;
}
.type_a_menu .navbar-nav > li > .dropdown-menu {
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #fa9e19;
}
.type_a_menu .dropdown-menu > li > a {
  text-transform: none;
  font-size: 15px;
  line-height: 16px;
  color: #111 !important;
  font-weight: 400;
}
.type_a_menu .dropdown-menu > li {
  padding: 10px;
  border-bottom: 1px solid #DDD;
}
.type_a_menu .navbar-default .navbar-nav > li > a {
  color: white;
  font-weight: bold;
  font: 700 14px/19px 'Roboto', trebuchet ms;
  text-transform: uppercase;
}
.type_a_menu .navbar-default .navbar-nav > li > a:hover {
  border-top: 4px solid #fa9e19;
  box-sizing: border-box;
  color: #555;
  background-color: transparent;
  color: white;
  padding-top: 11px;
}
.type_a_menu .navbar-default .navbar-nav > .open > a:hover {
  border-top: 4px solid #fa9e19;
  box-sizing: border-box;
  color: #555;
  background-color: transparent;
  color: white;
  padding-top: 11px;
}
.type_a_menu .navbar-default .navbar-nav > .open > a,
.type_a_menu .navbar-default .navbar-nav > .open > a:focus,
.type_a_menu .navbar-default .navbar-nav > .open > a:hover {
  color: white;
  background-color: #2961ae;
}
.type_a_menu .navbar-header {
  margin-left: 50px;
}
.type_a_menu .navbar-right {
  margin-right: 70px;
}
.type_a_menu .dropdown-menu > li:hover {
  background: #DDD;
}
.type_a_menu .dropdown-menu > li>a:hover {
  background: #DDD;
}
.type_a_silde {
  margin: 0px 55px;
}
.type_a_silde .container {
  width: 100%;
}
.type_a_silde .r-part-car {
  padding: 10px;
}
.type_a_silde .image-slider {
  border: 1px solid #DDD;
}
.type_a_silde .glyphicon-chevron-left {
  margin-left: -55%;
  color: #000;
}
.type_a_silde .glyphicon-chevron-right {
  margin-right: -70%;
  color: #000;
}
.type_a_silde .carousel-inner .active.left {
  left: -33%;
}
.type_a_silde .carousel-inner .next {
  left: 33%;
}
.type_a_silde .carousel-inner .prev {
  left: -33%;
}
.type_a_silde .carousel-control.left,
.type_a_silde .carousel-control.right {
  background-image: none;
}
.type_a_silde .item:not(.prev) {
  visibility: visible;
}
.type_a_silde .item.right:not(.prev) {
  visibility: hidden;
}
.type_a_silde .rightest {
  visibility: visible;
}
.type_a_silde .caption-slider i,
.type_a_silde #temperatur132 {
  color: red;
  font-size: 18px;
}
.type_a_silde .caption-slider a:hover {
  text-decoration: none;
}
.type_a_silde .caption-slider h2 {
  color: black;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.type_a_silde .cat_link_meta a {
  color: black;
  font-size: 10px;
  font-style: italic;
}
.type_a_silde .caption-slider h2 a {
  color: black;
}
.type_a_silde .simple_price_count {
  font-size: 12px;
  color: green;
}
.type_a_silde .simple_price_count del {
  font-size: 12px;
  color: #DDD;
}
.content.no_shadow {
  background-color: #F5F5F5;
  margin-top: 35px;
}
.type_a_2 div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.type_a_2 .content {
  background: #fff;
  padding: 30px 35px;
  clear: both;
  -webkit-box-sizing: border-box;
  margin-top: 34px;
}
.type_a_2 .separate_sidebar_bg .content {
  box-shadow: none;
  margin: 20px auto;
  background-color: transparent;
  padding: 0;
}
@media screen and (min-width: 1225px) {
  .type_a_2 .separate_sidebar_bg .content {
    box-shadow: none;
    width: 1200px;
  }
}
.type_a_2 .clearfix:before {
  content: "";
  display: table;
}
.type_a_2 .main-side {
  position: relative;
  -webkit-box-sizing: border-box;
}
.type_a_2 .main-side.full_width {
  float: none;
  width: 100%;
}
.type_a_2 .vc_row {
  box-sizing: border-box !important;
}
.type_a_2 .vc_row.vc_rehub_container {
  margin: 0 0 35px 0;
}
.type_a_2 vc_col-sm-8 {
  position: relative;
  min-height: 1px;
}
.type_a_2 .vc_row.vc_rehub_container>.vc_col-sm-8 {
  float: left;
}
.type_a_2 .separate_sidebar_bg .content .vc_row.vc_rehub_container > .vc_col-sm-8 {
  box-sizing: border-box;
}
.type_a_2 .content.no_shadow .vc_row.vc_rehub_container>.vc_col-sm-8 {
  background-color: transparent !important;
  padding: 0 !important;
  box-shadow: none !important;
  border: none !important;
}
@media screen and (min-width: 1225px) {
  .type_a_2 .separate_sidebar_bg .content .vc_row.vc_rehub_container > .vc_col-sm-8 {
    width: 840px;
  }
}
.type_a_2 .vc_column_container>.vc_column-inner {
  box-sizing: border-box;
  width: 100%;
}
.type_a_2 .vc_row.vc_rehub_container .vc_column_container>.vc_column-inner {
  padding: 0;
}
.type_a_2 .vc_column-inner::before {
  content: " ";
  display: table;
}
.type_a_2 .span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.type_a_2 .re_filter_panel {
  position: relative;
  z-index: 1000;
  margin: 0 0 25px 0;
  background: #FFFFFF;
  margin-right: 2px;
}
.type_a_2 .menu-last-right {
  padding-top: 10px;
  float: right;
}
.type_a_2 .btn-primary {
  background: transparent;
  border-radius: 0;
  margin-right: 20px;
  color: #000;
  font-weight: bold;
  margin-left: -40px;
  padding-left: 14px;
}
.type_a_2 .nav-tabs>li>a {
  padding: 0 10px;
  margin: 0;
}
.type_a_2 .content.no_shadow {
  background-color: #F5F5F5;
}
.type_a_2 ul {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  margin-left: -40px;
}
.type_a_2 .nav-tabs .dropdown-menu {
  margin-top: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.type_a_2 .nav .open>a,
.type_a_2 .nav .open>a:focus,
.type_a_2 .nav .open>a:hover {
  background-color: #fff;
  border-color: #fff;
}
.type_a_2 .dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  float: left;
  margin-left: -40px;
}
.type_a_2 .re_filter_panel ul.re_filter_ul {
  margin: 0;
  padding: 0;
}
.type_a_2 .dropdown-menu multi-level {
  border-bottom: 0px;
}
.type_a_2 li {
  text-align: -webkit-match-parent;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.type_a_2 .re_filter_panel ul.re_filter_ul li {
  display: inline-block;
  margin: 0;
}
.type_a_2 span.active.re_filtersort_btn {
  background: #000000 !important;
  color: #fff !important;
}
.type_a_2 .re_filter_panel ul.re_filter_ul li span {
  cursor: pointer;
  padding: 12px 16px;
  display: inline-block;
  transition: all .3s ease;
  font: bold 14px/16px Arial;
}
.type_a_2 .re_filter_panel .re_tax_dropdown {
  position: absolute;
  top: 17px;
  right: 1px;
  margin: -2px;
  overflow: hidden;
  transition: all 0.5s ease;
}
.type_a_2 .re_filter_panel .re_tax_dropdown li.label {
  display: block;
  padding: 12px 20px;
  margin: 0;
  font: bold 14px/16px Arial;
  background: #EEE;
  cursor: pointer;
}
.type_a_2 .re_filter_panel .re_tax_dropdown li.label {
  color: #111;
  cursor: pointer;
}
.type_a_2 .re_filter_panel .re_tax_dropdown li.label:after {
  float: right;
  content: "+";
  margin-left: 5px;
  transition: transform .3s ease-in-out;
}
.type_a_2 .re_filter_panel .re_tax_dropdown li.rh_drop_item {
  display: block;
  margin: 0;
  height: 0;
}
.type_a_2 .re_filter_panel .re_tax_dropdown li.rh_drop_item span {
  display: block;
  padding: 12px 20px;
  background-color: #FFF;
  opacity: 0;
  transform: translate3d(100%,0,0);
  transition: opacity 0.3s, transform 0.3s;
  font: normal 14px/16px Arial;
  color: #111;
}
.type_a_2 .re_filter_panel li a p:hover {
  color: white;
}
.type_a_2 .nav-tabs>li>a {
  margin-right: 2;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 0px 0px 0 0;
}
.type_a_2 .nav-tabs>li.active>a:hover {
  color: white;
  cursor: default;
  background-color: black;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  font: bold 14px/16px Arial;
}
.type_a_2 .nav-tabs>li>a:hover {
  color: white;
  cursor: default;
  background-color: black;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  font: bold 14px/16px Arial;
}
.type_a_2 .col_wrap_three {
  margin: 0 -1.5% 20px;
  overflow: hidden;
}
.type_a_2 .rh-flex-eq-height {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.type_a_2 .post_eq_grid {
  padding-top: 5px;
}
.type_a_2 article {
  vertical-align: baseline;
  display: block;
  font: 16px/24px 'arial', trebuchet ms;
  color: #111;
}
.type_a_2 button.alreadyhot {
  cursor: not-allowed;
  opacity: 0.75;
}
.type_a_2 .offer_grid {
  background-color: #fff;
}
.type_a_2 .col_item {
  position: relative;
}
.type_a_2 .eq_grid .col_item {
  box-sizing: border-box;
  border: 1px solid #cecece;
  padding: 15px;
}
.type_a_2 .offer_act_enabled.col_item {
  padding-bottom: 50px;
}
.type_a_2 .offer_grid_com.offer_grid {
  text-align: inherit;
}
.type_a_2 .col_wrap_three .col_item {
  width: 30.33%;
  margin: 0 1.5% 25px;
  float: left;
}
.type_a_2 .col_wrap_three .col_item:nth-child(3n+1) {
  clear: both;
}
.type_a_2 .post_eq_grid .info_in_dealgrid {
  margin-bottom: 7px;
}
.type_a_2 figure {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  display: block;
}
.type_a_2 .offer_grid figure {
  white-space: nowrap;
  position: relative;
  text-align: center;
  margin: 0 auto 15px auto;
  overflow: hidden;
  height: 184px;
  vertical-align: middle;
}
.type_a_2 .grid_onsale {
  padding: 5px 7px;
  font: bold 12px/15px Arial;
  position: absolute;
  text-align: center;
  right: 0px;
  z-index: 1;
  margin: 0;
  background: #77b21d;
  color: #fff;
}
.type_a_2 .offer_grid .offer_thumb:before,
.type_a_2 .offer_grid figure:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.type_a_2 a:-webkit-any-link {
  cursor: auto;
}
.type_a_2 a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  outline: none !important;
  transition: all 0.4s ease 0s;
  color: #000;
}
.type_a_2 img {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  height: auto;
  border: 0;
  max-width: 100%;
  vertical-align: top;
}
.type_a_2 .vendor_for_grid .admin img {
  border-radius: 50%;
  margin-right: 8px;
}
.type_a_2 img.lazyimages {
  transition: opacity .5s ease-in;
}
.type_a_2 .offer_grid figure img {
  max-width: 100%;
  width: auto;
  max-height: 210px;
  vertical-align: middle;
  display: inline-block;
}
.type_a_2 .price_row_grid {
  overflow: hidden;
  margin: 0 0 10px 0;
}
.type_a_2 .floatleft {
  float: left;
}
.type_a_2 .offer_grid .priced_block {
  text-align: center;
}
.type_a_2 .post_eq_grid .priced_block {
  margin: 0;
}
.type_a_2 .offer_grid .priced_block {
  text-align: center;
}
.type_a_2 p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-ebkit-margin-end: 0px;
  border: 0;
  font-size: 100%;
  -webkit-margin-start: 0px;
  vertical-align: baseline;
  font: bold 14px/16px Arial;
}
.type_a_2 .offer_grid p {
  float: none;
}
.type_a_2 .offer_grid .priced_block p {
  margin: 0;
  padding: 0;
}
.type_a_2 .price_count {
  display: block;
  background: #111;
}
.type_a_2 .offer_grid .price_count {
  background-color: transparent;
  color: #c00;
  font: bold 16px Arial;
  padding: 0;
  text-align: left;
}
.type_a_2 ins {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.type_a_2 .priced_block .price_count ins {
  text-decoration: none;
  margin-left: 6px;
}
.type_a_2 .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.type_a_2 .floatright {
  float: right;
}
.type_a_2 h3 {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: 700 21px/25px 'Roboto', trebuchet ms;
  color: #111;
}
.type_a_2 .offer_grid h3 {
  text-transform: none;
  font-size: 15px;
  line-height: 18px;
  height: 54px;
  margin: 0 0 5px 0;
  overflow: hidden;
  position: relative;
  font-weight: normal;
  text-align: left;
  margin-left: 6px;
}
.type_a_2 .hoticonfireclass:before {
  font-family: FontAwesome;
  content: "\f06d";
  margin-right: 8px;
  color: #CA212A;
}
.type_a_2 h3 a {
  text-decoration: none !important;
}
.type_a_2 .offer_grid_com .meta_for_grid {
  overflow: hidden;
  line-height: 18px;
}
.type_a_2 .offer_grid .cat_link_meta a {
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  margin-left: 6px;
}
.type_a_2 .offer_grid_com .store_for_grid {
  text-align: left;
  line-height: 12px;
  margin-left: 6px;
}
.type_a_2 .store_post_meta_item {
  font-size: 12px;
  line-height: 14px;
}
.type_a_2 .store_post_meta_item a {
  color: #555;
  text-decoration: none;
}
.type_a_2 .date_for_grid {
  color: #999;
}
.type_a_2 .offer_grid .date_ago {
  display: block;
  text-align: center;
  font-size: 11px;
}
.type_a_2 .offer_grid .date_ago {
  text-align: center;
  margin-right: 8px;
}
.type_a_2 i {
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.type_a_2 .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.type_a_2 .date_for_grid i {
  margin: 0 3px;
}
.type_a_2 .fa-clock-o:before {
  content: "\f017";
}
.type_a_2 .re_actions_for_grid {
  height: 38px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-left: 1px solid #fff;
  z-index: 2;
}
.type_a_2 .re_actions_for_grid .btn_act_for_grid {
  background-color: #f4f3f3;
  height: 38px;
  float: left;
  line-height: 38px;
  color: #656d78;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  display: block;
  padding: 0;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  position: relative;
  font-size: 14px;
}
.type_a_2 .re_actions_for_grid.two_col_btn_for_grid .btn_act_for_grid {
  width: 50%;
}
.type_a_2 .re_actions_for_grid .btn_act_for_grid {
  color: #656d78;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
}
.type_a_2 .table_cell_thumbs {
  overflow: hidden;
}
.type_a_2 .btn_act_for_grid:hover .table_cell_thumbs {
  display: inline;
}
.type_a_2 .thumbplus {
  width: 27px;
  height: 27px;
  line-height: 27px;
  padding: 0;
  vertical-align: middle;
  font-size: 1em;
  border: 1px solid #dcddde;
  border-radius: 4px;
  outline: none;
  color: #67a827;
  margin: 0 8px 0 0;
}
.type_a_2 .btn_act_for_grid .thumbplus {
  margin-bottom: 3px;
}
.type_a_2 .thumbplus:hover {
  background-color: #67a827;
  border: 1px solid #67a827;
  color: #fff;
}
.type_a_2 .thumbplus:before {
  font-family: FontAwesome;
  content: "\f087";
  line-height: 25px;
  display: inline-block;
}
.type_a_2 .thumbminus {
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  width: 27px;
  height: 27px;
  line-height: 27px;
  padding: 0;
  vertical-align: middle;
  font-size: 1em;
  border: 1px solid #dcddde;
  border-radius: 4px;
  outline: none;
  color: #d10000;
}
.type_a_2 .thumbminus:before {
  font-family: FontAwesome;
  content: "\f088";
  line-height: 25px;
  display: inline-block;
}
.type_a_2 .btn_act_for_grid .thumbminus {
  margin-bottom: 3px;
}
.type_a_2 .btn_act_for_grid .table_cell_thumbs {
  display: none;
}
.type_a_2 button {
  -webkit-writing-mode: horizontal-tb;
}
.type_a_2 user agent stylesheet
    button {
  -webkit-appearance: button;
}
.type_a_2 button {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  font: 13.3333px Arial;
  align-items: flex-start;
  text-align: center;
  box-sizing: border-box;
}
.type_a_2 .btn_act_for_grid .thumbplus {
  margin-bottom: 3px;
}
.type_a_2 .dropdown-menu li.rh_drop_item a {
  display: block;
  padding: 12px 20px;
  background-color: #FFF;
  border-bottom: 1px solid #EDEDED;
  transition: opacity 0.3s, transform 0.3s;
  font: normal 14px/16px Arial;
  color: #111;
}
.type_a_2 .btn_act_for_grid .thumbscount:before {
  font-family: FontAwesome;
  content: "\f087";
  line-height: 38px;
  display: inline-block;
  margin-right: 8px;
}
.type_a_2 .thumbminus {
  display: inline-block;
  cursor: pointer;
  width: 27px;
  height: 27px;
  line-height: 27px;
  padding: 0;
  vertical-align: middle;
  font-size: 1em;
  border-radius: 4px;
  outline: none;
  color: #d10000;
}
.type_a_2 .btn_act_for_grid .thumbminus {
  margin-bottom: 3px;
}
.type_a_2 .thumbminus:hover {
  background-color: #d10000;
  color: #fff;
  border: 1px solid #d10000;
}
.type_a_2 .thumbminus:before {
  font-family: FontAwesome;
  content: "\f088";
  line-height: 25px;
  display: inline-block;
}
.type_a_2 .table_cell_thumbs {
  overflow: hidden;
}
.type_a_2 .btn_act_for_grid .table_cell_thumbs {
  display: none;
}
.type_a_2 .thumbscount {
  font: 14px/29px Arial;
  display: inline-block;
  color: #67a827;
}
.type_a_2 .re_actions_for_grid .thumbscount {
  float: none;
  margin: 0;
  line-height: 38px;
  font-size: inherit;
}
.type_a_2 .btn_act_for_grid .thumbscount:before {
  font-family: FontAwesome;
  content: "\f087";
  line-height: 38px;
  display: inline-block;
  margin-right: 8px;
}
.type_a_2 .priced_block .price_count del {
  opacity: 0.7;
}
.type_a_2 .offer_grid .price_count del {
  display: block;
  font-size: 12px;
  color: #c1c1c1;
  vertical-align: top;
  font-weight: normal;
  text-align: left;
  margin-left: 6px;
}
.type_a_2 .re-ribbon-badge {
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: -5px;
  overflow: hidden;
  width: 100px;
  height: 100px;
  z-index: 999;
  pointer-events: none;
}
.type_a_2 .re-ribbon-badge.left-badge {
  right: auto;
  left: -8px;
  text-align: left;
}
.type_a_2 .re-ribbon-badge span {
  font: bold 10px/28px Arial;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  width: 125px;
  display: block;
  box-shadow: 0 3px 10px -5px #000000;
  position: absolute;
  top: 21px;
}
.type_a_2 .re-ribbon-badge.left-badge span {
  transform: rotate(-45deg);
  right: 0;
}
.type_a_2 .re-ribbon-badge.badge_4 span {
  background: #D50000;
}
.type_a_2 .re-ribbon-badge span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #333;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #333;
}
.type_a_2 .re-ribbon-badge span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #333;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #333;
}
.type_a_2 .re_actions_for_grid .comm_number_for_grid:before {
  font-family: FontAwesome;
  content: "\f27a";
  margin-right: 5px;
}
.type_a_2 .re-ribbon-badge.badge_3 span {
  background: #F39200;
}
.type_a_2 .nav-tabs>li.active>a {
  color: #fcf8e3;
  cursor: default;
  background-color: #080808;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  font: bold 14px/16px Arial;
}
@media screen and (max-width: 480px) {
  .type_a_2 .menu-last-right {
    padding-top: 10px;
    float: right;
  }
  .type_a_2 .btn-primary {
    background: transparent;
    border-radius: 0;
    margin-right: 20px;
    color: #000;
    font-weight: bold;
    margin-left: -40px;
    padding-left: 14px;
  }
  .type_a_2 re_filter_panel-1 {
    width: 100%;
    overflow: hidden;
    float: none;
    box-sizing: border-box;
  }
  .type_a_2 .re {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    float: right;
  }
  .type_a_2 .mod .re .re_tax_dropdown {
    position: static;
  }
  .type_a_2 .navbar-header {
    display: block;
    background: #000;
  }
  .type_a_2 .navbar-inverse .navbar-brand {
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
  }
  .type_a_2 .navbar-inverse .navbar-nav>.active>a {
    display: none;
  }
  .type_a_2 .mod {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_2 .content {
    width: 100%;
    margin-left: 0;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_2 .slidebar-1 {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_2 .mosthot {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_2 .mosthot .sidebar {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_2 .mosthot .widget.buddypress #groups-list {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_2 .mod .col_wrap_three .col_item {
    width: 100%;
    margin: 0 1.5% 25px;
    float: left;
  }
  .type_a_2 #home1 {
    width: 100%;
  }
  .type_a_2 .rehub_chimp #mc_embed_signup input.email {
    text-align: center;
  }
  .type_a_2 .mosthot .widget img {
    display: block;
    float: none;
    width: 25px;
    height: 25px;
    margin: 0;
    overflow: hidden;
  }
  .type_a_2 .footer1 .footer-bottom.dark_style {
    height: auto;
  }
  .type_a_2 #text-3 {
    width: 100%;
    padding-right: 900px;
    font-size: 11px;
  }
  .type_a_2 .footer1 .footer-bottom .footer_widget {
    width: 100%;
    float: none;
    display: block;
  }
  .type_a_2 .footer1 footer#theme_footer .left {
    width: 25%;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 481px) and (max-width: 700px) {
  .type_a_2 .re_filter_panel-1 {
    width: 100%;
    overflow: hidden;
    float: none;
    box-sizing: border-box;
  }
  .type_a_2 .menu-last-right {
    padding-top: 10px;
    float: right;
  }
  .type_a_2 .btn-primary {
    background: transparent;
    border-radius: 0;
    margin-right: 20px;
    color: #000;
    font-weight: bold;
    margin-left: -40px;
    padding-left: 14px;
  }
  .type_a_2 .re {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    float: right;
  }
  .type_a_2 .mod .re .re_tax_dropdown {
    position: static;
  }
  .type_a_2 .navbar-header {
    display: block;
    background: #000;
  }
  .type_a_2 .navbar-inverse .navbar-brand {
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
  }
  .type_a_2 .navbar-inverse .navbar-nav>.active>a {
    display: none;
  }
  .type_a_2 .mod {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_2 .content {
    width: 100%;
    margin-left: 0;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_2 .slidebar-1 {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_2 .mosthot {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_2 .mosthot .sidebar {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_2 .mosthot .widget.buddypress #groups-list {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_2 .mod .col_wrap_three .col_item {
    width: 47%;
    margin: 0 1.5% 25px;
    float: left;
  }
  .type_a_2 #home1 {
    width: 100%;
  }
  .type_a_2 .rehub_chimp #mc_embed_signup input.email {
    text-align: center;
  }
  .type_a_2 .mosthot .widget img {
    display: block;
    float: none;
    width: 25px;
    height: 25px;
    margin: 0;
    overflow: hidden;
  }
  .type_a_2 .footer1 .footer-bottom.dark_style {
    height: auto;
  }
  .type_a_2 #text-3 {
    width: 100%;
    padding-right: 586px;
    font-size: 11px;
  }
  .type_a_2 .footer1 .footer-bottom .footer_widget {
    width: 100%;
    float: none;
    display: block;
  }
  .type_a_2 .footer1 footer#theme_footer .left {
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_2 .widget_search form.search-form input[type="text"] {
    width: 100%;
    clear: both;
  }
  .type_a_2 form.search-form input[type="text"] {
    padding: 20px 0;
    padding-left: 0px;
    padding-right: 355px;
  }
}
@media screen and (min-width: 701px) and (max-width: 999px) {
  .type_a_2 .re_filter_panel-1 {
    width: 70%;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
  }
  .type_a_2 .re {
    width: 30%;
    overflow: hidden;
    box-sizing: border-box;
    float: right;
  }
  .type_a_2 .menu-last-right {
    padding-top: 10px;
    float: right;
  }
  .type_a_2 .btn-primary {
    background: transparent;
    border-radius: 0;
    margin-right: 20px;
    color: #000;
    font-weight: bold;
    margin-left: -40px;
    padding-left: 14px;
  }
  .type_a_2 .mod .re .re_tax_dropdown {
    position: static;
  }
  .type_a_2 .navbar-header {
    display: block;
    background: #000;
  }
  .type_a_2 .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
    padding: 0px 14px;
    height: 40px;
  }
  .type_a_2 .navbar-inverse .navbar-brand {
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
  }
  .type_a_2 .navbar-inverse .navbar-nav>.active>a {
    display: none;
  }
  .type_a_2 .mod {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_2 .content {
    width: 100%;
    margin-left: 0;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_2 .slidebar-1 {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_2 .mosthot {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_2 .mosthot .sidebar {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_2 .mosthot .widget.buddypress #groups-list {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_2 .mod .col_wrap_three .col_item {
    width: 47%;
    margin: 0 1.5% 25px;
    float: left;
  }
  .type_a_2 #home1 {
    width: 100%;
  }
  .type_a_2 .rehub_chimp #mc_embed_signup input.email {
    text-align: center;
  }
  .type_a_2 .mosthot .widget img {
    display: block;
    float: none;
    width: 25px;
    height: 25px;
    margin: 0;
    overflow: hidden;
  }
  .type_a_2 .footer1 .footer-bottom.dark_style {
    height: auto;
  }
  .type_a_2 #text-3 {
    width: 100%;
    padding-right: 400px;
    font-size: 11px;
  }
  .type_a_2 .footer1 .footer-bottom .footer_widget {
    width: 100%;
    float: none;
    display: block;
  }
  .type_a_2 .footer1 footer#theme_footer .left {
    width: 63%;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_2 .widget_search form.search-form input[type="text"] {
    width: 100%;
    clear: both;
  }
  .type_a_2 form.search-form input[type="text"] {
    padding: 20px 0;
    padding-left: 0px;
    padding-right: 530px;
  }
}
.type_a_3 {
  margin-top: 31px;
}
.type_a_3 div {
  display: block;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.type_a_3 .vc_col-sm-4 {
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
}
.type_a_3 .vc_row.vc_rehub_container>.vc_col-sm-4 {
  width: 336px;
  float: right;
  padding: 0;
}
.type_a_3 .vc_column_container>.vc_column-inner {
  box-sizing: border-box;
  width: 100%;
}
.type_a_3 .vc_row.vc_rehub_container .vc_column_container>.vc_column-inner {
  padding: 0;
}
.type_a_3 .sidebar {
  width: 336px;
  border: none;
}
.type_a_3 .sidebar .widget {
  clear: both;
  overflow: hidden;
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin: 0 0 35px 0;
}
.type_a_3 .widget .title,
.type_a_3 .widget h2 {
  font: 700 18px/20px 'Roboto', trebuchet ms;
  color: #111;
  margin: 0 0 15px 0;
}
.type_a_3 .re_filter_panel {
  position: relative;
  z-index: 1000;
  margin: 0 0 25px 0;
}
.type_a_3 .tabsajax .re_filter_panel {
  background: linear-gradient(to bottom,#f9f9f9 1px,#F5F5F5);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.7), 0 1px 2px rgba(0,0,0,0.08);
  margin-bottom: 8px;
}
.type_a_3 .content.no_shadow .re_filter_panel {
  background-color: #fff;
}
.type_a_3 ul {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  padding: 3px;
}
.type_a_3 .re_filter_panel ul.re_filter_ul {
  margin: 0;
  padding: 0;
}
.type_a_3 .sidebar .widget p {
  color: #fff;
  margin-bottom: 10px;
  line-height: 18px;
  font: bold 10px/16px Arial;
  text-align: center;
}
.type_a_3 .sidebar .widget p:hover {
  color: #fff;
  margin-bottom: 10px;
  line-height: 18px;
  font: bold 10px/16px Arial;
  text-align: center;
}
.type_a_3 .nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid #ccc;
  padding: 10px;
  color: #fff;
}
.type_a_3 .nav-tabs>li>a:hover {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid #ccc;
  color: #fff;
  background: #000;
}
.type_a_3 .nav-tabs>li.active>a {
  color: #fff;
  cursor: default;
  background-color: #000;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  font: bold 14px/16px Arial;
}
.type_a_3 .nav-tabs>li.active>a:hover {
  color: white;
  cursor: default;
  background-color: black;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.type_a_3 li {
  text-align: -webkit-match-parent;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.type_a_3 .re_filter_panel ul.re_filter_ul li {
  display: inline-block;
  margin: 0;
  margin-left: -3px;
}
.type_a_3 .tabsajax .re_filter_panel ul.re_filter_ul li {
  float: left;
}
.type_a_3 .rh_col_tabs_3 .re_filter_panel ul.re_filter_ul li {
  width: 33.33%;
}
.type_a_3 span {
  margin: 0;
  border: 0;
  vertical-align: baseline;
}
.type_a_3 span.active.re_filtersort_btn {
  background: #000000 !important;
  color: #fff !important;
}
.type_a_3 .re_filter_panel ul.re_filter_ul li span {
  cursor: pointer;
  transition: all .3s ease;
  font: bold 14px/16px Arial;
}
.type_a_3 .tabsajax .re_filter_panel ul.re_filter_ul li span {
  display: block;
  text-align: center;
  padding: 7px 0;
  border-right: 1px solid #ccc;
}
.type_a_3 .sidebar .wpsm_recent_posts_list .item-small-news {
  border-bottom: 1px solid #E4E4E4;
  padding: 10px 0;
  background: radial-gradient(ellipse at top,rgba(255,255,255,0.75),rgba(255,255,255,0) 75%);
}
.type_a_3 h3 {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: 700 21px/25px 'Roboto', trebuchet ms;
  color: #111;
}
.type_a_3 .wpsm_recent_posts_list h3 {
  font-size: 15px;
  line-height: 19px;
  margin: 0 0 10px 0;
}
.type_a_3 .temperatur {
  color: #CA212A;
  font-weight: bold;
  padding: 3px 3px 0 0;
  display: inline-block;
  white-space: nowrap;
}
.type_a_3 a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  transition: all 0.4s ease 0s;
  outline: none !important;
  color: #fa9e19;
}
.type_a_3 a:hover {
  color: #000;
}
.type_a_3 h3 a {
  color: #111;
  text-decoration: none !important;
}
.type_a_3 .simple_price_count {
  font-weight: normal;
  color: green;
  margin-left: 8px;
}
.type_a_3 .post-meta {
  font-size: 11px;
  line-height: 12px;
  font-style: italic;
  color: #999;
}
.type_a_3 .tabsajax .post-meta {
  margin: 0;
}
.type_a_3 .post-meta span {
  display: inline-block;
  margin-right: 3px;
}
.type_a_3 i {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.type_a_3 .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.type_a_3 .def_btn {
  display: inline-block;
  color: #444;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #ebebeb;
  background: linear-gradient(to bottom,#fff 1px,#f9f9f9 1px,#ebebeb);
  border: 1px solid #b9bbbd;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.7), 0 1px 2px rgba(0,0,0,0.08);
  transition: all 0.4s ease 0s;
  outline: none;
  font: 700 14px/16px 'Roboto', trebuchet ms;
  text-decoration: none;
  -webkit-appearance: none;
  text-shadow: 0 1px 1px #fff;
}
.type_a_3 .tabsajax .re_ajax_pagination_btn.def_btn {
  line-height: 18px;
  font-size: 13px;
  padding: 6px 30px;
}
.type_a_3 .sidebar
    .widget {
  clear: both;
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin: 0 0 35px 0;
}
.type_a_3 .sidebar .widget.widget_text {
  overflow: visible;
}
.type_a_3 .rehub_chimp {
  position: relative;
  margin: 30px auto;
  background-color: #F5F5F5;
  padding: 20px;
  border: 4px solid #E6E6E6;
}
.type_a_3 .rehub_chimp.centered_form {
  text-align: center;
}
.type_a_3 .rehub_chimp h3 {
  text-transform: uppercase;
  font-size: 23px;
  margin: 10px 0 20px 0;
}
.type_a_3 .rehub_chimp #mc_embed_signup {
  width: 500px;
  position: relative;
  vertical-align: middle;
  margin: 0;
  background-color: transparent;
  padding: 0;
  max-width: 100%;
}
.type_a_3 .rehub_chimp.centered_form #mc_embed_signup {
  margin: 5px auto;
}
.type_a_3 form {
  display: block;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.type_a_3 .rehub_chimp #mc_embed_signup form {
  padding: 0;
}
.type_a_3 input {
  -webkit-writing-mode: horizontal-tb;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em 0em 0em 0em;
}
.type_a_3 input[type="email"] {
  color: #444;
  background: none #fff;
  transition: border-color 0.4s ease;
  line-height: 18px;
  font: normal 15px/18px Arial;
  -webkit-appearance: none;
}
.type_a_3 .rehub_chimp #mc_embed_signup input.email {
  border: 1px solid #d9d9d9;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: normal;
  font-size: 15px;
  padding: 12px 10px;
}
.type_a_3 input[type="text"] {
  box-sizing: border-box;
  outline: 0;
  padding: 9px 10px;
  color: #444;
  background: none #fff;
  border-radius: 0;
  transition: border-color 0.4s ease;
  border: 1px solid #ccc;
  line-height: 18px;
  font: normal 15px/18px Arial;
  -webkit-appearance: none;
}
.type_a_3 .rehub_chimp .clear {
  height: auto;
}
.type_a_3 input[type="submit"],
.type_a_3 input[type="button"] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  transition: all 0.4s ease 0s;
  outline: none;
  font: 700 14px/16px 'Roboto', trebuchet ms;
  text-decoration: none;
  -webkit-appearance: none;
}
.type_a_3 .rehub_chimp #mc_embed_signup input#mc-embedded-subscribe {
  right: 0;
  top: 0;
  height: 40px;
  border: none;
  -webkit-box-sizing: border-box;
  font-size: 16px;
  text-shadow: none;
  font-weight: bold;
  color: #fff !important;
  cursor: pointer;
  box-shadow: none;
  padding: 12px 10px;
}
.type_a_3 .rehub_chimp #mc_embed_signup input#mc-embedded-subscribe {
  background: #fa9e19;
}
.type_a_3 .sidebar .rehub_chimp #mc_embed_signup input#mc-embedded-subscribe {
  position: static;
  margin: 10px auto;
  width: 100%;
  border-radius: 5px;
}
.type_a_3 p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  color: #000;
  font: bold 14px/16px Arial;
}
.type_a_3 .rehub_chimp p {
  margin: 15px auto;
}
.type_a_3 .sidebar .widget {
  clear: both;
  overflow: hidden;
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin: 0 0 35px 0;
}
.type_a_3 .widget .title,
.type_a_3 .widget h2 {
  font: 700 18px/20px 'Roboto', trebuchet ms;
  color: #111;
  margin: 0 0 15px 0;
}
.type_a_3 .rehub_chimp:before {
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #fa9e19;
  content: "\f0e0";
  font-size: 20px;
  color: #fff;
  margin: -20px 0 0 -20px;
  font-family: FontAwesome;
}
.type_a_3 .widget.buddypress div.item-options {
  margin: 0 0 1em;
  padding: 1em 0;
}
.type_a_3 #groups-list-options {
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 0;
}
.type_a_3 #groups-list {
  list-style-type: none;
  padding: 0;
}
.type_a_3 .widget.buddypress #groups-list {
  margin-left: 0;
  padding-left: 0;
}
.type_a_3 #groups-list-options a {
  font-weight: 700;
}
.type_a_3 #groups-list-options .selected {
  color: #5b4141;
}
.type_a_3 img {
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
  border: 0;
}
.type_a_3 .widget img {
  max-width: 100%;
}
.type_a_3 .widget.buddypress ul.item-list img.avatar {
  display: block;
  float: none;
  width: 25px;
  height: 25px;
  margin: 0;
  overflow: hidden;
}
.type_a_3 .widget.buddypress #groups-list li {
  list-style-type: none;
  clear: both;
}
.type_a_3 .widget.buddypress div.item {
  margin: 0 0 1em;
}
.type_a_3 .widget.buddypress .item-avatar {
  float: left;
  margin: 0 9px 9px 0;
  padding: 3px;
  background: rgba(0,0,0,0.1);
}
.type_a_3 .widget.tabsajax .title:before {
  font-family: FontAwesome;
  content: "\f0e7";
  color: #fa9e19;
  margin-right: 8px;
}
.type_a_3 .gradus_icon:before {
  font-family: FontAwesome;
  content: "\f004";
  margin: 0 3px;
  font-size: 85%;
}
.type_a_3 .simple_price_count del {
  color: #ccc;
  font-size: 80%;
}
@media screen and (max-width: 480px) {
  .type_a_3 .re_filter_panel-1 {
    width: 100%;
    overflow: hidden;
    float: none;
    box-sizing: border-box;
  }
  .type_a_3 .re {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    float: right;
  }
  .type_a_3 .mod .re .re_tax_dropdown {
    position: static;
  }
  .type_a_3 .navbar-header {
    display: block;
    background: #000;
  }
  .type_a_3 .navbar-inverse .navbar-brand {
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
  }
  .type_a_3 .navbar-inverse .navbar-nav>.active>a {
    display: none;
  }
  .type_a_3 .mod {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .content {
    width: 100%;
    margin-left: 0;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .slidebar-1 {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mosthot {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mosthot .sidebar {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mosthot .widget.buddypress #groups-list {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mod .col_wrap_three .col_item {
    width: 100%;
    margin: 0 1.5% 25px;
    float: left;
  }
  .type_a_3 #home1 {
    width: 100%;
  }
  .type_a_3 .rehub_chimp #mc_embed_signup input.email {
    text-align: center;
  }
  .type_a_3 .mosthot .widget img {
    display: block;
    float: none;
    width: 25px;
    height: 25px;
    margin: 0;
    overflow: hidden;
  }
  .type_a_3 .footer1 .footer-bottom.dark_style {
    height: auto;
  }
  .type_a_3 #text-3 {
    width: 100%;
    padding-right: 900px;
    font-size: 11px;
  }
  .type_a_3 .footer1 .footer-bottom .footer_widget {
    width: 100%;
    float: none;
    display: block;
  }
  .type_a_3 .footer1 footer#theme_footer .left {
    width: 25%;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 481px) and (max-width: 700px) {
  .type_a_3 .re_filter_panel-1 {
    width: 100%;
    overflow: hidden;
    float: none;
    box-sizing: border-box;
  }
  .type_a_3 .re {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    float: right;
  }
  .type_a_3 .mod .re .re_tax_dropdown {
    position: static;
  }
  .type_a_3 .navbar-header {
    display: block;
    background: #000;
  }
  .type_a_3 .navbar-inverse .navbar-brand {
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
  }
  .type_a_3 .navbar-inverse .navbar-nav>.active>a {
    display: none;
  }
  .type_a_3 .mod {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .content {
    width: 100%;
    margin-left: 0;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 34px;
  }
  .type_a_3 .slidebar-1 {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mosthot {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mosthot .sidebar {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mosthot .widget.buddypress #groups-list {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mod .col_wrap_three .col_item {
    width: 47%;
    margin: 0 1.5% 25px;
    float: left;
  }
  .type_a_3 #home1 {
    width: 100%;
  }
  .type_a_3 .rehub_chimp #mc_embed_signup input.email {
    text-align: center;
  }
  .type_a_3 .mosthot .widget img {
    display: block;
    float: none;
    width: 25px;
    height: 25px;
    margin: 0;
    overflow: hidden;
  }
  .type_a_3 .footer1 .footer-bottom.dark_style {
    height: auto;
  }
  .type_a_3 #text-3 {
    width: 100%;
    padding-right: 586px;
    font-size: 11px;
  }
  .type_a_3 .footer1 .footer-bottom .footer_widget {
    width: 100%;
    float: none;
    display: block;
  }
  .type_a_3 .footer1 footer#theme_footer .left {
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .widget_search form.search-form input[type="text"] {
    width: 100%;
    clear: both;
  }
  .type_a_3 form.search-form input[type="text"] {
    padding: 20px 0;
    padding-left: 0px;
    padding-right: 355px;
  }
}
@media screen and (min-width: 701px) and (max-width: 999px) {
  .type_a_3 .re_filter_panel-1 {
    width: 70%;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
  }
  .type_a_3 .re {
    width: 30%;
    overflow: hidden;
    box-sizing: border-box;
    float: right;
  }
  .type_a_3 .mod .re .re_tax_dropdown {
    position: static;
  }
  .type_a_3 .navbar-header {
    display: block;
    background: #000;
  }
  .type_a_3 .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
    padding: 0px 14px;
    height: 40px;
  }
  .type_a_3 .navbar-inverse .navbar-brand {
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
  }
  .type_a_3 .navbar-inverse .navbar-nav>.active>a {
    display: none;
  }
  .type_a_3 .mod {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .slidebar-1 {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mosthot {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mosthot .sidebar {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mosthot .widget.buddypress #groups-list {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .mod .col_wrap_three .col_item {
    width: 47%;
    margin: 0 1.5% 25px;
    float: left;
  }
  .type_a_3 #home1 {
    width: 100%;
  }
  .type_a_3 .rehub_chimp #mc_embed_signup input.email {
    text-align: center;
  }
  .type_a_3 .mosthot .widget img {
    display: block;
    float: none;
    width: 25px;
    height: 25px;
    margin: 0;
    overflow: hidden;
  }
  .type_a_3 .footer1 .footer-bottom.dark_style {
    height: auto;
  }
  .type_a_3 #text-3 {
    width: 100%;
    padding-right: 400px;
    font-size: 11px;
  }
  .type_a_3 .footer1 .footer-bottom .footer_widget {
    width: 100%;
    float: none;
    display: block;
  }
  .type_a_3 .footer1 footer#theme_footer .left {
    width: 63%;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
  }
  .type_a_3 .widget_search form.search-form input[type="text"] {
    width: 100%;
    clear: both;
  }
  .type_a_3 form.search-form input[type="text"] {
    padding: 20px 0;
    padding-left: 0px;
    padding-right: 530px;
  }
}
.type_a_4 input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: black;
}
.type_a_4 a:-webkit-any-link {
  cursor: auto;
}
.type_a_4 a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  transition: all 0.4s ease 0s;
  outline: none !important;
}
.type_a_4 p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.type_a_4 ul {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  margin-left: -11px;
}
.type_a_4 li {
  display: list-item;
  text-align: -webkit-match-parent;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
.type_a_4 .footer-bottom.dark_style {
  background-color: #000;
}
.type_a_4 .footer-bottom .container,
.type_a_4 .footer-bottom.block_foot {
  margin: 0 auto;
  display: table;
}
.type_a_4 .footer-bottom .footer_widget {
  width: 33%;
  display: table-cell;
  padding: 25px 30px 20px 30px;
  font: 13px 'arial', trebuchet ms;
  line-height: 18px;
  box-sizing: border-box;
  margin-bottom: 25px;
}
.type_a_4 .footer-bottom.dark_style .footer_widget {
  border-right: 1px solid #1c1c1c;
  color: #ccc;
}
.type_a_4 .widget:last-child {
  border-bottom: none;
}
.type_a_4 .widget .title {
  font: 700 18px/20px 'Roboto', trebuchet ms;
  margin: 0 0 15px 0;
}
.type_a_4 .footer-bottom .footer_widget .title {
  margin-bottom: 22px;
}
.type_a_4 .footer-bottom.dark_style .footer_widget .title {
  color: #fff;
}
.type_a_4 .footer-bottom .footer_widget p {
  margin-bottom: 22px;
}
.type_a_4 .widget:last-child {
  border-bottom: none;
}
.type_a_4 .footer-bottom .widget {
  margin-bottom: 25px;
}
.type_a_4 .footer-bottom .footer_widget .widget_nav_menu ul li {
  font-size: 13px;
  margin-bottom: 12px;
  padding-left: 12px;
  position: relative;
}
.type_a_4 .footer-bottom .container .footer_widget a {
  text-decoration: none;
}
.type_a_4 .footer-bottom.dark_style .container .footer_widget a {
  color: #fff;
}
.type_a_4 .footer-bottom .footer_widget.last {
  border: 0px !important;
}
.type_a_4 footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}
.type_a_4 footer#theme_footer {
  padding: 30px 0;
}
.type_a_4 footer#theme_footer.dark_style {
  background: none #222;
  border-top: 1px solid #4e4e4e;
}
.type_a_4 footer#theme_footer .left {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
.type_a_4 footer#theme_footer div.f_text {
  font: 13px 'arial', trebuchet ms;
}
.type_a_4 footer#theme_footer.dark_style div.f_text {
  color: #fff;
}
.type_a_4 footer#theme_footer .right {
  width: 50%;
  float: right;
  text-align: right;
  box-sizing: border-box;
}
@media only screen and (max-width: 479px) {
  .type_a_4 footer#theme_footer.dark_style div.f_text {
    padding-left: 0px;
  }
}
.back #back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
