.type-g-14 .container {
  margin-left: auto;
  margin-right: auto;
}
.type-g-14 * {
  margin: 0;
  padding: 0;
}
.type-g-14 .clear {
  clear: both;
}
.type-g-14 .row {
  width: 100%;
  float: left;
}
.type-g-14 img {
  border: 0;
  vertical-align: top;
  max-width: 100%;
}
.type-g-14 .footer-bottom-container {
  background-color: #000000;
}
.type-g-14 .footer-bottom {
  background-color: transparent;
  color: #888888;
  padding-top: 20px;
  padding-bottom: 20px;
}
.type-g-14 .footer {
  margin: 0 auto;
  padding: 0;
  text-align: left;
}
.type-g-14 inner-container {
  padding-left: 12px;
  padding-right: 12px;
  clear: both;
}
.type-g-14 .inner-container:before,
.type-g-14 .inner-container:after {
  display: table;
  line-height: 0;
  content: "";
}
.type-g-14 .footer .item-left {
  float: left;
  margin-right: 20px;
}
.type-g-14 .footer-copyright {
  font-size: 11px;
  line-height: 16px;
  margin: 4px 0;
}
.type-g-14 .footer .item-right {
  float: right;
  margin-left: 20px;
}
.type-g-14 .block_footer_payment {
  margin-bottom: 10px;
}
.type-g-14 select {
  height: 36px;
  padding: 8px;
  text-overflow: ellipsis;
  background: #fff;
  border: 1px solid #ddd;
  color: #888;
  box-sizing: border-box;
  border-radius: 0px;
  box-shadow: none;
}
.type-g-14 select option {
  padding-right: 10px;
  padding-left: 5px;
}
