.type-651 {
    hr {
        margin: -15px;
        padding: 15px;
    }
    .abs {
        padding-bottom: 20px;
        width: 106%;
        
    }
    .hov:hover{
            opacity:#fff;
        }
  img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
}
