.type-e-611{
    @font-size: 28px;
    @color: #CD2122;
    .head{
        .fs-28{font-size: @font-size;}
        a{color: #000;}
        .row{margin-bottom: 35px;}
        *{text-decoration: none;}
        .rescure{
            h4 {
                font-size: 17.5px;
                margin: 10px 0;
                font-weight: bold;
                line-height: 20px;
            }
            .m_title {  
                color: @color;
                text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
                text-align: center;
                margin-top: 0;
            }
            .tbk__symbol {
                margin-bottom: 10px;
                display: block;
            }
            .light-gray2 { color: #eaeaea;font-size: 26px; }
            .offer-banners {
                p { margin: 0 0 10px;}
                .hoverborder {
                    margin-bottom: 20px;  
                }
                col-lg-4{width: 33.33333333%;}
                .col-lg-5 { width: 41.66666667%;}
                .col-lg-3 { width: 25%; }
                .hoverborder {
                    display: inline-block;
                    margin-bottom: 20px;
                    .hoverBorderWrapper {
                        position: relative;
                        display: block; 
                        img {
                            height: auto;
                            max-width: 100%;
                            vertical-align: middle;
                        }
                        .theHoverBorder{
                            transition: all 0.2s ease-out;
                            position: absolute;
                            left: 0;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            border-radius: 2px;  
                        }
                    }
                }  
                .theHoverBorder:hover {box-shadow: 0 0 0 5px #cd2122 inset;}
            }
        }
    }
}
@media (max-width: 486px){

}