.type-8{ 
        @media (max-width: 992px)  {
            .thumbnail_container{
                margin-top: 61px !important;
            }
        }
        .container{
            padding-bottom: 52px;
            
        }
        .thumb {     

            img{
                width: 100%;
                height: auto;
            }
            h3{
                padding-top: 5px;
                font-size: 13px;
                font-weight: bold;
                font-style: normal;
            }
            .price{
                color: #7e9a47;
                display: inline;
                text-decoration: none;
                font-size: 12px;
                line-height: 18px;
                font-weight: bold;

            }
            .thumbnail_container {
                display: block;
                position: relative;
                padding: 5px;
                background: #F8F8F8;
                margin-bottom: 5px;
                overflow: hidden;
                .add_to_cart_button {
                    background: url(images/icons-shop-cart.png) no-repeat 10px center rgba(0,0,0,0.7);
                }
                .button {
                    position: absolute;
                    width: 90%;
                    border-radius:5px;
                    top: 50%;
                    height: 30px;
                    line-height: 30px;
                    margin: -15px 0 0 0;
                    padding: 0;
                    left: 5%;
                    background: rgba(0,0,0,0.7);
                    color: #fff;
                    font-size: 11px;
                    text-align: center;
                    visibility: hidden;
                    z-index: 500;
                }
                .button:hover {
                    background-color: rgba(0,0,0,0.9);
                }
            }
            .thumbnail_container:hover{
                background-color: #2c3547;



                a {
                    text-decoration:none;
                }
                .add_to_cart_button {
                    opacity: 1;
                    visibility:visible;
                    top:105px;
                    transition-delay:0.3s;
                }
                .show_details_button {
                    opacity: 1;
                    visibility:visible;
                    top:145px;
                    transition-delay:0.3s;
                }
            }
        }


        body, ul, ol, h1, h2, h3, h4, h5, h6, form, li, p, input, select, legend, textarea, fieldset {
            margin: 0;
            padding: 0px;
        }
        .sidebar {
            padding: 20px;
            a {
                color: #999;
            }
            border: 1px solid #eee;
            background: #f8f8f8;
            .widget:first-child {
                padding-top: 0;
                border-top: none;
            }
            .widget {
                border-bottom: 1px solid #e1e1e1;
                clear: both;
                position: relative;
                overflow: hidden;
                padding: 22px 0 22px 0;
                float: none;
                .widgettitle, #footer .widgettitle {
                    font-size: 10px;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
                    padding-bottom: 10px;
                }
                .widgettitle, .widgettitle a {
                    color: #666;
                    a {
                        font-size: 11px;
                    }
                }
            }
            .widget_archive li a, .widget_categories li a, .widget_pages li a, .widget_links li a, .widget_meta li a, .widget_nav_menu li a {
                font-size: 11px;
            }
        }
    }
    