.type-657 .navbar-nav>li>.dropdown-menu {
  margin-top: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.type-657 .navbar-default .navbar-nav>li>a {
  width: 200px;
  font-weight: bold;
  text-decoration: none;
}
.type-657 .mega-dropdown {
  position: static !important;
  width: 100%;
}
.type-657 .divider .form .form-control .carousel-inner .js-navbar-collapse .glyphicon .icon-bar {
  padding: 0;
}
.type-657 .mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.type-657 .mega-dropdown-menu li > ul {
  padding: 0;
  margin: 0;
}
.type-657 .mega-dropdown-menu li > ul li {
  list-style: none;
}
.type-657 .mega-dropdown-menu li > ul li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: bold;
  line-height: 1.428571429;
  color: #404041;
  white-space: normal;
  text-decoration: none;
}
.type-657 .mega-dropdown-menu li > ul li a:hover {
  color: #428bca;
}
.type-657 .mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
  left: 285px;
  z-index: 10;
}
.type-657 .mega-dropdown-menu:after {
  content: "";
  border-bottom: 17px solid #ccc;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  left: 283px;
  z-index: 8;
}
.type-657 .mega-dropdown-menu 
    .mega-dropdown-menu > li ul > li > a:hover,
.type-657 .mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}
.type-657 .mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight: bold;
}
.type-657 .mega-dropdown-menu form {
  margin: 3px 20px;
}
.type-657 .mega-dropdown-menu .form-group .btn-block .btn-default .glyphicon-heart .collapse .navbar .sr-only .nav .btn .btn-primary .item {
  margin-bottom: 3px;
}
.type-657 .navbar-brand {
  background: #404041;
  color: #fff;
}
.type-657 .navbar-brand:hover {
  background: #428bca;
  color: #fff;
}
.type-657 .mega-dropdown-menu li > ul li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: bold;
  line-height: 1.428571429;
  color: #404041;
  white-space: normal;
  text-decoration: none;
}
@media (max-width: 500px) {
  .type-657 .mega-dropdown {
    position: static !important;
    width: 100%;
  }
  .type-657 .navbar-header .navbar-toggle .navbar-collapse .dropdown .dropdown-toggle .glyphicon-chevron-down .pull-right {
    padding: 3px;
  }
}
