@color_base: #f15d2f;

/*********************************** button-Top ****************************/
@media (max-width: 1439px) and (min-width: 1263px) {
    .content_wrap {
        width: 1000px;
    }
}

@media (max-width: 1135px) and (min-width: 1024px) {
    .content_wrap {
        width: 964px;
    }
}

@media (max-width: 1262px) and (min-width: 1136px) {
    .content_wrap {
        width: 910px;
    }
}

@media (max-width: 1023px) and (min-width: 960px) {
    .content_wrap {
        width: 900px;
    }
}

@media (max-width: 959px) and (min-width: 768px) {
    .content_wrap {
        width: 708px;
    }
}

@media (max-width: 767px) and (min-width: 640px) {
    .content_wrap {
        width: 600px;
    }
}

@media (max-width: 639px) and (min-width: 480px) {
    .content_wrap {
        width: 440px;
    }
}

@media (max-width: 479px) {
    .content_wrap {
        width: 280px;
    }
}

/***********************Link******************/
.type-626 {
    .link {
        background-color: @color_base;
        .color-link {
            color: #fff;
        }
        .padding-link {
            padding-bottom: 15px;
            padding-top: 15px;
        }
        a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.5);
        }
        a:hover {
            color: #fff;
        }
    }
}
/* END MODULE TEST */