@color_base: #f15d2f;
/***********************Link******************/
.type-626 {
    .link {
        background-color: @color_base;
        .color-link {
            color: #fff;
        }
        .padding-link {
            padding-bottom: 15px;
            padding-top: 15px;
            margin-left: 15px;
        }
        a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.5);
        }
        a:hover {
            color: #fff;
        }
    }
    /*-----------------Reponsive-----------------------*/
    @media (max-width: 1439px) and (min-width: 1263px) {
        .link{
            width: 100%;
        }
    }

    @media (max-width: 1135px) and (min-width: 1024px) {
        .link{
            width: 100%;
        }
    }

    @media (max-width: 1262px) and (min-width: 1136px) {
        .link{
            width: 100%;
        }
    }

    @media (max-width: 1023px) and (min-width: 960px) {
        .link{
            width: 100%;
        }
    }

    @media (max-width: 959px) and (min-width: 768px) {
        .link{
            width: 100%;
        }
    }

    @media (max-width: 767px) and (min-width: 640px) {
        .link{
            width: 100%;
        }
    }

    @media (max-width: 639px) and (min-width: 480px) {

    }

    @media (max-width: 479px) {

    }

}
/***********************End-Link******************/
/* 
ND MODULE TEST */