.type-604 section {
  padding-top: 35px;
  padding-bottom: 35px;
}
.type-604 .hover-box.hover-box-2,
.type-604 .hover-box.hover-box-3 {
  text-shadow: none;
  border: none;
  padding: 25px;
  margin-bottom: 0;
  min-height: 180px;
  position: relative;
}
.type-604 .hover-box {
  display: block;
  color: #fff;
  margin-bottom: 20px;
}
.type-604 .hover-box h4 {
  line-height: 1.1;
  margin-top: 0;
  font-weight: bold;
}
.type-604 .hover-box.hover-box-2 .hb-img {
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
}
.type-604 img {
  max-width: 100%;
  height: auto;
  float: left;
  margin: 15px 15px 8px 10px;
}
.type-604 h3 {
  font-family: Open Sans;
  margin-top: 0;
}
.type-604 a:hover {
  text-decoration: none;
}
.type-604 p {
  margin-bottom: 0;
  line-height: 1.1;
}
.type-604 .hover-box.hover-box-2 > p:after,
.type-604 .hover-box.hover-box-3 > p:after {
  content: '';
  height: 3px;
  width: 50px;
  display: block;
  background: #fff;
  margin-top: 22px;
}
.type-604 .hover-box.hover-box-3 img {
  display: none;
}
.type-604 .latest_posts.acc-style {
  position: relative;
}
.type-604 .latest_posts.acc-style h3 {
  position: absolute;
  top: 14px;
  color: #CD2122;
  font-size: 18px;
  line-height: 1.4;
}
.type-604 .latest_posts.acc-style .viewall {
  position: absolute;
  top: 12px;
  right: 0;
  font-size: 10px;
  font-weight: bold;
  color: #757575;
}
.type-604 .css3accordion {
  width: 100%;
  margin: 0 auto 20px;
}
.type-604 .css3accordion ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.type-604 .css3accordion ul li {
  width: calc(15%);
  padding-top: 50px;
  position: relative;
  float: left;
  overflow: hidden;
  margin-right: 20px;
  border-top: 4px solid #E7E7E7;
}
.type-604 .css3accordion ul li .thumb {
  width: calc(30%);
  float: left;
  margin-right: 20px;
  opacity: .8;
}
.type-604 .css3accordion ul li .last {
  margin-right: 0;
}
.type-604 .css3accordion .text {
  font-size: 11px;
  line-height: 1.4;
}
.type-604 .css3accordion .content {
  font-size: 11px;
  color: #7d7d7d;
}
.type-604 .css3accordion>ul>li>.inner-acc,
.type-604 .css3accordion>ul>li:hover ~ li>.inner-acc {
  width: calc(240%);
}
.type-604 .plus .theHoverBorder:hover {
  background-image: url(../images/plus01.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(35,35,35,0.5);
  box-shadow: 0 0 0 5px #cd2122 inset;
}
.type-604 .css3accordion>ul>li.last,
.type-604 .css3accordion>ul>li:hover:not(.last) {
  width: 50%;
}
.type-604 .ptop-65 {
  padding-top: 65px;
}
.type-604 .pb-20 {
  padding-bottom: 20px !important;
}
.type-604 .bg-white {
  background-color: #fff !important;
}
.type-604 .fw-semibold {
  font-weight: 600;
}
.type-604 .fw-thin {
  font-weight: 300;
}
.type-604 .tcolor {
  color: #cd2122 !important;
}
.type-604 .btn-lined.lined-custom {
  color: #cd2122;
  border-color: #cd2122;
}
.type-604 .btn-group-md>.btn,
.type-604 .btn-md {
  padding: 16px 25px;
  font-size: 14px;
  line-height: 1.3333333;
}
.type-604 .btn-lined {
  border-width: 2px;
  line-height: 1.6;
  font-weight: 700;
}
@media (max-width: 480px) {
  .type-604 .css3accordion {
    width: 100%;
    margin: 0 auto 20px;
  }
  .type-604 .css3accordion ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .type-604 .css3accordion ul li {
    width: calc(15%);
    padding-top: 50px;
    position: relative;
    float: left;
    overflow: hidden;
    margin-right: 20px;
    border-top: 4px solid #E7E7E7;
  }
  .type-604 .css3accordion ul li .thumb {
    width: calc(30%);
    float: left;
    margin-right: 20px;
    opacity: .8;
  }
  .type-604 .css3accordion ul li .last {
    margin-right: 0;
  }
}
