.template-605 .item {
  margin: 0;
  padding: 0;
}
.template-605 #footer {
  color: #d5d5d5;
  background-color: #2f2f2f;
  padding: 40px 0 20px;
  border-top: 4px solid #fff;
}
.template-605 #footer .copyright img {
  float: left;
  margin-right: 20px;
}
.template-605 #footer .m_title {
  font-size: 14px;
  color: #fff;
  text-shadow: none;
}
.template-605 #footer .menu {
  padding: 0;
  list-style: none;
}
.template-605 #footer .menu li {
  float: left;
  width: 50%;
}
.template-605 #footer a {
  color: #fff;
}
.template-605 #footer .contact-details.modletable {
  background: url(../images/say_hi.png) no-repeat right top;
}
.template-605 #footer .bottom {
  padding-top: 30px;
  border-top: 5px solid #484848;
  color: #8b8c8d;
}
.template-605 #footer .social-icons {
  float: right;
  margin: 0 0 20px;
}
.template-605 #footer .social-icons li {
  margin: 0 0 0 10px;
  display: inline-block;
  vertical-align: middle;
}
.template-605 #footer .social-icons li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background-image: url(../images/social-icons-sprite.png);
  background-repeat: no-repeat;
  position: relative;
  background-color: #111;
  border-radius: 3px;
}
.template-605 #footer .social-icons li.title {
  line-height: 30px;
}
.template-605 .row {
  margin-bottom: 35px;
}
.template-605 .newsletter-signup form {
  margin-bottom: 10px;
}
.template-605 form {
  font-size: 100%;
  margin: 0 0 20px;
}
.template-605 .newsletter-signup input[type="text"] {
  width: 120px;
}
.template-605 .newsletter-signup input[type=text] {
  color: #4d4d4d;
  background: #dddddd;
  border: 1px solid #a3a3a3;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2) inset;
}
.template-605 .newsletter-signup input {
  vertical-align: top;
}
.template-605 input[type="text"] {
  display: inline-block;
  padding: 4px 6px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
}
.template-605 .newsletter-signup input[type=submit] {
  color: #fff;
  background: #cd2122;
  border: 0;
  font-weight: 700;
  font-size: 13px;
  height: 30px;
  padding: 0 15px;
  margin-left: 5px;
  border-radius: 3px;
  background-color: #cd2122;
}
.template-605 input[type="submit"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
}
.template-605 .newsletter-signup #result {
  display: inline-block;
  margin-bottom: 10px;
}
.template-605 small {
  font-size: 85%;
}
.template-605 strong {
  font-weight: bold;
  font-size: 100%;
}
.template-605 .icon-map-marker {
  background-position: -24px -72px;
}
.template-605 .icon-white {
  background-image: url(../images/glyphicons-halflings-white.png);
}
.template-605 [class^="icon-"],
.template-605 [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-repeat: no-repeat;
}
.template-605 #twitterFeed {
  background: url(../images/twitter-bird.png) no-repeat 15px center #444;
  font-size: 12px;
  color: #fff;
  padding: 15px 75px 15px 60px;
  position: relative;
  margin-bottom: 15px;
  font-style: italic;
  border-radius: 3px;
}
.template-605 #twitterFeed ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 11px;
}
.template-605 iframe {
  max-width: 100%;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
.template-605 .social-share {
  margin: 25px 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.template-605 .social-share i.sc-gplus {
  width: 70px;
}
.template-605 .social-share li {
  display: inline-block;
  margin-left: 10px;
  width: 90px;
  max-height: 20px;
  vertical-align: top;
}
.template-605 .fb_iframe_widget {
  display: inline-block;
  position: relative;
}
.template-605 .fb_iframe_widget span {
  display: inline-block;
  position: relative;
  text-align: justify;
}
.template-605 .fb_iframe_widget iframe {
  position: absolute;
}
.template-605 .col-lg-12 {
  width: 100%;
}
.template-605 .social-icons li.social-dribbble a {
  background-position: -30px 0;
}
.template-605 .social-icons li.social-facebook a {
  background-position: -60px 0;
}
.template-605 .social-icons li.social-envato a {
  background-position: -90px 0;
}
.template-605 .title {
  height: auto;
  max-width: 100%;
}
.template-605 img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.template-605 .kl-store img,
.template-605 .kl-store-page img {
  height: auto;
  max-width: 100%;
}
