.type-701{
    .text-detail-wrapper{
        .sectionTitle{
            border-bottom: 1px solid #ddd;
            margin-bottom: 20px;
        }
        .sectionTitle strong{
            font-size: 12px;
            color: #3B3B64;
        }
        .rbLarge {
            font-size: 16px;
            line-height: 24px;
        }
        .rbSmall {
            font-size: 10px;
        }
        h3 {
            font-size: 22px;
            line-height: 25px;
        }
        .content{
            font-size: 12px;
        }
    }
    @media (max-width: 1439px) and (min-width: 1263px)
        {
            .text-full{
                margin-left: 152px;
            }
        
    }
    @media (max-width: 1262px) and (min-width: 1134px)
        {
        .text-full{
                margin-left: 123px;
            }
    }
    @media (max-width: 1262px) and (min-width: 1134px)
        {
        .text-full{
                margin-left: 123px;
            }
    }

    @media (max-width: 1133px) and (min-width: 991px)
        {
        .text-full{
                margin-left: 120px;
            }
    }

    @media (max-width: 968px) and (min-width: 768px)
        {
       .text-full{
                margin-left: 6px;
            }
    }
}