.type-668 .grid12-12,
.type-668 .grid12-9,
.type-668 .grid12-3 {
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}
.type-668 p,
.type-668 a {
  font: 75%/150% Arial, Helvetica, sans-serif;
}
.type-668 h6 {
  font-family: "Bitter", georgia, serif;
  margin: 0 0 10px;
}
.type-668 .footer {
  margin: 0 auto;
  padding: 0;
  text-align: left;
}
.type-668 .inner-container {
  padding-left: 12px;
  padding-right: 12px;
  clear: both;
}
.type-668 .inner-container:before,
.type-668 .inner-container:after {
  display: table;
  line-height: 0;
  content: "";
}
.type-668 .grid12-12 {
  width: 98%;
}
.type-668 .no-gutter.grid12-9 {
  margin-left: 0;
  margin-right: 0;
  width: 75%;
}
.type-668 .grid12-3 {
  width: 23%;
}
.type-668 .collapsible .block-title,
.type-668 .mobile-collapsible .block-title {
  padding-top: 8px;
  padding-bottom: 8px;
  border-color: rgba(0,0,0,0.05);
  margin-bottom: 0.625em;
  font-size: 1.3333em;
  line-height: 1.25em;
  font-weight: normal;
}
.type-668 .collapsible .block-title {
  cursor: pointer;
  margin-top: 0;
}
.type-668 ul.bullet {
  margin: 0 0 1em;
  list-style: none outside none;
  padding: 0;
}
.type-668 ul.bullet li {
  background: url(../images/img/bullet.png) 0 0 no-repeat;
  padding-left: 18px;
}
.type-668 a {
  text-decoration: none;
  color: #333;
}
.type-668 a:hover {
  color: #3ec2df;
}
.type-668 ul.bullet li:hover {
  background-position: 3px 0;
}
.type-668 .footer .feature-icon-hover:hover .ib {
  background-color: #444444 !important;
  color: #ffffff !important;
}
.type-668 .fa-map-marker {
  margin-top: 8px;
}
.type-668 .fa-twitter {
  margin-top: 8px;
}
.type-668 .no-right-gutter.grid12-3 {
  margin-right: 0;
  width: 24%;
}
.type-668 .feature.indent {
  padding-left: 51px;
}
.type-668 .feature.first {
  margin-top: 0;
}
.type-668 .feature {
  margin: 10px 0;
}
.type-668 .feature.indent {
  margin-left: -51px;
}
.type-668 .feature.indent > .ic {
  float: left;
  margin: 0 15px 0 0;
}
.type-668 .footer .ib {
  background-color: lightskyblue;
  color: #ffffff;
}
.type-668 .ib {
  line-height: 36px;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
}
.type-668 .ic-lg {
  font-size: 1.33333333em;
}
.type-668 .ic {
  display: inline-block;
  font-family: ThemeIcons;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}
