.type-g-8 body {
  font: 75%/150% Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #333;
}
.type-g-8 .stripe {
  margin: 0 auto;
  background: #ffffff;
  color: #1F1F1F;
  font-family: 'Source Sans Pro';
}
.type-g-8 .img {
  max-width: none !important;
  vertical-align: middle;
  border: 0;
  top: -0.0432649%;
  left: 0%;
  width: 100%;
  height: auto;
  visibility: visible;
  display: block;
  position: absolute;
}
.type-g-8 .clear {
  clear: both;
}
.type-g-8 .row {
  width: 100%;
  float: left;
}
.type-g-8 .col-1 {
  width: 80%;
  float: left;
}
.type-g-8 .col-2 {
  width: 20%;
  float: left;
}
.type-g-8 .col-0 {
  width: 40%;
  float: left;
}
.type-g-8 .col-0-1 {
  width: 50%;
  float: right;
}
.type-g-8 .col-5 {
  width: 40%;
  float: left;
}
.type-g-8 .section-title.padding-right {
  padding-right: 80px !important;
}
.type-g-8 .product-name a:hover {
  color: #00a9c7;
  text-decoration: none;
}
.type-g-8 .caption {
  float: center;
}
.type-g-8 .caption h4 {
  color: #444;
  text-align: center;
}
.type-g-8 .caption p {
  color: #999;
  text-align: center;
}
.type-g-8 .product-name {
  margin: 0;
  font-size: 1em;
  line-height: 1em;
  font-weight: normal;
  text-align: center;
  font-weight: bold;
}
.type-g-8 h3.product-name a {
  color: inherit;
}
.type-g-8 .ratings {
  margin: 10px 0;
  line-height: 1.0833em;
  text-align: center;
}
.type-g-8 .rating-box {
  margin-left: 0;
  margin-right: 0;
}
.type-g-8 .ratings .rating-box,
.type-g-8 .ratings .amount,
.type-g-8 .ratings .rating-links {
  display: inline-block;
  vertical-align: middle;
}
.type-g-8 .amount {
  font-size: 1em;
}
.type-g-8 .rating-box {
  width: 69px;
  height: 13px;
  font-size: 0;
  line-height: 0;
  background: url(http://ultimo.infortis-themes.com/demo/skin/frontend/ultimo/default/images/img/rating.png) 0 0 repeat-x;
  text-indent: -999em;
  overflow: hidden;
}
.type-g-8 rating-box .rating {
  float: left;
  height: 13px;
}
.type-g-8 .price-box {
  margin: 10px 0 10px;
  font-size: 1em;
}
.type-g-8 .price-box .price {
  color: #00a9c7;
}
.type-g-8 .price {
  white-space: nowrap !important;
}
.type-g-8 carousel-control.left,
.type-g-8 .carousel-control.right {
  background-image: none;
}
.type-g-8 .img-responsive {
  width: 100%;
  height: auto;
}
@media (min-width: 992px) {
  .type-g-8 .carousel-inner .active.left {
    left: -25%;
  }
  .type-g-8 .carousel-inner .next {
    left: 25%;
  }
  .type-g-8 .carousel-inner .prev {
    left: -25%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .type-g-8 .carousel-inner .active.left {
    left: -33.3%;
  }
  .type-g-8 .carousel-inner .next {
    left: 33.3%;
  }
  .type-g-8 .carousel-inner .prev {
    left: -33.3%;
  }
  .type-g-8 .active > div:first-child {
    display: block;
  }
  .type-g-8 .active > div:first-child + div {
    display: block;
  }
  .type-g-8 .active > div:last-child {
    display: none;
  }
}
@media (max-width: 767px) {
  .type-g-8 .carousel-inner .active.left {
    left: -100%;
  }
  .type-g-8 .carousel-inner .next {
    left: 100%;
  }
  .type-g-8 .carousel-inner .prev {
    left: -100%;
  }
  .type-g-8 .active > div {
    display: none;
  }
  .type-g-8 .active > div:first-child {
    display: block;
  }
}
.type-g-8 .sticker-wrapper.top-left {
  top: -3px;
  left: -3px;
}
.type-g-8 .sticker-wrapper {
  position: absolute;
  transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}
.type-g-8 .sticker.new {
  background-color: #3ec2df;
  color: #ffffff;
}
.type-g-8 .sticker {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 1.1666em;
  line-height: 1em;
  font-weight: bold;
  text-align: center;
  display: table-cell !important;
  vertical-align: middle !important;
  transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}
.type-g-8 .sticker-wrapper.top-right {
  top: -3px;
  right: -3px;
}
.type-g-8 .sticker.sale {
  background-color: #f12b63;
  color: #ffffff;
}
.type-g-8 .sticker.sale {
  background-color: #F12B63;
  color: #fff;
}
