.type-e-612{
    @font-size: 20px;
    @font-family:'Open Sans';
    @color: #000;
    .rescure{
        padding-top:43px;
        margin-left: 276px;
        .kl-title-block {
            padding-top: 0;
            padding-bottom: 35px;
            .fs-20 {font-size:@font-size}	
            .tbk__title {
                margin-top: 0;
                margin-bottom: 10px;	   
                line-height: 30px;  
                margin-bottom: 10px;
                font-family:@font-family;
                line-height: 30px;
                .tbk__symbol {
                    display: inline-block;
                    margin-right: 10px;
                    vertical-align: middle;
                    margin-top: 0;
                    margin-bottom: 10px;
                    .tbk__icon {vertical-align: middle;}
                }
            }
            .montserrat {
                font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
            }
            .tcolor {color: #cd2122 !important; }
        }
        .image{
            .hoverBorderWrapper {
                position: relative;
                display: block;
            }
            .image-boxes {
                margin-bottom: 30px;
                a {display: block; }
            }
            .image-boxes img {
                width: 100%;
                height: auto;
                margin-top: 10px;
            }
            .imgboxes_style1 {
                .hoverBorderWrapper {height: 270px;}
                .hoverBorder {position: relative;}
            }
            .imgboxes_style1  h6 {
                position: absolute;	   
                bottom: 20px;
                color: #fff;
                padding: 11px 15px;
                background: #CD2122;	    
                font-weight: 500;
                line-height: 1;
                margin: 0;
                border-radius: 5px;
            }		
        }
        .fs-18 {font-size: @font-size; }
        .light-gray {color: #a8a8a8;}
        a { color: @color; }
        .kl-iconbox {margin-bottom: 30px; 
                     .kl-iconbox__desc { line-height: 24px;}}
                     .kl-iconbox--fleft .kl-iconbox__icon-wrapper {
                         float: left;
                         margin-right: 20px;
                     }
                     img.kl-iconbox__icon {max-width: 100px;}
                     .kl-iconbox__icon {
                         transition: color .2s cubic-bezier(0.215, 0.610, 0.355, 1.000);
                         .kl-iconbox__icon-wrapper { margin-bottom: 15px; }
                     }
        }
        @media (max-width: 786px){
            .rescure {
                padding-top: 43px;
                margin-left: auto;
            }
        }
    }
