.type-e{
    .div0{
        border: 0;
    }
    .div1{
        font-size: 100%;
    }
    .div2{
        margin-top: 0
    }
    .div3{
        display: block;
    }
    .div4{
        padding: 0;
    }
    .div5{
        position: relative;
    }
    .div6{
        margin: 0;
    }
    .container {
        margin-right: auto;
        margin-left: auto;
    }
    div {
        .div0;
        .div1;
    }
    .row {
        margin-bottom: 35px;
    }
     .col-lg-12 {
        width: 100%;
    }
    .m_title {
        .div2;
        color: #CD2122;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
        text-align: center;
    }
    .tbk__symbol {
        .div2;
        margin-bottom: 10px;
        .div3;
    }
    .fs-28 {
        font-size: 28px;
    }
    .light-gray2 {
        color: #eaeaea;
    }
    h4 {
        font-size: 17.5px;
        margin: 10px 0;
        font-weight: bold;
        line-height: 2  0px;
        text-rendering: optimizelegibility;
        text-align: center;
        color: red;
        .div0;
        .div4;
    }
    .modulecontent .custom > .row {
        margin-bottom: 0;
    }
    col-lg-4
    {
        width: 33.33333333%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-3 {
        width: 25%;
    }
    p {
        margin: 0 0 10px;
        .div0;
        .div1;
        .div4;
    }
    .offer-banners .hoverborder {
        margin-bottom: 20px;
    }
    .hoverborder {
        .div5;
        display: inline-block;
    }
    a{
        .div0;
        .div1;
        .div6
        .div4;
        outline: none;
        color: #000;
        text-decoration: none;
    }
    .hoverBorderWrapper {
        .div5;
        .div3;
    }
    span{
        .div0;
        .div1;
        .div6;
        .div4;
    }
    img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        .div0;
        .div1;
        .div6;
        .div4;
    }
    .theHoverBorder{
        transition: all 0.2s ease-out;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border-radius: 2px;
        box-shadow: 0 0 0 3px rgba(255,255,255,0.15) inset;
    }
    .theHoverBorder:hover {
        box-shadow: 0 0 0 5px #cd2122 inset;
    }  
}