.type-650 .hr_text {
  padding-top: 20px;
  overflow: hidden;
}
.type-650 .hr {
  border-bottom: #aaa solid 1px;
}
.type-650 .hr_text .custom_hr_text {
  background: #fff;
  color: #aaa;
  font-size: 10px;
  float: left;
}
.type-650 .thumbs {
  width: 104%;
  padding-bottom: 60px;
  padding-top: 50px;
  margin-left: -24px;
}
.type-650 .thumbs .thumb img {
  width: 100%;
}
.type-650 .thumbs img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
@media (max-width: 991px) {
  .type-650 .thumbs {
    margin: 5px;
  }
  .type-650 .thumbs .thumb {
    padding: 10px;
  }
}
