.type-b-7 .row {
  margin-bottom: 35px;
}
.type-b-7 * {
  text-decoration: none;
}
.type-b-7 .m_title {
  color: #CD2122;
  text-shadow: 0 1px 0 rgba(255,255,255,0.7);
  text-align: center;
}
.type-b-7 .tbk__symbol {
  margin-bottom: 10px;
  display: block;
}
.type-b-7 .fs-28 {
  font-size: 28px;
}
.type-b-7 .light-gray2 {
  color: #eaeaea;
  font-size: 26px;
}
.type-b-7 h4 {
  font-size: 17.5px;
  margin: 10px 0;
  font-weight: bold;
  line-height: 20px;
}
.type-b-7 col-lg-4 {
  width: 33.33333333%;
}
.type-b-7 .col-lg-5 {
  width: 41.66666667%;
}
.type-b-7 .col-lg-3 {
  width: 25%;
}
.type-b-7 p {
  margin: 0 0 10px;
}
.type-b-7 .offer-banners .hoverborder {
  margin-bottom: 20px;
}
.type-b-7 .hoverborder {
  display: inline-block;
}
.type-b-7 a {
  color: #000;
}
.type-b-7 .hoverBorderWrapper {
  position: relative;
  display: block;
}
.type-b-7 img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.type-b-7 .theHoverBorder {
  transition: all 0.2s ease-out;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 2px;
}
.type-b-7 .theHoverBorder:hover {
  box-shadow: 0 0 0 5px #cd2122 inset;
}
