.type-e{
    div{border: 0;font-size: 100%; margin: 0;list-style: none;text-decoration:none;}
    #footer {
        color: #d5d5d5;
        background-color: #2f2f2f;
        border-top: 4px solid #fff;
        padding: 40px 0 20px;}
    .container{margin: 0 auto;}
    .row {margin-bottom: 35px;}
    #footer .m_title {
        font-size: 14px;
        color: #fff;}
    .m_title {
        margin-top: 0;
        color: #CD2122;
        text-shadow: 0 1px 0 #fff;}
    h4{
        margin: 10px 0;
        font-family: inherit;
        font-weight: bold;
        line-height: 20px;}
    #footer .menu {
        .div;
        list-style: none;
    }
    ul{border: 0;}
    #footer .menu li {
        float: left;
        width: 50%;
    }
    .div {margin: 0;padding: 0;}
    .clearfix { clear: both;}
    li {
        line-height: 20px;
        .div;}
    #footer a {
        color: #fff;
        .div;}
    p {margin: 0 0 10px;}
    .newsletter-signup form {margin-bottom: 10px;}
    .newsletter-signup input[type="text"] {
        width: 120px;
        background: #dddddd;
        border: 1px solid #a3a3a3;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2) inset;
    }
    .newsletter-signup input {vertical-align: top;}
    input {font: 13.3333px Arial;}
    input[type="text"]{
        display: inline-block;
        padding: 4px 6px;
        font-size: 14px;
        line-height: 20px;
        border-radius: 4px;
    }
    input[type="submit"] {
        color: #fff;
        background: #cd2122;
        border: 0;
        font-weight: 700;
        font-size: 13px;
        height: 30px;
        padding: 0 15px;
        margin-left: 5px;
        border-radius: 3px;
    } 
    .newsletter-signup #result {
        display: inline-block;
        margin-bottom: 10px;
    }
    small {font-size: 85%;}
    #footer .contact-details.moduletable { background: url(../images/say_hi.png) no-repeat right top;}
    col-lg-3{ width: 25%;}
    col-lg-4{width: 33.33333333%;}
    strong {font-weight: bold;}
    .map-link > span { margin-top: 2px;}
    .icon-map-marker {background-position: -24px -72px;}
    .icon-white{ background-image: url(../images/glyphicons-halflings-white.png);}
    [class^="icon-"], [class*=" icon-"] {
        display: inline-block;
        width: 14px;
        height: 14px;
    }
    col-lg-6{width: 50%;}
    #twitterFeed {
        background: url(../images/twitter-bird.png) no-repeat 15px center #444;
        font-size: 12px;
        color: #fff;
        padding: 15px 75px 15px 60px;
        margin-bottom: 15px;
        font-style: italic;
        border-radius: 3px;
    }
    #twitterFeed ul {
        .div;
        font-size: 11px;
    }
    .social-share {margin: 25px 0 0;float:right;}
    .social-share li {
        display: inline-block;
        margin-left: 10px;
        width: 90px;
        max-height: 20px;
        vertical-align: top;
    }
    .social-share li.sc-gplus {width: 70px;}
    #footer .bottom {
        padding-top: 30px;
        border-top: 5px solid #484848;
        color: #8b8c8d;
    }
    #footer .social-icons {float: right;}
    .social-icons {margin: 0 0 20px;}
    #footer .social-icons li.title {line-height: 30px;}
    #footer .social-icons li {margin: 0 0 0 10px;}
    .social-icons li {display: inline-block;}
    .social-icons li a {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-indent: -9999px;
        background: url(../images/social-icons-sprite.png) no-repeat;
        background-color: #111;
        border-radius: 3px;
    }
    .social-icons li.social-dribbble a {background-position: -30px 0;}
    .social-icons li.social-facebook a {background-position: -60px 0;}
    .social-icons li.social-envato a {background-position: -90px 0;}
    #footer .copyright img {
        float: left;
        margin-right: 20px;
    }
}
