@background_footer: #292724;
@color_base: #f15d2f;
@color_title_base: #45403d;
@color: #878280;
    
@media (max-width: 639px) and (min-width: 480px)
{
    .content_wrap {
        width: 440px;
    }
}
@media (max-width: 479px)
{
    .content_wrap {
        width: 280px;
    }
}
.type-40-footer { 
    footer{
        background-color: #292724;
        .columns_wrap{padding: 5.938em 0 1.8em;}      
        .logo{max-width: 18em; }
        .logo img {
        float: left;
        margin: 0 0.7857em 0.7857em 0;
        width: auto;
        }
        a{ text-decoration: none; }
        h2{
          color: #f0efed;
          font-size: 1.875em;
          line-height: 1em;
          font-weight: 700; 
        }
        h6{
            color: #f0efed; 
            letter-spacing: 0.16em;
            font-size: 0.625em;
            font-weight: 400;
            line-height: 1;
            margin-top: 0;
            text-transform: uppercase;
        }
        p{
            margin-top: 1.7em;
            color: #c1bebc;
            font-size: 16px;
            margin-bottom: 4.45em;
        }       
        h5{
            font-size: 1.625em;
            font-weight: 700;
            margin: 0 0 2.625em 0;
            text-transform: none;
            color: #f0efed;          
        }
        .margin-bottom {
            margin-bottom: 1.7em;
        }
        h4{
             color: #c1bebc;
            font-size: 16px;
        }
        li{
            list-style: none; 
        }
        ul{
            padding-left: 0px; 
        }
          ul a {
            color: #5c5551;
           
           
        }
          ul a:hover{
            color: #fff;
        }
        .sc_socials_item{
           padding-bottom: 30px;
        }
        .sc_socials_item img{
            width: 3em;
            height: 3em;
            border-radius: 50%;
            margin: 0 0.25em 0.25em 0;
            border: 2px solid #ddd;
        }
        .copyright_text{
            font-size: 16px;
            color: #c1bebc;
            border-color: rgba(220,220,220,0.5);
            border-top: 1px dotted;
            padding-top: 3.7em;
            padding-bottom: 3.7em
        }
        .copyright_text a{
             
            color: #c1bebc;
            font-size: 16px;
        }
        .copyright_text a:hover{
            color: #f15d2f;
        }
        .border{
           padding-top: 5em;
        }
        
        
        @media (max-width: 1439px) and (min-width: 1263px)
        {
           .Contact{
            padding-left: 7em;
        } 
        }
       
   }
    
}


