.type-608{
    .footer-warpper{
        #footer {
            color: #d5d5d5;
            background-color: #2f2f2f;
            border-top: 4px solid #fff;
            padding: 40px 0 20px;
            .m_title {
                font-size: 14px;
                color: #fff;
            }
            a {
                text-decoration: none;
                color: #fff;
            }
            .menu {
                list-style: none;
                li {
                    float: left;
                    width: 50%;
                }
            }
            .copyright img {
                float: left;
                margin-right: 20px;
            }
            .bottom {
                padding-top: 30px;
                border-top: 5px solid #484848;
                color: #8b8c8d;
            }
            .social-icons {
                float: right;
            }
        }
        .row {
            margin-bottom: 35px;
        }
        .m_title {
            margin-top: 0;
            color: #CD2122;
            text-shadow: 0 1px 0 #fff;
            margin: 10px 0;
            font-family: inherit;
            font-weight: bold;
            line-height: 20px;
        }
        ul{border: 0;
        }
        .dis {
            margin: 0;padding: 0;
        }
        .clearfix { 
            clear: both;
        }
        li {
            line-height: 20px;
        }
        .newsletter-signup {
            #result {
                display: inline-block;
                margin-bottom: 10px;
            }
            form {
                margin-bottom: 10px;
            }
            input[type="text"] {
                width: 120px;
                background: #dddddd;
                border: 1px solid #a3a3a3;
                box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2) inset;
            }
            input {
                vertical-align: top;
            }
        }
        input {
            font: 13.3333px Arial;
            input[type="text"]{
                display: inline-block;
                padding: 4px 6px;
                font-size: 14px;
                line-height: 20px;
                border-radius: 4px;
            }
            input[type="submit"] {
                color: #fff;
                background: #cd2122;
                border: 0;
                font-weight: 700;
                font-size: 13px;
                height: 30px;
                padding: 0 15px;
                margin-left: 5px;
                border-radius: 3px;
            } 
        }

        small {
            font-size: 85%;
        }
        strong {
            font-weight: bold;
        }
        .map-link > span {
            margin-top: 2px;
        }
        .icon-map-marker {
            background-position: -24px -72px;
        }
        [class^="icon-"], [class*=" icon-"] {
            display: inline-block;
            width: 14px;
            height: 14px;
        }
        #twitterFeed {
            background: url(../images/twitter-bird.png) no-repeat 15px center #444;
            font-size: 12px;
            color: #fff;
            padding: 15px 75px 15px 60px;
            margin-bottom: 15px;
            font-style: italic;
            border-radius: 3px;
            ul {
                font-size: 11px;
            }
        }
        .social-share {
            margin: 25px 0 0;float:right;
            li {
                display: inline-block;
                margin-left: 10px;
                width: 90px;
                max-height: 20px;
                vertical-align: top;
                .sc-gplus {
                    width: 70px;
                }
            }
        }
        .social-icons {
            margin: 0 0 20px;
            li {
                display: inline-block;
                a {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    text-indent: -9999px;
                    background: url(../images/social-icons-sprite.png) no-repeat;
                    background-color: #111;
                    border-radius: 3px;
                }
                .social-dribbble a {
                    background-position: -30px 0;
                }
                .social-facebook a {
                    background-position: -60px 0;
                }
                .social-envato a {
                    background-position: -90px 0;
                }
            }
        }
    }
    /*------Reponsive---------*/
    @media (max-width: 1439px) and (min-width: 1263px)
        {
        .footer-warpper {
            width: 100%;
        }
    }

    @media (max-width: 1135px) and (min-width: 1024px)
        {
        .footer-warpper {
            width: 100%;
        }
    }

    @media (max-width: 1262px) and (min-width: 1136px)
        {
        .footer-warpper {
            width: 100%;
        }
    }

    @media (max-width: 1023px) and (min-width: 960px)
        {
        .footer-warpper {
            width: 100%;
        }
    }

    @media (max-width: 959px) and (min-width: 768px)
        {
        .footer-warpper {
            width: 100%;
        }
    }

    @media (max-width: 767px) and (min-width: 640px)
        {
        .footer-warpper {
            width: 100%;
        }
    }


    @media (max-width: 639px) and (min-width: 480px)
        {
        .footer-warpper {
            width: 100%;
        }
    }

    @media (max-width: 479px)
        {
        .footer-warpper {
            width: 100%;
        }
    }
}
