@media (max-width: 479px)
{
    .content_wrap {
        width: 280px;
    }
}
.container {
    padding: 0px;
}
.type-13 {
    a {
        text-decoration: none;
        background: transparent;
    }
    /*************icon eye*******************/
    .icon{
        position: relative;
        bottom: 150px;
        font-size: 48px;
        color: #fff;
        transition: all 1s ease 0s;
        opacity:0;
    }
    .hover_icon:hover{
        .icon{
            bottom:310px;
            transition: all 1s ease 0s;
            opacity:1;
        }
    }
    .hover_icon {
        position: relative;
        display: block;
        text-align:center;
    }
    
    .page_paddings_yes {
        padding: 10px;
    }
    .post_title {
        font-size: 36px;
        margin-bottom: 97px;
        text-transform: none; 
    }
    /******************link date,info*************************/
    .post_title_link {
        color: rgb(92, 85, 81);
        font-weight: bold;
    }
    .post_info {
        margin-bottom: 1rem;
        font-size: 13.008px;
    }
    .post_info_date {
        color: #5c5551;
    }
    .post_info_date:hover {
        color: #f15d2f;
    }
    .post_info_counters {
        margin: 0px 10px;
        border-left: 1px #ccc dotted;
    }
    .view_item {
        color: #f15d2f;
        margin: 0px 5px;
    }
    .post_counters_number {
        color: #f15d2f;
    }
    .post_counters_number:hover {
        color: #5c5551;
    }
   /**************image and hover image************************/
    .post_image {
        width: 100%;
    }
    .post_image:hover {
        opacity: 0.8;
    }
    .post_content {
        margin-bottom: 48px;
    }
    .post_descr {
        font-size: 16px;    
    }
    .more_button {
        color: #f15d2f;
    }
    /***********next page, review page***************/
     .pager_nav:hover{
        color:@color_base;
        background:#fff;
    }
    .pager_nav {
        border: 2px solid #ddd;
        color: #fff;
        background-color: #f15d2f;
        border-color: #f15d2f;
        display: inline-block;
        padding: 0.7143em 0.8em;
        font-size: 0.875em;
        line-height: 0.875em;
    }
    .pager_current {
        color: #f15d2f;
        background-color: #fff;
    }
    .pagination_wrap {
        text-align: center;
        position: relative;
    }
}