.type-g-1 {
  @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
}
.type-g-1 .container {
  margin-left: auto;
  margin-right: auto;
}
.type-g-1 .clear {
  clear: both;
}
.type-g-1 .col-1 {
  width: 80%;
  float: left;
}
.type-g-1 .col-2 {
  width: 20%;
  float: left;
}
.type-g-1 .col-5 {
  width: 40%;
  float: left;
}
.type-g-1 .mega-dropdown {
  position: static !important;
}
.type-g-1 .mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
}
.type-g-1 .mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 1px;
}
.type-g-1 .mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.type-g-1 .mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.type-g-1 .mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}
.type-g-1 .carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;
}
.type-g-1 .left.carousel-control {
  right: 30px;
  left: inherit;
}
.type-g-1 .carousel-control .glyphicon-chevron-left,
.type-g-1 .carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}
.type-g-1 .card-container.card {
  max-width: 350px;
  padding: 40px 40px;
}
.type-g-1 .btn {
  font-weight: 700;
  height: 36px;
  user-select: none;
  cursor: default;
}
.type-g-1 .card {
  background-color: #F7F7F7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}
.type-g-1 .profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  border-radius: 50%;
}
.type-g-1 .profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
}
.type-g-1 .reauth-email {
  display: block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}
.type-g-1 .form-signin #inputEmail,
.type-g-1 .form-signin #inputPassword {
  direction: ltr;
  height: 44px;
  font-size: 16px;
}
.type-g-1 .form-signin input[type=email],
.type-g-1 .form-signin input[type=password],
.type-g-1 .form-signin input[type=text],
.type-g-1 .form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  box-sizing: border-box;
}
.type-g-1 .form-signin .form-control:focus {
  border-color: #6891a2;
  outline: 0;
}
.type-g-1 .btn.btn-signin {
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  border-radius: 3px;
  border: none;
}
.type-g-1 .btn.btn-signin:hover,
.type-g-1 .btn.btn-signin:active,
.type-g-1 .btn.btn-signin:focus {
  background-color: #618596;
}
.type-g-1 .forgot-password {
  color: #6891a2;
}
.type-g-1 .forgot-password:hover,
.type-g-1 .forgot-password:active,
.type-g-1 .forgot-password:focus {
  color: #0c6121;
}
.type-g-1 .hotline {
  padding-top: 15px;
}
.type-g-1 #col1 {
  margin-left: 18px;
}
.type-g-1 #col2 {
  padding-left: 72px;
  padding-top: 35px;
}
.type-g-1 body {
  font-family: 'Open Sans', 'sans-serif';
}
.type-g-1 .mega-dropdown {
  position: static !important;
}
.type-g-1 .mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
}
.type-g-1 .mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.type-g-1 .mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.type-g-1 .mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.type-g-1 .mega-dropdown-menu > li ul > li > a:hover,
.type-g-1 .mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.type-g-1 .mega-dropdown-menu .dropdown-header {
  font-size: 24px;
  color: #222;
  padding: 5px 60px 5px 5px;
  line-height: 24px;
}
.type-g-1 .carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;
}
.type-g-1 .left.carousel-control {
  right: 30px;
  left: inherit;
}
.type-g-1 .carousel-control .glyphicon-chevron-left,
.type-g-1 .carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}
.type-g-1 .nen {
  background: #222;
}
.type-g-1 .carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  overflow: hidden;
}
.type-g-1 .item.active img {
  transition: transform 5000ms linear 0s;
  transform: scale(1.05,1.05);
}
.type-g-1 .carousel-fade .carousel-inner .active {
  opacity: 1;
}
.type-g-1 .carousel-fade .carousel-inner .active.left,
.type-g-1 .carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.type-g-1 .carousel-fade .carousel-inner .next.left,
.type-g-1 .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.type-g-1 .carousel-fade .carousel-control {
  z-index: 2;
}
.type-g-1 #custom-search-input {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}
.type-g-1 #custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  margin-bottom: 0;
  border-radius: 3px;
}
.type-g-1 #custom-search-input button {
  border: 0;
  background: none;
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
}
