.type-660 {
    .silider-wrapper{
        margin: 0 ;
        line-height: 1.42857143;
        background-color: #1f1f1f;
        #owl-demo {
            .item{
                margin: 3px;
                img{
                    display: block;
                    height: auto;
                }
            }
        }
        .owl-carousel {
            overflow: hidden;
            padding: 70px;
            background: #282828;
            box-sizing: border-box;
        }
        .owl-controls .owl-page.active span, .owl-page:hover span {
            opacity: 1;
            background: #fde230;
        }
    }
    @media(max-width:480px)
    {
        .owl-demo{
            margin-top: 10px;
        }
    }
}



