.clear {clear: both;}
/*******************************************Header*****************************************************/
.type-e-600 {
    @font-size: 36px;
    @color: #fff;
    .rescure{
        .col-md-9{
            width: 100%
        }
        padding-bottom: 170px;
        margin-left: 265px;
        .rescure1{
            .badge{
                left: 20px;
                position: absolute;
                top: 15px;
                z-index: 1;
                background: #c51212;
                .badge_sale{
                    background-color: #cd2122;
                    color: @color;                   
                    line-height: 1;
                    padding: 5px;
                    position: relative;
                    display: block;
                    border-radius: 1px;
                    text-align: center;
                    box-sizing: border-box;
                }
            }
            .images{
                background: #fff;
                border: 1px solid #eaeaea;
                position: relative;
                box-sizing: border-box;
                float: left;
                width: 100%;
                margin-bottom: 2em;
                .san-pham-phu{
                    padding: 10px 0 0 10px;
                    margin: 0 10px;
                    img{
                        border: 1px solid #eaeaea;
                        padding: 2px;
                        width: 100%;
                        display: block;
                        height: auto;
                        box-shadow: none;
                        max-width: 100%;
                    }
                    .sp1{
                        width: 21%;
                        float: left;
                        margin-right: 3.8%;
                        margin-bottom: 1em;
                    }
                }
            }
        }
        .rescure2{
            h1{
                font-family: "Montserrat",Helvetica,Arial,sans-serif;
                font-size: @font-size;
                font-weight: 400;
                font-style: normal;
                color: inherit; 
            }
            .product_title{
                line-height: 1.4;
                clear: none;
                margin-top:0;
            }
            .product-rating{
                margin-bottom: 1.618em;
                line-height: 2;
                display: block;
                box-sizing: border-box;
                a{color: #000; }
            }
            .offers{ margin-bottom: 10px;
                     .price{
                         color: #282828;
                         font-size: 18px;
                         font-weight: 600;
                         line-height: 1;
                         margin-bottom: 0;
                         text-decoration: none; 
                         .amount{ margin: 0 5px; }  
                     }
                     .price del{
                         opacity: 0.8;
                         text-decoration: none;
                         margin-right: 10px;
                         display: inline-block;
                         .amount{
                             text-decoration: line-through;
                             margin: 0 5px;
                         }
                     }
                     .price ins{
                         text-decoration: none;
                         font-weight: 600;
                         display: inline-block;
                         background: inherit;
                     }                  
            }
            .desc{ margin-bottom: 30px; }
        }
    }
    @media (max-width: 768px){
        .rescure1{
            text-align: center;
        }
        .rescure2{
            text-align: center;
        }
        .rescure{
             padding-bottom: 170px;
             margin-left: auto;
        }
    }
}   

