.type-643 {
    @color:#888;
    .backgr {
        background: #fff;
        width: 100%;
        box-shadow: 0 0 4px;
    }
    .topline{
        background: #169fe6;
        height: 5px;
    }
    .eight-columns{
        float: left;
        width: 500px;
        #logo{
            margin-top:50px;
            #tagline{
                color:@color;
                border-left:1px solid #e8e8e8;
                margin:0 0 0 20px;
                padding:5px 0 5px 20px;
                float:left;
                font-size:12px
            }
        }
        #logo a img{
            float:left;
            width:104px;
            height:26px;
            margin-left: 5px;
        }
        .social-icons{
            margin:23px 5px 13px 0;
            float:right;
            li{
                list-style:none;
                text-indent:-9999px;
                float:left;
                opacity:0.5;
                padding-left: 10px;
            }
        }
        .contact-details{
            float:right;
            margin:-1px 0 1px 0;
            color:#888;
            font-size:11px;
        }
        .top-search{
            float:right;
            .search-btn{
                float:right;
                position:relative;
                margin:-5px 0 0 -35px;
                background:url('../images/search.png') center center no-repeat;
                width:35px;
                height:32px;
                border:none;
                z-index:100;
            }
            input{
                min-width:180px;
                font-size:11px;
                color:@color;
            }
            .search-field{
                float:right;
                position:relative;
            }
        }
        .social-icons li a{
            display:block;
            padding-left:11px;
            height:16px;
            width:16px;
        }
        .social-icons li:hover{
            opacity:1
        } 
        .twitter{
            background:url(../images/social/twitter.png) no-repeat 50%;
        }
        .facebook{
            background:url(../images/social/facebook.png) no-repeat 50%;
            margin:0 -4px;
        }
        .dribbble{
            background:url(../images/social/dribbble.png) no-repeat 50%;
        }
        .linkedin{
            background:url(../images/social/linkedin.png) no-repeat 50%;
        }
        .rss{
            background:url(../images/social/rss.png) no-repeat 50%;
            margin:0 -5px 0 0;
        }
    }
    @media all and (max-width:1310px) {
        #logo a img{
            float:left;
            width:104px;
            height:26px;
        }
        .type-643 {
            width: 100%;
            margin-left: -1px;
        }
        @media (max-width:613px) {
            .eight-columns{
                width: 198px;
                .container {
                    background: #fff;
                    max-width: 1170px;
                    margin-left: 1px;
                    box-shadow: 0 0 4px;
                }
            }
        }
        @media (max-width:1201px) {
            .eight-columns {
                float: left;
                width: 250px;
            }
        }
    }
}