.type-05 .page-title {
  background: url(../images/page_title_bg.png) no-repeat left center;
}
.type-05 .page-title {
  background-size: cover !important;
  padding: 58px 0;
}
.type-05 .page-title h2.title {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  line-height: 1.26;
  color: #ffffff;
}
.type-05 .page-title h2.title {
  margin: 0 0 25px;
}
.type-05 .breadcrumbs {
  background: #f4f5f8;
  padding: 25px 0;
}
.type-05 .breadcrumbs span.parent i {
  padding-right: 5px;
}
.type-05 .breadcrumbs span {
  text-transform: uppercase;
}
.type-05 .breadcrumbs i {
  padding-right: 15px;
  color: #bebebe;
}
.type-05 .breadcrumbs a:hover {
  color: #093eb6;
}
.type-05 .breadcrumbs span {
  padding-right: 15px;
}
.type-05 .breadcrumbs span,
.type-05 .breadcrumbs a {
  font-size: 15px;
  color: #61656f;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
