.type-g-11 body {
  font: 75%/150% Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #333;
}
.type-g-11 .container {
  margin-left: auto;
  margin-right: auto;
}
.type-g-11 * {
  margin: 0;
  padding: 0;
}
.type-g-11 .img {
  max-width: none !important;
  vertical-align: middle;
  border: 0;
  top: -0.0432649%;
  left: 0%;
  width: 100%;
  height: auto;
  visibility: visible;
  display: block;
  position: absolute;
}
.type-g-11 * {
  margin: 0;
  padding: 0;
}
.type-g-11 .clear {
  clear: both;
}
.type-g-11 .row {
  width: 100%;
  float: left;
}
.type-g-11 .section-title.padding-right {
  padding-right: 80px !important;
}
.type-g-11 .item a:hover {
  text-decoration: none;
  background: #de2666;
}
.type-g-11 .footer-top-container {
  background-color: #ffffff;
}
.type-g-11 .footer {
  margin: 0 auto;
  padding: 0;
  text-align: left;
}
.type-g-11 .inner-container {
  padding-left: 12px;
  padding-right: 12px;
  clear: both;
}
.type-g-11 .inner-container:before,
.type-g-11 .inner-container:after {
  display: table;
  line-height: 0;
  content: "";
}
.type-g-11 .section {
  padding: 10px 0;
}
.type-g-11 .footer .item-left {
  float: left;
  margin-right: 20px;
}
.type-g-11 ul {
  list-style: none;
}
.type-g-11 .links-wrapper-separators .links > li {
  margin-left: -1px;
}
.type-g-11 .links > li {
  float: left;
}
.type-g-11 .links > li {
  line-height: 36px;
}
.type-g-11 .links-wrapper-separators .links > li > a {
  background-image: url(http://ultimo.infortis-themes.com/demo/skin/frontend/ultimo/default/images/img/link-separator.png);
  background-position: right center;
  background-repeat: no-repeat;
}
.type-g-11 .links > li > a {
  display: block;
  padding: 0 0.5833em;
}
.type-g-11 .footer .item-right {
  float: right;
  margin-left: 20px;
}
.type-g-11 .clearer:after {
  display: block;
  content: ".";
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
  overflow: hidden;
}
