.type-g-14 {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    * {
        margin: 0;
        padding: 0;
    }
    .clear {
        clear:both;
    }
    .row{
        width: 100%;
        float:left;
    }
    img {
        border: 0;
        vertical-align: top;
        max-width: 100%;
    }





    .footer-bottom-container {
        background-color: #000000;
    }
    .section-container {
    }
    .footer-bottom {
        background-color: transparent;
        color: #888888;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer {
        margin: 0 auto;
        padding: 0;
        text-align: left;
    }
    inner-container {
        padding-left: 12px;
        padding-right: 12px;
        clear: both;
    }
    .inner-container:before, .inner-container:after {
        display: table;
        line-height: 0;
        content: "";
    }



    /****Left****/
    .footer .item-left {
        float: left;
        margin-right: 20px;
    }
    .footer-copyright {
        font-size: 11px;
        line-height: 16px;
        margin: 4px 0;
    }



    /****Right****/
    .footer .item-right {
        float: right;
        margin-left: 20px;
    }
    .block_footer_payment {
        margin-bottom: 10px;
    }
    select {
        height: 36px;
        padding: 8px;
        text-overflow: ellipsis;
        background: #fff;
        border: 1px solid #ddd;
        color: #888;
        box-sizing: border-box;
        border-radius: 0px;
        box-shadow: none;
    }
    select option {
        padding-right: 10px;
        padding-left: 5px;
    }
}

