@color_base: #f15d2f;
@media (max-width: 1439px) and (min-width: 1263px)
{
    .content_wrap {width: 1000px;}
}
@media (max-width: 479px)
{
    .content_wrap { width: 280px;}
}
.type-e-631 {
    .link {
        background-color: @color_base; 
        margin-left: 17px;
        .padding-link {
            padding-bottom: 15px;
            padding-top: 15px;
            .color-link {color: #fff;} 
            a{
                text-decoration: none;
                color:rgba(255,255,255,0.5);
            }    
        }     
        a:hover { color: #fff;}
    }
}


