.type-639 {
    margin-top: 150px;
    .footer {
        background: #03153e;
    }
    .container {
        max-width: 100% !important;
        width: 1170px !important;
    }
    .eq-columns {
        display: flex;
        .contact-box {
            height: 100%;
            i.fa {
                font-size: 20px;
                color: #000;
                float: left;
            }
        }
    }
    .pre-footer {
        position: relative;
        top: -73px;
        .contact-box {
            padding: 30px 40px;
            background: #ffda44;
            .contact-details {
                padding-left: 35px;
                p {
                    color: #000;
                }
                .pre-footer-title {
                    font-size: 20px;
                    font-weight: bold;
                    margin: 0 0 15px;
                }
            }
        }
    }
    .pre-footer > div {
        padding: 0;
    }
    /***********widgets**********/
    .widgets {
        padding: 0 0 70px;
        .widgets-social a {
            background: #ffda44;
            width: 36px;
            height: 36px;
            display: inline-block;
            line-height: 36px;
            text-align: center;
            margin-right: 10px;
            border-radius: 50%;
            i {
                color: #000;
            }
        }
        .widgets-social a:hover {
            transform: rotate(360deg);
        }
        .widget-title {
            font-size: 20px;
            color: #fff;
            font-weight: bold;
            margin: 30px 0;
            text-transform: uppercase;
            ul {
                margin: 0;
            }
        }
    }
    .footer-widgets a:hover {
        color: rgba(255, 255, 255, 0.7);
    }
    .footer-widgets ul li a {
        color: rgba(255, 255, 255, 0.5);
        line-height: 1.6;
        font-size: 16px;
        padding-bottom: 15px;
        display: block;
        text-decoration: none;
    }
    p {
        font-size: 16px;
        color: #677078;
        line-height: 1.688;
        margin-bottom: 20px;
    }
    /*****************buttom enter email and Subcribe Now********************/
    .newsletter{
        input {
            padding: 0 15px;
            line-height: 48px;
            width: 100%;
        }
        button {
            font-size: 20px;
            font-weight: bold;
            line-height: 48px;
            border-radius: 0;
            background: #ffd427;
        }
    }
    /*****************CoppyRight**********************/
    .copyright {
        padding: 35px 0;
        background: #020e28;
        .copyright-bar a {
            padding-right: 15px;
        } 
        .footer-bottom-widgets {
            font-size: 14px;
            color: rgba( 255, 255, 255, 0.33);
            line-height: 1.857;
            margin-bottom: 0;
            display: inline-block!important;
            ul > li {
                display: inline-block!important;
            }
        }
    }
    .widget ul {
        list-style-type: none;
        padding: 0;
    }
    .fa-phone .fa-map-marker .fa-file-audio-o .fa-facebook .fa-twitter .fa-linkedin.fa-instagram .form-group.btn-block {
        padding: 0;
    }
    
}