.type-653 .title {
  margin: 0 0 50px 0;
  top: 30px;
  left: 15px;
  position: relative;
}
.type-653 .title .thumb_icons {
  top: 25px;
}
.type-653 .title .text_icons p {
  font-size: 11px;
  color: #aaa;
}
.type-653 .title a:hover {
  text-decoration: none;
}
.type-653 .title .mn {
  float: right;
  width: auto;
  top: 20px;
  position: relative;
  z-index: 9999;
}
.type-653 .title .mn #sl {
  padding: .4em 1em;
  background: transparent url(../images/bg-style-wrap.png) repeat-x bottom center;
}
.type-653 .title .breadcrumb {
  position: relative;
  padding: 0;
}
.type-653 .title .breadcrumb .breadcrumb-trail {
  font: 12px/1.7em "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  position: absolute;
  bottom: -9px;
  left: 0;
  background: #fff;
  padding: 0 7px 0 0;
}
@media (max-width: 992px) {
  .type-653 .mn {
    padding-bottom: 10px;
  }
}
