.type-615{
    @size: 14px;
    @colorbg: #FFF;
    @color: #fff;
    .div {
        position: absolute;
        top: 0;
    }
    .relative {
        position: relative;
        padding-top: 65px;
        padding-bottom: 85px;
        .source:not(:empty) {
            .div;
            left: 0;
            bottom: 0;
            right: 0;
            .source_gloss {
                .div;
                left: -43%;
                background-color: @colorbg;
                width: 100%;
                transform: skewX(-55deg);
                height: 100%;
                transform-origin: 100% 0;
                opacity: .08;
            }
        }
    }
    a:hover {
        text-decoration: none;
    }
    .kl-iconbox {
        color: @color;
        margin-bottom: 30px;
    }
    .fs-large {
        font-size: 200%;
    }
    .fw-semibold {
        font-weight: 600;
    }
    .btn-md.btn-lined {
        padding: @size 25px;
    }
    .btn-lined {
        border-width: 2px;
        color: @color;
        font-weight: 700;
        border-style: solid;
    }
    .bottommask-mask3 .glyphicon {
        position: absolute;
        bottom: 5px;
        left: 50%;
        font-size: 22px;
        opacity: 0.2;
        height: 15px;
        top: auto;
        transform: translateX(-50%);
    }
    .glyphicon-chevron-down .text-center {
        padding: 0;
    }
    @media(min-width:1025px){
        .btn-lined {
            border-width: 2px;
            color: @color;
            font-weight: 700;
            border-style: solid;
        }
    }
}