.type-40-1 .content1 {
  margin-top: 70px;
}
.type-40-1 .content1 .sc_section_inner {
  color: #5c5551;
  height: 450px;
}
.type-40-1 .content1 h6 {
  color: #aeaead;
  margin: 0 0 0.55em;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.055em;
}
.type-40-1 .content1 h2 {
  text-align: center;
  font-size: 2.25em;
  font-weight: 700;
  margin-bottom: 40px;
}
.type-40-1 .content1 .colums {
  padding-bottom: 50px;
}
.type-40-1 .content1 img {
  border-radius: 50%;
  width: 10.5em;
  height: 10.5em;
}
.type-40-1 .content1 a {
  color: #45403d;
  font-weight: 400;
  font-size: 25px;
  display: inline-block;
  text-decoration: none;
}
.type-40-1 .content1 a:hover {
  color: #f15d2f;
}
.type-40-1 .content1 h5 {
  color: #f15d2f;
}
.type-40-1 .content1 p {
  margin-top: 1em;
  line-height: 1.5em;
  font-size: 16px;
}
