.type-40-CT .page_content .content h1 {
  margin-bottom: 3.2em;
  font-size: 2.25em;
  font-weight: 700;
  text-transform: none;
  padding-top: 2.7em;
}
.type-40-CT .page_content a {
  text-decoration: none;
  color: #45403d;
}
.type-40-CT .page_content .post_info {
  padding-bottom: 15px;
}
.type-40-CT .page_content .posted a:hover {
  color: #45403d;
}
.type-40-CT .page_content .Started a {
  color: #aeaead;
}
.type-40-CT .page_content .number1 a {
  border-color: #dcdcdc !important;
  border-right: 1px dotted rgba(0,0,0,0.001);
  padding-left: 5px;
  padding-right: 5px;
}
.type-40-CT .page_content .number1 a:hover {
  color: #f15d2f;
}
.type-40-CT .page_content .number2 a {
  color: #f15d2f;
}
.type-40-CT .page_content .number a {
  color: #f15d2f;
}
.type-40-CT .page_content .number a:hover {
  color: #45403d;
}
.type-40-CT .page_content .post_featured img {
  width: 100%;
  height: auto;
}
.type-40-CT .page_content .hover_icon {
  position: relative;
  display: block;
}
.type-40-CT .page_content .hover_icon:before {
  font-size: 3rem;
  color: #ffffff;
  text-shadow: -4px 3px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  opacity: 0;
  margin-top: 100px;
}
.type-40-CT .page_content .hover_icon:hover:before {
  opacity: 1;
  filter: alpha(opacity=100);
  margin-top: 0;
}
.type-40-CT .page_content .hover_icon:hover:after {
  opacity: 1;
}
.type-40-CT .page_content .hover_icon:after {
  content: ' ';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  opacity: 0;
}
.type-40-CT .page_content p {
  color: #5c5551;
  margin-bottom: 1.5em;
  font-size: 16px;
  margin-top: 1.8em;
}
.type-40-CT .page_content p.comments_notes {
  color: #909090;
}
.type-40-CT .page_content .comments_message {
  margin-bottom: 20px;
}
.type-40-CT .page_content .comments_form_wrap {
  max-width: 770px;
  height: 518px;
  margin-bottom: 8em;
}
.type-40-CT .page_content label {
  display: none;
}
.type-40-CT .page_content textarea {
  width: 100%;
  height: auto;
  padding: 1.15em 1.4em;
  border-color: #dcdcdc;
  color: #aeaead;
  border: 1px solid;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.3em;
  min-height: 8em;
}
.type-40-CT .page_content .comments_author {
  width: 48%;
  float: left;
  margin-bottom: 20px;
}
.type-40-CT .page_content .comments_email {
  float: right;
  width: 48%;
  margin-bottom: 20px;
}
.type-40-CT .page_content input {
  border-color: #dcdcdc;
  color: #aeaead;
  width: 100%;
  padding: 1.15em 1.4em;
  border: 1px solid;
  font-size: 1;
  font-weight: 400;
}
.type-40-CT .page_content .add {
  float: right;
}
@media (max-width: 1439px) and (min-width: 1263px) {
  .type-40-CT .page_content .add {
    width: 24%;
  }
}
.type-40-CT .page_content .form-submit input {
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  border-color: #f15d2f;
  background-color: #f15d2f;
  display: inline-block;
  text-align: center;
  padding: 0.75em 1em;
  font-size: 0.8em;
  font-weight: 400;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  letter-spacing: 0.045em;
}
.type-40-CT .page_content .form-submit input:hover {
  color: #fff;
  border-color: #5c5551;
  background-color: #5c5551;
}
.type-40-CT .page_content .sc_infobox {
  display: block;
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 1.3em;
  padding: 2rem 2.177rem;
  margin: 1.4rem 0;
  clear: both;
  position: relative;
  background-color: #f36633;
}
.type-40-CT .page_content p.error_item {
  color: #fff;
}
