/************Main content************/
.type-640 {
    .content{
        .page-title {
            background: url(../images/page_title_bg.png) no-repeat left center;
            background-size: cover!important;
            padding: 58px 0;
            .title {
                text-align: center;
                font-weight: 700;
                font-style: normal;
                font-size: 50px;
                line-height: 1.26;
                color: #fff;
                margin: 0 0 25px;
            }
        }
        .breadcrumbs {
            background: #f4f5f8;
            padding: 25px 0;

            span.parent i {
                padding-right: 5px;
            }
            i {
                padding-right: 15px;
                color: #bebebe;
            }
            a:hover {
                color: #093eb6;
            }
            span {
                padding-right: 15px;
            }
            span,
            a {
                font-size: 15px;
                color: #61656f;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}
/***********End Main content************/

/*---------------REPONSIVE----------------*/
@media (max-width: 1439px) and (min-width: 1263px) {
    .content{
        width: 100%;
    }
}

@media (max-width: 1135px) and (min-width: 1024px) {
    .content{
        width: 100%;
    }
}

@media (max-width: 1262px) and (min-width: 1136px) {
    .content{
        width: 100%;
    }
}

@media (max-width: 1023px) and (min-width: 960px) {
    .content{
        width: 100%;
    }
}

@media (max-width: 959px) and (min-width: 768px) {
    .content{
        width: 100%;
    }
}
/*---------------/  END-REPONSIVE----------------*/
