.type-05 {
    .page-title {
        background: url(../images/page_title_bg.png) no-repeat left center;
        background-size: cover!important;
        padding: 58px 0;

        h2.title {
            font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 50px;
            line-height: 1.26;
            color: #ffffff;
            margin: 0 0 25px;
        }
    }
    // phan 2
    .breadcrumbs {
        background: #f4f5f8;
        padding: 25px 0;
   
        span.parent i {
            padding-right: 5px;
        }
        i {
            padding-right: 15px;
            color: #bebebe;
        }
        a:hover {
            color: #093eb6;
        }
        span {
            padding-right: 15px;
        }
        span,
        a {
            font-size: 15px;
            color: #61656f;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}
