@background_footer: #292724;
@color_base: #f15d2f;
@color_title_base: #45403d;
@color: #878280;

@media (max-width: 1439px) and (min-width: 1263px)
{
    .content_wrap {
        width: 1000px;
    }
}

@media (max-width: 1135px) and (min-width: 1024px)
{
    .content_wrap{
        width: 964px;
    }
}

@media (max-width: 1262px) and (min-width: 1136px)
{
    .content_wrap {
        width: 910px;
    }
}

@media (max-width: 1023px) and (min-width: 960px)
{
    .content_wrap {
        width: 900px;
    }
}

@media (max-width: 959px) and (min-width: 768px)
{
    .content_wrap {
        width: 708px;
    }
}

@media (max-width: 767px) and (min-width: 640px)
{
    .content_wrap {
        width: 600px;
    }
}


@media (max-width: 639px) and (min-width: 480px)
{
    .content_wrap {
        width: 440px;
    }
}

@media (max-width: 479px)
{
    .content_wrap {
        width: 280px;
    }
}
.type-23 {
   /********************************statistical*********************************************/
   .statistical {
       background-image: url(../images/bg_lab_members.jpg);
       
       @media (min-width:769px) {
           .col-st {
               width: 25%;
               float: left;
           }
       }
       
       @media (max-width:768px) {
           .col-st {
               width: 50%;
               float: left;
           }
       }
       
       @media (max-width:479px) {
           .col-st {
               width: 100%;
               float: left;
           }
       }
       
       .col-st {
           text-align: center;
       }
       
       .icon-st {
           font-size: 64px;
           color: #fff;
       }
       
       .content-main {
           padding-top: 70px;
           
           .icon-st {
               margin-bottom: 15px;
           }
           
           .content-st {
               
               margin-bottom: 100px;
               
               .count {
                   font-size: 34px;
                   color: #fff;
               }
               
               .kill {
                    .info {
                        color: #fff;
                        font-size:  16px;
                        text-transform: uppercase;
                    }
               }
               
                .boder {
                    border-top: 1px #fff solid;
                    width: 100px;
                    margin: 20px auto;
                }
           }
       }
       
   }
}
/* END MODULE TEST */

