.type-613{
    .box-title{
        @color: #939393;
        @m-color: #CD2122;
        .pbottom-0 {
            padding-bottom: 0;
        }
        .ptop-65 {
            padding-top: 65px;
        }
        .hg_section {
            padding-bottom: 35px;
        }
        section {
            .hg_section;
        }
        .kl-title-block {
            .hg_section;
        }
        .fs-26 {
            font-size: 26px;
        }
        .tbk__title {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 24px;
            line-height: 30px;
            font-weight: 400;
            font-style: normal;
        }
        .tcolor {
            color: @m-color !important;
        }
        .fs-16 {
            font-size: 16px;
        }
        .fw-thin {
            font-weight: 300;
        }
        .tbk__subtitle {
            margin-top: 0;
            font-family: 'Open Sans';
            line-height: 26px;
            font-weight: 400;
            font-style: normal;
        }
        .light-gray {
            color: #a8a8a8;
        }
        .imgboxes_style4 {
            .imgboxes-wrapper {
                margin-bottom: 20px;
                height: 270px;
            }
            .kl-title_style_bottom {
                .imgboxes-border-helper {  
                    position: absolute;
                    border-bottom: solid 5px @m-color;
                    transition: all .2s ease-out;
                    z-index: 1;
                }
                .imgboxes-title {
                    text-align: left;
                    padding: 0 20px 30px;
                    transition: padding-bottom .2s ease-out;
                }
            }
            .imgboxes-title {
                margin-top: -34px;
                bottom: 0;
                width: 100%;
                text-align: center;
                font-size: 25px;
                z-index: 0;
            }
        }
        .m_title {
            font-size: 18px;
            line-height: 1.4;
        }
        .m_title {
            margin-top: 0;
            color: #CD2122;
        }
        .fs-30 {
            font-size: 30px;
            line-height: 36px;
        }
        .fw-bold {
            font-weight: 700;
        }
        .tbk__title {
            margin-top: 0;
            margin-bottom: 10px;
            font-family: 'Open Sans';   
            line-height: 30px;
            font-style: normal;
        }
        .btn-lined.lined-custom {
            color: @m-color;
            border-color: @m-color;
        }
        span{
            border: 0;
            font-size: 100%;
            margin: 0;
            padding: 0;
        }
        img {
            height: auto;
            max-width: 100%;
            vertical-align: middle;
            border: 0;
            font-size: 100%;
            margin: 0;
            padding: 0;
            margin-bottom: 50px;
        }
        body {
            padding-top: 50px;
        }
        a{
            border: 0;
            font-size: 100%;
            margin: 0;
            padding: 0;
            outline: none;
            color: #000;
            text-decoration: none;
        }
        .m_title imgboxes-title {
            font-size: 14px;
            color: #2f2f2f;
            line-height: 1.3;
            margin: 0 0 10px;
            text-rendering: optimizelegibility;
            font-weight: bold;
            a:hover{
                color: @m-color;
            }
        }
        p {
            font-size: 12px;
            font-style: italic;
            color: @color;
            line-height: 1.3;
        }
    }
}