.type-g-9 {
    body {
        font:75%/150% Arial, Helvetica, sans-serif; 
        background-color:#fff; 
        color:#333; 
    }
    .stripe {
        margin: 0 auto;
        background: #ffffff;
        color: #1F1F1F;
        font-family: 'Source Sans Pro';
    }
    .img {
        max-width: none!important;
        vertical-align: middle;
        border: 0;
        top: -0.0432649%; 
        left: 0%; 
        width: 100%; 
        height: auto; 
        visibility: visible; 
        display: block; 
        position: absolute;
    }
    .clear {
        clear:both;
    }
    .row{
        width: 100%;
        float:left;
    }
    .col-1{
        width:80%;
        float:left;
    }
    .col-2{
        width: 20%;
        float:left;
    }
    .col-0 {
        width: 40%;
        float:left;
    }
    .col-0-1 {
        width: 50%;
        float: right;
    }
    .col-5{
        width: 40%;
        float:left;
    }
    .section-title.padding-right {
        padding-right: 80px !important;
    }

   


    /**********************Sample Custom Banner************************/

    .nested-container {
        width: 102%;
        margin-left: -1%;
    }
    .grid12-3 {
        width: 23%;
    }
    .page-banners .banner a img {
        display: block;
        margin: 0 auto;
    }
    .grid12-6 {
        width: 48%;
    }
}
