.type{
   .type-8{
        .footer{
            background-color: #2c3547;
            .widget{
                .title {
                    font-size: 10px;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
                    padding-bottom: 10px;
                    color: #f5f7fa;
                    a{
                        color: #f5f7fa;
                    }
                }
                span{
                    color: #f5f7fa;
                    opacity: 0.7;
                }
                .minitext{
                    font-size: 11px;
                    display: block;
                    letter-spacing: 0;
                    text-transform: none;
                    padding-top: 8px;
                    line-height: 1.5em;
                    font-weight: normal;
                }
                .tweet{
                    border-top: 1px dotted #eee;
                    font-family: Georgia, "Times New Roman";
                    font-style: italic;
                    font-weight: normal;
                    padding-top: 8px;
                    p{
                        color: #f5f7fa;
                        opacity: 0.7;
                        font-size: 11px;
                        display: block;
                        letter-spacing: 0;
                        text-transform: none;
                        padding-top: 8px;
                        line-height: 1.5em;
                        a{
                            color: #f5f7fa;
                            opacity: 0.7;
                        }
                    }
                }
                .thumb-headline{

                    line-height: 18px;
                    position: relative;
                    overflow: hidden;
                    font-size: 11px;
                    display: block;
                    clear: both;
                    margin: 0;
                    .thumb{
                        img{
                            display: block;
                            float: left;
                            border: none;
                            padding: 0;
                            margin-top: 15px;
                        }
                    }
                    .headline{
                        overflow: hidden;
                        font-weight: bold;
                        margin-top: 2px;
                        display: block;
                        .news-time{
                            font-weight: normal;
                            clear: both;
                            font-size: 10px;
                            display: block;
                        }
                        .news-headline{
                            color: #f5f7fa;
                            opacity: 0.7;
                            font-size: 11px;
                            display: block;
                            letter-spacing: 0;
                            text-transform: none;
                            padding-top: 8px;
                            line-height: 1.5em;

                        }
                    }
                }

            }
            .archive{
                padding : 0px !important;
                .title {
                    font-size: 10px;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
                    padding-bottom: 10px;
                    color: #f5f7fa;
                    a{
                        color: #f5f7fa;
                    }
                }
                ul{
                    padding: 0px;
                    li{
                        list-style: none;
                        border-bottom: 1px solid #444;
                        border-top: solid 1px #444;
                        border-color: #4e5769;
                        a{
                            color: #f5f7fa;
                            opacity: 0.7;
                            font-size: 11px;
                            display: block;
                            letter-spacing: 0;
                            text-transform: none;
                            padding-top: 7px;
                            line-height: 1.5em;
                        }
                    } 
                }

            }

        }
        .socket{
            background-color: #1b2436;
            line-height: 50px;
            font-size: 10px;
            color: #f5f7fa;
            .copyright{
                margin: 25px;
                a{
                    color: #f5f7fa;
                }
            }
        }
    } 
}
