.type {

   
    .type-f-9{
        
        .title_container{
    margin: 0 0 20px 0;
    padding: 0 225px 32px 0;
    position: relative;
    border-bottom: 1px solid #eee;
       
    }
    .breadcrumb-trail{
        position: absolute;
        font-size: 10px;
        bottom: -9px;
        left: 0;
        background:  #fff;
        padding: 0 7px 0 0l
    }
    
.price_container{
    position: absolute;
    right: 0;
    top: -10px;
    line-height: 75px;
    .amount{
       font-size: 30px;
    font-weight: normal;
        }
    }
 h4{
        color: #333;
        font-size: 20px;
    font-weight: normal;
    text-transform: none;
  }
.price
    {
    color: #7e9a47;
    display: inline;
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    del{
        color: #bbb;
    }
    ins{
       color: #8b2121;
    }
    }
   
    
.col-md-4 {
    width: 33.33%;
    
    margin-bottom: 10px;
    .sidebar{
            width: auto;
    float: none;
    border: none;
    padding: 0;
    background: transparent;
    }
}
.widget{
    clear: both;
    position: relative;
    overflow: hidden;
    padding: 22px 0 22px 0;
    float: none;
}
.sidebar {
    .widgettitle{
        font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding-bottom: 10px;
    }
}
.product {
    .col-md-8{
            width: 66.67%;
  
    }
}
.stock{
    font-size: 0.92em;
    padding: 2px 0 0 0;
        color: #7e9a47;

}
.cart{
        margin-bottom: 120px;
    overflow: hidden;
 
}
.minus{
    background: #CCC;
    padding: 0;
    vertical-align: middle;
    line-height: 20px;
    width: 20px;
    color: white;
    cursor: pointer;
    margin: 0;
    display: inline;
    border: 0;
}
.minus:hover{
    background-color: #000;
}
.plus{
    background: #CCC;
    padding: 0;
    vertical-align: middle;
    line-height: 20px;
   
    width: 20px;
    color: white;
    cursor: pointer;
    margin: 0;
    display: inline;
    border: 0;
}
.plus:hover{
    background-color: #000;
}
.qty{
    border: 1px solid #E1E1E1;
    width: 40px;
    display: inline;
    padding: 0px 5px 0px;
    line-height: 18px;
    vertical-align: middle;
    margin: 0;
}
.input-text{
    size: 4;
}
.button{
    color: white;
    padding: 10px;
    line-height: 1em;
    margin: 4px 2px 0 0;
    float: left;
    font-size: 12px;
    width: auto;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    border-radius: 3px;
    position: relative;
     background-color: #697a9c;
}
.button:hover{
        background-color: #6e7584;
}
.product_meta {
    font-size: 10px;
    color: #999;
    text-align: right;
    position: relative;
    top: -9px;
}
.container-nav{
    clear: both;
    padding: 1em 0 0 0;
    margin: 0 0 1em 0;
    border: 5px solid #F8F8F8;
    
}
.container-nav ul {
    
    background: #f8f8f8;
   margin-top: -15px;
    
}
.container-nav ul li{
        float: left;
       margin: 0 4px 0 0;
       font-size: 0.92em;
   
}
.container-nav ul li a{
    background: white;
   color: #999;
}
.container-nav ul li.active a{
        
       background: white;
    color: #555;
}
.tab-content{
    margin-left:15px;
      
    h2{
            color: #697a9c;
                padding-top: 15px;
                font-size: 18px;
   clear: both;
    font-weight: normal;
    text-transform: none;
   
    }
}


h2{
    color: #333;
    font-size: 18px;
    clear: both;
    font-weight: normal;
    text-transform: none;
}
.shop_attributes{
 
    width: 100%;
}

th{
        background-color: #2c3547;
            color: #f5f7fa;
            width: 150px;
    font-weight: bold;
    padding: 8px;
 
    border: none;
    margin: 0;
    line-height: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
        font: bold 10px "Helvetica Neue",Helvetica,Arial,sans-serif;
        text-align: center;
}

    
 td{
  
        font-style: italic;
    padding: 8px;
    border-bottom: 1px solid #e1e1e1;
    margin: 0;
    line-height: 1.5em;
                p{
                text-align: center;
                margin: 0;
                 padding: 0;
             }
   
 
            }
 .product-col{
         margin-bottom: 1em;       
 }
  
 
  .thumbnail_container{
      display: block;
    position: relative;
        width: 128px;
          height:120px;
    background: #F8F8F8;
    
    overflow: hidden;
    img{
        margin: 0;
    display: block;
    border: none;
    width: 100%;
    height: auto;
  
    }
  }
  .thumbnail_container_inner{
          width: 118px;
          height:56px;
    
  }
  .col-md-3 h3{
          padding-top: 5px;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    color: #333;
      
  }
 
  
  .relate-product{
      overflow: hidden;

    clear: both;
    padding: 15px;
    border: 5px solid #F8F8F8;
    
  }
 
  .cufon_headings{
          color: #333;
      font-size: 18px;
    clear: both;
    font-weight: normal;
    text-transform: none;
        margin: 0;
    padding: 0;
        display: block;
  }
  
  
 
  

 
   @media (min-width: 780px) and (max-width: 979px) {

            }

            /* Landscape phone to portrait tablet */
            @media (max-width: 779px) {

            }

            /* Landscape phones and down */
            @media (max-width: 480px) {

            }
 
    }
    
    
}














