.type-40-CT {
    .page_content{
       
        .content {
        h1{
            margin-bottom: 65px;
            font-size: 36px;
            font-weight: 700;
            text-transform: none;
            padding-top:65px;
        }
        a{
            text-decoration: none;
            color: #45403d;
        }
        .post_info{
            padding-bottom: 15px;
        }
         .posted a:hover{
             color: #45403d;
        }
        .Started a{
            color: #aeaead;
        }
        .fa{
            color: #f15d2f;
            padding: 0px 10px;
        }
        .number1 a{
             border-color:#dcdcdc!important; 
            border-right: 1px dotted rgba(0,0,0,0.001);
            padding-left: 5px;
            padding-right: 5px;
        }
         .number1 a:hover{
            color: #f15d2f;
        }
        
        .number2 a{
             color:  #f15d2f; 
        }
        .number a{
          color:  #f15d2f; 
        }
        .number a:hover{
              color: #45403d;
        }
        .post_featured{
            text-align: center;
            overflow: hidden;
            height: auto;
        }
          .link {
                opacity: 0;
                position: relative;
                top: 0;
                background-color: #000;
                height:auto;
            }
        
        img {
            opacity: 1;
            max-width: 100%;
        }
        a:hover {
           
            .link {
                opacity: 0.25;
            }
            
            .blog-link {
                
                bottom: 310px;
                transition: all 0.5s ease 0s;
            }
        }
        .blog-link {
            font-size: 42px!important;
            color: #fff;
            position: relative;
            bottom: 0px;
            transition: all 0.5s ease 0s;
        }
        
        p{
            text-align: justify;
            color: #5c5551;
            margin-bottom: 1.5em;
            font-size: 16px;
            margin-top: 1.8em;
        }
        p.comments_notes{
            color: #909090;
        }
        .comments_message{
            margin-bottom: 20px;
        }
        .comments_form_wrap
        {
         max-width: 770px;
         height: 518px;
          margin-bottom: 8em;
        }
         label {
            display: none;
        }
         textarea {
            width: 100%;
            height: auto;
            padding: 1.15em 1.4em;
            border-color: #dcdcdc;
            color: #aeaead;
            border: 1px solid;
            font-size: 1em;
            font-weight: 400;
            line-height: 1.3em;
            min-height: 8em;
        }
        .comments_author {
            width: 48%;
            float: left;
            margin-bottom: 20px;
        }
        .comments_email {
            float: right;
            width: 48%;
            margin-bottom: 20px;
        }
        input{
            border-color: #dcdcdc;
            color: #aeaead;
            width: 100%;
            padding: 1.15em 1.4em;
            border: 1px solid;
            font-size: 1;
            font-weight: 400;
        }
         .add {
            float: right; 
        }
        @media (max-width: 1439px) and (min-width: 1263px)
        {
           .add{
                width: 24%;
            }
        }
         .button{
             float: right;
            border-color: #f15d2f;
            display: inline-block;
            text-align: center;
            padding: 0.75em 1em;
            font-weight: 400;
            border-width: 1px;
            border-style: solid;
            border-radius: 4px;
            text-transform: uppercase;
            letter-spacing: 0.045em;
            background-color: #f15d2f;
            color: #fff;
            margin-bottom: 4.5em;
            margin-top: 30px;
            padding-left: 3.1em;
            padding-right: 3.1em;
        }
        .button:hover{
            border-color: #5c5551;
            background-color:  #5c5551;
            color: #fff;
        }
        
        .result {
            width: 70%;
            position: fixed;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 30px 0px;
        }
        .sc_infobox {
            font-size: 1em;
            font-weight: 400;
            line-height: 1.3em;
            clear: both;
            top:50%;
            padding: 2em 2.177em;
            margin: 1.4em 0px;
            background-color: rgb(243, 102, 51);
            color: rgb(255, 255, 255);
        }
        .result p{
            color: #fff;
        }
        }
    }
    @media(max-width:960px)
    {
        a:hover .blog-link {
            bottom: 235px !important;
            transition: all 0.5s ease 0s;
        }
    }
    @media(max-width:768px)
    {
        a:hover .blog-link {
            bottom: 180px !important;
            transition: all 0.5s ease 0s;
        }
    }
    @media(max-width:640px)
    {
        a:hover .blog-link {
            bottom: 135px !important;
            transition: all 0.5s ease 0s;
        }
    }
    @media(max-width:480px)
    {
        a:hover .blog-link {
            bottom: 80px !important;
            transition: all 0.5s ease 0s;
        }
        .content h1 {
            margin-bottom: 36px!important;
            font-size: 24px!important;
            padding-top: 36px!important;
        }
        .content .comments_author {
            width: 100%!important;
        }
        .content .comments_email{
            width: 100%!important;
        }
    }
}


