.type-668 {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    * {
        margin: 0;
        padding: 0;
    }
    .clear {
        clear:both;
    }
    .row{
        width: 100%;
        float:left;
    }
    .grid12-12, .grid12-9, .grid12-3 {
        display: inline;
        float: left;
        margin-left: 1%;
        margin-right: 1%;
    }
    h6 {
        margin: 0 0 10px;
    }




    .footer-secondary-container {
    }
    .section-container {
    }
    .footer-secondary {
    }
    .footer {
        margin: 0 auto;
        padding: 0;
        text-align: left;
    }
    .inner-container {
        padding-left: 12px;
        padding-right: 12px;
        clear: both;
    }
    .inner-container:before, .inner-container:after {
        display: table;
        line-height: 0;
        content: "";
    }
    .grid12-12 {
        width: 98%;
    } 
    .no-gutter.grid12-9 {
        margin-left: 0;
        margin-right: 0;
        width: 75%;
    }
    .grid12-3 {
        width: 23%;
    }
    .collapsible .block-title, .mobile-collapsible .block-title {
        padding-top: 8px;
        padding-bottom: 8px;
        border-color: rgba(0,0,0, 0.05);
        margin-bottom: 0.625em;
        font-size: 1.3333em;
        line-height: 1.25em;
        font-weight: normal;
    }
    .collapsible .block-title {
        cursor: pointer;
    }
    .collapsible .block-content {
        margin-top: 0;
    }
    ul.bullet {
        list-style: none outside none;
    }
    ul.bullet {
        margin: 0 0 1em;
        padding: 0;
    }
    ul.bullet li {
        background: url(../images/img/bullet.png) 0 0 no-repeat;
        padding-left: 25px;
    }
    .footer-secondary a {
    }
    .footer a {
    }
    a {
        text-decoration: none;
        color: #333;
    }
    a:hover {
        color: blue;
    }



    .no-right-gutter.grid12-3 {
        margin-right: 0;
        width: 24%;
    }
    .feature.indent {
        padding-left: 51px;
    }
    .feature.first {
        margin-top: 0;
    }
    .feature {
        margin: 10px 0;
    }
    .feature.indent {
        margin-left: -51px;
    }
    .feature.indent > .ic {
        float: left;
        margin: 0 15px 0 0;
    }
    .footer .ib {
        background-color: lightskyblue;
        color: #ffffff;
    }
    .ib {
        line-height: 36px;
        width: 36px;
        height: 36px;
        vertical-align: middle;
        text-align: center;
        border-radius: 50%;
    }
    .ic-lg {
        font-size: 1.33333333em;
    }
    .ic {
        display: inline-block;
        font-family: ThemeIcons;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
    }
}

