.type-641 .sidebar {
  padding: 80px 15px;
}
.type-641 .sidebar div {
  margin-bottom: 45px;
}
.type-641 .sidebar .form-control {
  border: 1px solid rgba(244,244,244,0.8);
  background: #ffffff;
  box-shadow: 1px 1.7px 2px 0px rgba(0,0,0,0.1);
  border-radius: 0;
  line-height: 48px;
  height: auto;
  padding: 0 20px;
}
.type-641 .sidebar .sidebar-search-form .btn.search-btn {
  position: absolute;
  right: 12px;
  top: 0;
  line-height: 48px;
  padding: 0 20px;
  background: none;
  font-size: 18px;
  outline: none;
  margin-top: 81px;
}
.type-641 .sidebar .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  color: #677078;
}
.type-641 .sidebar .fa .fa:hover {
  color: #000;
}
.type-641 .sidebar .btn {
  border-radius: 3px;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  line-height: 48px;
  padding: 0 22px;
  border: none;
  text-transform: uppercase;
  transition: 0.5s ease all;
}
.type-641 .sidebar .btn .btn:hover {
  color: #333;
  text-decoration: none;
}
.type-641 .sidebar .sidebar-title {
  font-size: 17px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #C0C4C7;
  text-transform: uppercase;
  margin: 0 0 20px;
}
.type-641 .sidebar ul li {
  color: #8d8d8d;
  line-height: 1.8;
}
.type-641 .sidebar .widget_categories ul {
  background: #f4f5f8;
  list-style-type: none;
  padding: 0;
}
.type-641 .sidebar .widget_categories ul li a {
  font-size: 17px;
  color: #61656F;
  padding: 24px 30px;
  display: block;
  line-height: 1.2;
  border-bottom: 1px solid #fcfcfd;
}
.type-641 .sidebar .widget_categories ul li a:hover {
  background: #e9e9e9;
}
.type-641 .sidebar a {
  color: #093eb6;
  text-decoration: none;
  transition: 0.5s ease all;
}
.type-641 .sidebar a a:hover {
  text-decoration: none;
  outline: 0;
}
.type-641 .sidebar .download-file {
  border: 1px solid rgba(244,244,244,0.8);
  background: #ffffff;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
  padding: 0 20px;
  margin: 20px 30px;
  transition: 0.5s ease all;
}
.type-641 .sidebar .download-file i {
  color: #fff;
  font-size: 22px;
  line-height: 50px;
}
.type-641 .sidebar .download-file span {
  float: right;
  font-size: 14px;
  color: #677078;
  line-height: 50px;
  display: inline-block;
}
.type-641 .sidebar .download-file a {
  font-size: 20px;
  font-weight: bold;
  padding-left: 15px;
  line-height: 50px;
  display: block;
}
.type-641 .sidebar p {
  color: #677078;
}
.type-641 .sidebar .sidebar-download .download-file {
  background-color: #093eb6;
  margin: 0;
  padding: 0 15px;
}
.type-641 .sidebar .sidebar-download .download-file span {
  color: rgba(255,255,255,0.5);
}
.type-641 .sidebar .sidebar-download .download-file .download-file:hover {
  background: #002D92;
}
.type-641 .sidebar .sidebar-download .download-file a {
  color: #fff;
}
.type-641 .sidebar .sidebar-fact {
  padding: 20px 25px 25px;
  background: #f4f5f8;
}
.type-641 .sidebar .sidebar-fact .sidebar-title {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #093eb6;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 20px;
}
.type-641 .sidebar .sidebar-fact a .btn {
  background: #ffda44;
  color: #544d33;
}
.type-641 .sidebar .sidebar-fact a a.btn:hover {
  background: #ECC124;
}
.type-641 .sidebar #tag_cloud-1 h3 {
  font-size: 17px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #C0C4C7;
  text-transform: uppercase;
  margin: 0 0 20px;
}
.type-641 .sidebar .tagcloud a {
  background: #f4f5f8;
  color: #adadad;
  display: inline-block;
  padding: 12px 12px;
  margin: 0 10px 12px 0;
  text-transform: uppercase;
  font-size: 14px !important;
}
.type-641 .sidebar .tagcloud a:hover {
  background: #ddd;
  color: #999;
}
