.type-701 .text-detail-wrapper .sectionTitle {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}
.type-701 .text-detail-wrapper .sectionTitle strong {
  font-size: 12px;
  color: #3B3B64;
}
.type-701 .text-detail-wrapper .rbLarge {
  font-size: 16px;
  line-height: 24px;
}
.type-701 .text-detail-wrapper .rbSmall {
  font-size: 10px;
}
.type-701 .text-detail-wrapper h3 {
  font-size: 22px;
  line-height: 25px;
}
.type-701 .text-detail-wrapper .content {
  font-size: 12px;
}
@media (max-width: 1439px) and (min-width: 1263px) {
  .type-701 .text-full {
    margin-left: 152px;
  }
}
@media (max-width: 1262px) and (min-width: 1134px) {
  .type-701 .text-full {
    margin-left: 123px;
  }
}
@media (max-width: 1262px) and (min-width: 1134px) {
  .type-701 .text-full {
    margin-left: 123px;
  }
}
@media (max-width: 1133px) and (min-width: 991px) {
  .type-701 .text-full {
    margin-left: 120px;
  }
}
@media (max-width: 968px) and (min-width: 768px) {
  .type-701 .text-full {
    margin-left: 6px;
  }
}
