@media (max-width: 479px)
{
    .content_wrap {
        width: 280px;
    }
}
.container {
    padding: 0px;
}
.type-13 {
    a {
        text-decoration: none;
        background: transparent;
    }
    /***************icon eye hover********************/
    .icon{
        position: relative;
        bottom: 150px;
        font-size: 48px;
        color: #fff;
        transition: all 1s ease 0s;
        opacity:0;
    }
    .hover_icon {
        display: block;
        text-align:center;
    }
    .hover_icon:hover{
        .icon{
            bottom:310px;
            transition: all 1s ease 0s;
            opacity:1;
        }
    }
    .page_paddings_yes {
        padding: 96px;
    }
  
    .post_title {
        font-size: 36px;
        margin-bottom: 97px;
        text-transform: none; 
    }
    .post_title_link {
        color: rgb(92, 85, 81);
        font-weight: bold;
    }
    .post_info {
        margin-bottom: 1rem;
        font-size: 13.008px;
    }
    .post_info_date {
        color: #5c5551;
    }
    .post_info_date:hover {
        color: #f15d2f;
    }
    .post_info_counters {
        margin: 0px 10px;
        border-left: 1px #ccc dotted;
    } 
    .view_item {
        color: #f15d2f;
        margin: 0px 5px;
    }
    .post_counters_number {
        color: #f15d2f;
    }
    .post_counters_number:hover {
        color: #5c5551;
    }
    .post_image {
        width: 100%;
    }
    .post_image:hover {
        opacity: 0.8;
    }
    .post_descr {
        font-size: 16px;   
    }
    .more_button {
        color: #f15d2f;
    }
    /*******item next********/
     .post_item_next {
        margin-top: 97px;
    }
}