.type-1 {
    .header {
        @media (max-width:768px) {
            #searchform {
                display: none;
            }
            .search .social_bookmarks {
                top: 10px !important;
                margin: 0 auto;
                text-align: center;
                right: 44% !important;
            }
            .cnheader .logo {
                top: 30px;
                text-align: center;
                margin: 0 auto;
                left: 0% !important;
            }


        }
        @media (max-width:468px) {
            #searchform {
                display: none;
            }
            .search .social_bookmarks {
                top: 10px !important;
            }
            .cnheader .logo {
                top: 30px;
                text-align: center;
                margin: 0 auto;
                left: 0% !important;
            }
            .cnheader .search .social_bookmarks {

                right: 40% !important;
            }

        }
        .container{

            height: 200px;  

        }
        .navbar .navmenu-b  {
            background-color: #2c3547 !important;   
        }
        header
        {
            background-color: #2c3547;
            width: 100%;
            margin:0 auto;
        }
        .cnheader{

            .logo {

                top:30px;
            }


            .search {
                #searchform {
                    background: #fff;
                    width: 220px;
                    position: absolute;
                    right: 15px;
                    top: 63px;
                }
                form {
                    display: block;
                    margin-top: 0em;
                }
                #searchsubmit {
                    background: url(../images/skin-minimal/icon-search.png) no-repeat scroll center center transparent;
                    border: medium none;
                    cursor: pointer;
                    display: block;
                    height: 36px;
                    outline: medium none;
                    padding: 0;
                    position: absolute;
                    right: 0px;
                    text-indent: -9999px;
                    top: 0px;
                    width: 36px;
                    z-index: 2;
                    margin: 0;
                }
                input.button {
                    color: white;
                    line-height: 1em;
                    float: left;
                    font-size: 12px;
                    vertical-align: middle;
                    text-align: center;
                    text-decoration: none;
                    font-family: inherit;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                }
                #s {
                    color: #777;
                    background: transparent;
                    z-index: 1;
                    border: none;
                    position: relative;
                    width: 160px;
                    padding: 12px 48px 12px 12px;
                }

                .social_bookmarks {
                    height: 24px;
                    position: absolute;
                    right: 240px;
                    top: 60px;
                    border: medium none;
                    display: block;
                    float: left;
                    list-style-type: none;
                    list-style-position: outside;
                    li {
                        float: left;
                        margin: 0;
                        padding: 0 0 0 4px;
                        display: block;
                        text-align: -webkit-match-parent;
                    }
                    a {
                        height: 24px;
                        width: 24px;
                        border: medium none;
                        display: block;
                        float: left;
                        padding: 0;
                        text-indent: -9999px;
                        outline: none;
                        opacity: .3;
                        text-decoration: none;
                    }
                    a:hover {
                        opacity: .8;
                        text-decoration: underline;
                    }
                }
                ul, menu, dir {
                    -webkit-margin-before: 1em;
                    -webkit-margin-after: 1em;
                    -webkit-margin-start: 0px;
                    -webkit-margin-end: 0px;
                    -webkit-padding-start: 40px;
                }
                .rss a {
                    background: transparent url(../images/skin-minimal/icons-social-rss.png) 0 0 no-repeat;
                }
                .twitter a {
                    background: transparent url(../images/skin-minimal/icons-social-twitter.png) 0 0 no-repeat;
                }
                .facebook a {
                    background: transparent url(../images/skin-minimal/icons-social-fb.png) 0 0 no-repeat;
                }
                ::selection {
                    background-color: #697a9c;
                }
                :focus {
                    outline: -webkit-focus-ring-color auto 5px;
                }
            }

            @media (min-width: 780px) and (max-width: 979px) {

            }

            /* Landscape phone to portrait tablet */
            @media (max-width: 779px) {

            }

            /* Landscape phones and down */
            @media (max-width: 480px) {

            }

        }
        /*----------END HEADER-----------*/

    }

    .menu { 

        .navbar-inverse .navbar-nav>.open>a,
        .navbar-inverse .navbar-nav>.open>a:focus,
        .navbar-inverse .navbar-nav>.open>a:hover {
            color: #000;
            background-color: transparent;
        }

        ul {
            list-style: none;
        }
        .navbar {
            margin-bottom: 0px !important;   
            background: #fff;
            border-color: #eeeeee;
        }
        .navbar-nav>li>a{
            color:#333;
            background-color: transparent;

        }

        .login-shopping {
            position: absolute;
            font-size: 11px;
            top: 170px;
            z-index: 130;
            font-size: 11px;
            color:#2c3547;
            ul{

                margin-top: 0;
                margin-bottom: 10px;
                list-style-type: disc;

            }
            li {
                float: left;
                position: relative;
                padding: 0 10px;
                border-right-style: solid;
                border-right-width: 1px;
                line-height: 10px;
                list-style-type: none;
            }
            li a {
                color :#fff;
            }



        }

        .image_overlay_effect:hover .image_overlay_effect_inside{
            display: block;
            z-index: 5;
            opacity: 0.6;
        }
        .image_overlay_effect, {
            position: absolute;
            z-index: 2;
            top: 26%;
            left: 25%;
            right: 0;
            bottom: 0;
            opacity: 0;
            display: none;
        }


        .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
            background:none;
        }

        .dropdown-menu {
            li>a {
                color:#333 !important;
            }
            .mega-dropdown-menu {

                li>a{
                    padding: 0px;
                }
                .image_overlay_effect {
                    background: url(../images/skin-minimal/glossy_overlay.png) no-repeat scroll right top transparent;
                }
                .image_overlay_effect_inside {
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
            .mega-dropdown-menu li>a{
                padding: 0px;
            }


        }
        .cart_subtotal{
            color: #777;
        }
        .mega-dropdown {
            position: static !important;
        }
        .mega-dropdown-menu {
            padding: 20px 0px;
            width: 100%;
            box-shadow: none;
            -webkit-box-shadow: none;
        }
        .mega-dropdown-menu > li > ul {
            padding: 0;
            margin: 0;
        }
        .mega-dropdown-menu > li > ul > li {
            list-style: none;
        }
        .mega-dropdown-menu > li > ul > li > a {
            display: block;
            color: #222;
            padding: 3px 5px;
        }
        .mega-dropdown-menu > li ul > li > a:focus {
            text-decoration: none;
        }
        .mega-dropdown-menu > li > ul {
            padding-left: 15px;
            margin: 0;
        }
        .mega-dropdown-menu .dropdown-header {
            font-size: 18px;
            color: #ff3546;
            padding: 5px 60px 5px 5px;
            line-height: 30px;
        }
        .avia_mega_hr {
            width: 100%;
            height: 9px;
            clear: both;
            padding: 0;
        }
        .avia_mega ul {
            color: #777;
        }
        .avia_mega div ul {
            line-height: 21px;
        }
        .avia_mega_hr {
            background: #f8f8f8;
        }
        .avia_mega div ul li {
            padding: 15px;
        }
        .cufon_headings{
            font-weight: bold;
            font-size: 13px;
            padding-left: 22px;
        }
        .fix-col {
            padding-bottom:  15px;
        }
        .cart_dropdown {
            position: absolute;
            top: 0;
            right: 15px;
            height: 47px;
            z-index: 111;
        }
        .cart_dropdown_first {
            height: 47px;
            line-height: 52px;
            padding: 0 30px 0 0;
        }
        .cart_dropdown_first .cart_dropdown_link {
            display: block;
            float: left;
            padding: 0 20px 0 25px;
            background: transparent url(../images/skin-minimal/icon-cart.png) 0 14px no-repeat;
            color: #999;
            line-height: 52px;

        }
        a:-webkit-any-link {
            color: -webkit-link;

        }
        .avia_mega ul a:hover {
            text-decoration: underline;
        }
        .cart_dropdown .dropdown_widget {
            clear: both;
            position: absolute;
            right: 0;
            top: 47px;
            background: #fff;
            width: 235px;
            border-left: 1px solid #e1e1e1;
            border-bottom: 1px solid #e1e1e1;
            overflow: hidden;
            line-height: 18px;
            box-shadow: 0 10px 15px rgba(0,0,0,.1);
        }
        ul.cart_list, ul.product_list_widget {
            list-style: none outside;
            padding: 0;
            margin: 0;
        }
        .dropdown_widget .cart_list li.empty {
            border-bottom: none;
            text-align: center;
            font-weight: bold;
            color: #222;
        }
        div .dropdown_widget .cart_list li {
            padding: 15px;
            border-top: none;
            font-size: 11px;
            position: relative;
        }
        div ul.product_list_widget li {
            margin: 0;
            overflow: hidden;
            zoom: 1;
        }

    }
    @media(min-width:767px){
        .menu{

            .login-shopping { 
                right: 174px;
            }
        }
    }
    @media (max-width:766px) {
        .menu{ 
            .login-shopping { 
                width: 100%;  
                margin: 0 auto;
                text-align: center;
                right:3.5%;
                top: 166px !important;
                ul{
                    display: inline-block;
                }
            }
        }

    }
    @media (max-width:500px) {
        .menu {
            .login-shopping {
                text-align: center ;
                margin: 0 auto; 
            }
        }

    }

}

