.type-660 .silider-wrapper {
  margin: 0;
  line-height: 1.42857143;
  background-color: #1f1f1f;
}
.type-660 .silider-wrapper #owl-demo .item {
  margin: 3px;
}
.type-660 .silider-wrapper #owl-demo .item img {
  display: block;
  height: auto;
}
.type-660 .silider-wrapper .owl-carousel {
  overflow: hidden;
  padding: 70px;
  background: #282828;
  box-sizing: border-box;
}
.type-660 .silider-wrapper .owl-controls .owl-page.active span,
.type-660 .silider-wrapper .owl-page:hover span {
  opacity: 1;
  background: #fde230;
}
@media (max-width: 480px) {
  .type-660 .owl-demo {
    margin-top: 10px;
  }
}
