.type-g-5 body {
  font: 75%/150% Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #333;
}
.type-g-5 .stripe {
  margin: 0 auto;
  background: #ffffff;
  color: #1F1F1F;
  font-family: 'Source Sans Pro';
}
.type-g-5 .img {
  max-width: none !important;
  vertical-align: middle;
  border: 0;
  top: -0.0432649%;
  left: 0%;
  width: 100%;
  height: auto;
  visibility: visible;
  display: block;
  position: absolute;
}
.type-g-5 .clear {
  clear: both;
}
.type-g-5 .row {
  width: 100%;
  float: left;
}
.type-g-5 .col-1 {
  width: 80%;
  float: left;
}
.type-g-5 .col-2 {
  width: 20%;
  float: left;
}
.type-g-5 .col-0 {
  width: 40%;
  float: left;
}
.type-g-5 .col-0-1 {
  width: 50%;
  float: right;
}
.type-g-5 .col-5 {
  width: 40%;
  float: left;
}
.type-g-5 .section-title.padding-right {
  padding-right: 80px !important;
}
.type-g-5 a {
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}
.type-g-5 .product-name a:hover {
  color: #00a9c7;
  text-decoration: none;
}
.type-g-5 .thumbnails li> .fff .caption {
  background: #fff !important;
  padding: 10px;
}
.type-g-5 ul.thumbnails {
  margin-bottom: 0px;
}
.type-g-5 .caption {
  float: center;
}
.type-g-5 .caption h4 {
  color: #444;
  text-align: center;
}
.type-g-5 .caption p {
  color: #999;
  text-align: center;
}
.type-g-5 .control-box {
  text-align: right;
  width: 100%;
}
.type-g-5 .carousel-control {
  color: #1F1F1F;
  background: #ebebeb;
  border: 1px solid #ddd;
  border-radius: 0px;
  display: inline-block;
  font-size: 30px;
  font-weight: 200;
  line-height: 20px;
  opacity: 0.5;
  padding: 4px 15px 0px;
  position: static;
  height: 30px;
  width: 15px;
}
.type-g-5 .glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 767px) {
  .type-g-5 .page-header,
  .type-g-5 .control-box {
    text-align: center;
  }
}
@media (max-width: 479px) {
  .type-g-5 .caption {
    word-break: break-all;
  }
}
.type-g-5 li {
  list-style-type: none;
}
.type-g-5 ::selection {
  background: #ff5e99;
  color: #FFFFFF;
  text-shadow: 0;
}
.type-g-5 ::-moz-selection {
  background: #ff5e99;
  color: #FFFFFF;
}
.type-g-5 .product-name {
  margin: 0;
  font-size: 1em;
  line-height: 1em;
  font-weight: normal;
  text-align: center;
  font-weight: bold;
}
.type-g-5 h3.product-name a {
  color: inherit;
}
.type-g-5 .ratings {
  margin: 10px 0;
  line-height: 1.0833em;
  text-align: center;
}
.type-g-5 .rating-box {
  margin-left: 0;
  margin-right: 0;
}
.type-g-5 .ratings .rating-box,
.type-g-5 .ratings .amount,
.type-g-5 .ratings .rating-links {
  display: inline-block;
  vertical-align: middle;
}
.type-g-5 .amount {
  font-size: 1em;
}
.type-g-5 .rating-box {
  width: 69px;
  height: 13px;
  font-size: 0;
  line-height: 0;
  text-indent: -999em;
  overflow: hidden;
}
.type-g-5 rating-box .rating {
  float: left;
  height: 13px;
}
.type-g-5 .price-box {
  margin: 10px 0 10px;
  font-size: 1em;
}
.type-g-5 .price-box .price {
  color: #00a9c7;
}
.type-g-5 .price {
  white-space: nowrap !important;
}
