.type-645 {
    @color:#ddd ;
    @font-size:12px;
    #footer{
        background:#4c4c4c;
        padding:30px 0 31px 0;
        margin:0 auto;
        font-size:@font-size;
        margin-right:-15px;
        .columns{
            width: 260px;
            float: left;
            display: inline;
            margin-left: 10px;
            margin-right: 10px;
            #logo-footer{
                margin: 10px 0 20px 0;
                width: 100px;
                height: 24px;
            }
            .contact-details-alt li{
                margin:0 0 15px 0;
                i{
                    float:left;
                    margin:1px 0 0 0;
                }
            }
            .contact-details-alt{
                margin-left: -40px;
                li p strong{
                    color:#fff;
                    float:left;
                    margin:0 5px 5px 0;
                }
            }
            .flickr-widget{
                margin-right:-12px;
                margin-top:0;
            }
            .flickr-widget img{
                display:block;
                width:100%;
            }
            .flickr-widget a{
                float:left;
                width:70px;
                height:85px;
                margin-right:5px;
                margin-bottom:5px;
                border:5px solid #424242;
                transition:all 200ms ease-in-out;
                border-radius:3px;
            }
            .flickr-widget a:hover{
                border-color:#169fe6;
            }
            #twitter li{
                list-style: none;
            }
            a {
                text-decoration: none;
            }
            a:hover{
                color: #169fe6;
            }
        }
    }
    #footer-bottom{
        background:#424242;
        padding:15px 0;
        margin:0 auto;
        font-size:@font-size;
        margin-right: -15px;
        #sub-menu{
            float:right;
            font-size:11px;
        }
        #sub-menu ul li a{
            color:#aaa;
            text-decoration: none;
        }
        #sub-menu ul li a:hover{
            color:#eee;
        }
        #sub-menu ul li{
            display:inline-block;
            border-left:1px solid #505050;
            padding:0 8px 0 8px;
        }
        #sub-menu ul li:first-child{
            border:none;
            padding-left:0;
        }
        #sub-menu ul li:last-child{
            padding-right:0;
        }
        .copyright{
            color:#aaa;
        }
        .copyright a,.copyright span{
            color:#eee!important;
            text-decoration: none;
        }
    }
    #footer,#footer p,#footer a{
        color:@color;
    }
    #footer h4{
        padding:0;
        margin:0 0 15px 0;
        font-size:14px;
        color:#fff;
    }
    .halflings.map-marker {
        background-position: -24px -72px;
    }
    .halflings.user {
        background-position: -168px 0;
    }
    .halflings.envelope {
        background-position: -72px 0;
    }
    .halflings {
        width: 14px;
        height: 14px;
    } 
    @media (max-width:468px) {
         .contact-details-alt{
                margin-left: -40px;
                li p strong{
                    color:#fff;
                    float:left;
                    margin:0 5px 5px 0;
                }
            }
    }
    @media (min-width:1102px) {
        #twitter {
            margin-left: -50px;
        }
        
    }
}