.type-e-3 {
	#footer{
		background:#4c4c4c;
		width:1180px;
		padding:30px 0 31px 0;
		margin:0 auto;
		font-size:12px;
	}
	#footer-bottom{
		background:#424242;
		width:1180px;
		padding:15px 0;
		margin:0 auto;
		font-size:12px;
	}
	#footer,#footer p,#footer a{
		color:#ddd;
	}

	#footer h4{
		padding:0;
		margin:0 0 15px 0;
		font-size:14px;
		color:#fff;
	}
	.four.columns{
		width: 260px;
		float: left;
    	display: inline;
    	margin-left: 10px;
    	margin-right: 10px;
	}
	#logo-footer{
		margin: 10px 0 20px 0;
    	width: 100px;
    	height: 24px;
	}

	.contact-details-alt li{
		margin:0 0 15px 0;
	}

	.halflings.map-marker {
    	background-position: -24px -72px;
	}
	
	.halflings.user {
    	background-position: -168px 0;
	}

	.halflings.envelope {
    	background-position: -72px 0;
	}

	.halflings.white {
    	background-image: url(../images/glyphicons_halflings-white.svg);
	}

	.contact-details-alt li i{
		float:left;
		margin:1px 0 0 0;
	}

	.halflings {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    background-position: 0 0;
    background-repeat: no-repeat;
    vertical-align: top;
	}

	.contact-details-alt li p strong{
		color:#fff;
		float:left;
		margin:0 5px 5px 0;
	}
	.contact-details li p strong{
		color:#666;
		float:left;
		margin:0 5px 5px 0;
	}

	.contact-details-alt{
		margin-left: -40px;
	}
	.flickr-widget{
		margin-right:-12px;
		margin-top:0;
	}
	.flickr-widget img{
		display:block;
		width:100%;
	}
	.flickr-widget a{
		float:left;
		width:70px;
		height:85px;
		margin-right:5px;
		margin-bottom:5px;
		border:5px solid #424242;
		transition:all 200ms ease-in-out;
		border-radius:3px;
	}

	.flickr-widget a:hover{
		border-color:#169fe6;
	}
	
	#twitter li{
		list-style: none;
	}
	.copyright{
		color:#aaa;
	}
	.copyright a,.copyright span{
		color:#eee!important;
	}
	#sub-menu{
		float:right;
		font-size:11px;
	}
	#sub-menu ul li a{
		color:#aaa;
	}
	#sub-menu ul li a:hover{
		color:#eee;
	}
	#sub-menu ul li{
		display:inline-block;
		border-left:1px solid #505050;
		margin:0;
		padding:0 8px 0 8px;
		line-height:12px;
	}
	#sub-menu ul li:first-child{
		border:none;
		padding-left:0;
	}
	#sub-menu ul li:last-child{
		padding-right:0;
	}
	
	#twitter li{
		margin:0 0 15px 0;
		padding:0 0 0 25px;
		background:url(../images/social/twitter.png) no-repeat left 5%;
	}
	#twitter li:last-child{
		margin:0;
		padding:0 0 0 25px;
	}
	#twitter a{
		color:#fff;
	}
	#twitter b a,#twitter b a:hover{
		margin-top:5px;
		display:block;
		color:#999;
		font-weight:normal;
	}

}



