.type-604{ 
    @color: #fff;
    section {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .hover-box.hover-box-2, .hover-box.hover-box-3 {
        text-shadow: none;
        border: none;
        padding: 25px;
        margin-bottom: 0;
        min-height: 180px;
        position: relative;
    }
    .hover-box {
        display: block;
        color: @color;
        margin-bottom: 20px;
        h4{
            line-height: 1.1;
            margin-top: 0;
            font-weight: bold;
        }
    }
    .hover-box.hover-box-2 .hb-img {
        margin: 0;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 15px;
    }
    img {
        max-width: 100%;
        height: auto;
        float: left;
        margin: 15px 15px 8px 10px;
    }
    h3 {
        font-family: Open Sans;
        margin-top: 0;
    }
    a:hover {
        text-decoration: none;
    }
    p {
        margin-bottom: 0;
        line-height: 1.1;
    }
    .hover-box.hover-box-2 > p:after, .hover-box.hover-box-3 > p:after {
        content: '';
        height: 3px;
        width: 50px;
        display: block;
        background: @color;
        margin-top: 22px;
    }

    .hover-box.hover-box-3 img {
        display: none;
    }
    .latest_posts.acc-style {
        position: relative;
    }
    .latest_posts.acc-style h3 {
        position: absolute;
        top: 14px;
        color: #CD2122;
        font-size: 18px;
        line-height: 1.4;
    }
    .latest_posts.acc-style .viewall {
        position: absolute;
        top: 12px;
        right: 0;
        font-size: 10px;
        font-weight: bold;
        color: #757575;
    }
    .css3accordion {
        width: 100%;
        margin: 0 auto 20px;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            li{
                width: calc(35% - 20px);
                padding-top: 50px;
                position: relative;
                float: left;
                overflow: hidden;
                margin-right: 20px;
                border-top: 4px solid #E7E7E7; 
                .thumb {
                    width: calc(50% - 20px);
                    float: left;
                    margin-right: 20px;
                    opacity: .8;
                }
                .last {
                    margin-right: 0;
                }
            }
        }
        .text {
            font-size: 11px;
            line-height: 1.4;
        }
        .content  {
            font-size: 11px;
            color: #7d7d7d;
        }
    }
    .css3accordion>ul>li>.inner-acc, .css3accordion>ul>li:hover ~ li>.inner-acc {
        width: calc( 200% + 40px);
    }
    .plus .theHoverBorder:hover {
        background-image: url(../images/plus01.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-color: rgba(35,35,35,0.5);
        box-shadow: 0 0 0 5px #cd2122 inset;
    }

    .css3accordion>ul>li.last, .css3accordion>ul>li:hover:not(.last) {
        width: 50%;
    }
    .ptop-65 {
        padding-top: 65px;
    }
    .pb-20 {
        padding-bottom: 20px !important;
    }
    .bg-white {
        background-color: @color !important;
    }
    .fw-semibold {
        font-weight: 600;
    }
    .fw-thin {
        font-weight: 300;
    }
    .tcolor {
        color: #cd2122 !important;
    }
    .btn-lined.lined-custom {
        color: #cd2122;
        border-color: #cd2122;
    }
    .btn-group-md>.btn, .btn-md {
        padding: 16px 25px;
        font-size: 14px;
        line-height: 1.3333333;
    }
    .btn-lined {
        border-width: 2px;
        line-height: 1.6;
        font-weight: 700;
    }
    @media(max-width:480px){
        .css3accordion {
            width: 100%;
            margin: 0 auto 20px;
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 100%;
                li{
                    width: calc(35% - 20px);
                    padding-top: 50px;
                    position: relative;
                    float: left;
                    overflow: hidden;
                    margin-right: 20px;
                    border-top: 4px solid #E7E7E7; 
                    .thumb {
                        width: calc(50% - 20px);
                        float: left;
                        margin-right: 20px;
                        opacity: .8;
                    }
                    .last {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}