.type-b-5{   
    .hg_section {
        padding-top: 35px;
    }
    section {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .hover-box.hover-box-2, .hover-box.hover-box-3 {
        padding: 25px;
        margin-bottom: 0;
        min-height: 180px;
    }
    .hover-box {
        display: block;
        color: #fff;
    }
    .hover-box.hover-box-2 .hb-circle {
        background: url(../images/circle-arr-hover.svg) no-repeat left top;
    }
    .hover-box.hover-box-2 .hb-img {
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
    }
    img {
        max-width: 100%;
        height: auto;
        float: left;
        margin: 15px 15px 8px 10px;
    }
    h3 {
        font-family: Open Sans;
        margin-top: 0;
    }
    p {
        line-height: 1.1;
    }
    .hover-box.hover-box-2 > p:after, .hover-box.hover-box-3 > p:after {
        content: '';
        height: 3px;
        width: 50px;
        display: block;
        background: #fff;
        margin-top: 22px;
    }
    .hover-box > h4 {
        line-height: 1.1;
        margin-top: 0;
        font-weight: bold;
    }
    .hover-box.hover-box-3 img {
        display: none;
    }
    .ptop-65 {
        padding-top: 65px;
    }
}