.type-b-5{   
    .hg_section {
        padding-top: 35px;
    }
    section {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .hover-box.hover-box-2, .hover-box.hover-box-3 {
        text-shadow: none;
        border: none;
        padding: 25px;
        margin-bottom: 0;
        min-height: 180px;
        position: relative;
    }
    .hover-box {
        display: block;
        padding: 15px;
        background: #969696;
        border: 1px solid rgba(0,0,0,0.4);
        color: #fff;
        text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
        border-radius: 3px;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .hover-box.hover-box-2 .hb-circle {
        background: url(../images/circle-arr-hover.svg) no-repeat left top;
        width: 187px;
        height: 187px;
        display: block;
        position: absolute;
        bottom: -40px;
        right: -40px;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
    .hover-box.hover-box-2 .hb-img {
        width: 110px;
        margin: 0;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 15px;
        float: none;
        max-width: none;
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out;
    }
    img {
        max-width: 100%;
        height: auto;
        float: left;
        margin: 15px 15px 8px 10px;
    }
    h3 {
        font-family: Open Sans;
        font-size: 24px;
        line-height: 40px;
        font-weight: 400;
        font-style: normal;
        line-height: 1.1;
        margin-top: 0;
    }
    p {
        margin: 0 0 20px;
        margin-bottom: 0;
        line-height: 1.1;
    }
    .hover-box.hover-box-2 > p:after, .hover-box.hover-box-3 > p:after {
        content: '';
        height: 3px;
        width: 50px;
        display: block;
        background: #fff;
        margin-top: 22px;
    }
    .hover-box > h4 {
        line-height: 1.1;
        margin-top: 0;
        font-weight: bold;
    }
    element.style {
        background-image: url(../images/hb-catalogue1.png);
        background-color: #34495e;
        background-size: cover;
    }
    .hover-box.hover-box-3 img {
        display: none;
    }
    .latest_posts.acc-style {
        position: relative;
    }
    .latest_posts.acc-style h3.m_title {
        position: absolute;
        top: 14px;
        z-index: 1;
        margin: 0;
    }
    .m_title {
        margin-top: 0;
        color: #CD2122;
        font-size: 18px;
        line-height: 1.4;
    }
    .latest_posts.acc-style .viewall {
        position: absolute;
        top: 12px;
        right: 0;
        font-size: 10px;
        font-weight: bold;
        color: #757575;
        z-index: 1;
    }
    .css3accordion {
        width: 100%;
        margin: 0 auto 20px;
        overflow: hidden;
        position: relative;
    }
    .css3accordion>ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .css3accordion>ul>li {
        width: calc(35% - 20px);
        padding-top: 50px;
        position: relative;
        float: left;
        overflow: hidden;
        margin-right: 20px;
        border-top: 4px solid #E7E7E7;
    }
    .css3accordion>ul>li>.inner-acc, .css3accordion>ul>li:hover ~ li>.inner-acc {
        width: calc( 200% + 40px);
    }
    .css3accordion>ul>li .thumb {
        width: calc(50% - 20px);
        float: left;
        margin-right: 20px;
        opacity: .8;
    }
    .hoverBorder {
        position: relative;
        display: inline-block;
        margin-bottom: 25px;
    }
    .hoverBorderWrapper {
        position: relative;
        display: block;
    }
    .theHoverBorder {
        position: absolute;
        border-radius: 3px;
        box-shadow: 0 0 0 3px rgba(255,255,255,0.15) inset;
        background-position: center center;
    }
    .plus .theHoverBorder:hover {
        background-image: url(../images/plus01.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-color: rgba(35,35,35,0.5);
         box-shadow: 0 0 0 5px #cd2122 inset;
    }
    .css3accordion>ul>li.last {
        margin-right: 0;
    }
    .css3accordion>ul>li.last, .css3accordion>ul>li:hover:not(.last) {
        width: 50%;
    }
    .css3accordion .content > em {
        font-size: 11px;
        color: #7d7d7d;
    }
    .css3accordion .text {
        font-size: 11px;
        line-height: 1.4;
    }
    .pbottom-80 {
        padding-bottom: 80px;
    }
    .ptop-80 {
        padding-top: 80px;
    }
    .hg_section--relative {
        position: relative;
    }
    .kl-bg-source:not(:empty), .kl-bg-source__overlay, .kl-bg-source__bgimage {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .kl-bg-source__overlay {
        pointer-events: none;
    }
    .fw-bold {
        font-weight: 700;
    }
    .tbk__title {
        margin-top: 0;
        margin-bottom: 10px;
        font-family: 'Open Sans';
        font-size: 24px;
        line-height: 30px;
        font-weight: 400;
        font-style: normal;
    }
    .montserrat {
        font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    }
    .white {
        color: #fff !important;
    }
    .tbk__symbol {
        margin-top: 0;
        margin-bottom: 10px;
        display: block;
        margin-bottom: 20px;
        margin-top: -5px;
        display: inline-block;
    }
    .tbk-symbol--line .tbk__symbol span {
        display: inline-block;
        width: 50px;
        height: 3px;
        background-color: #ccc;
    }
    .ts-pt-partners__title {
        width: 22%;
        float: left;
        font-size: 18px;
        color: #fff;
        opacity: .6;
        position: relative;
        line-height: 1.2;
    }
    .ts-pt-partners__title:after {
        content: '';
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 50px;
        height: 3px;
        background: #fff;
    }
    .ts-pt-partners__carousel-wrapper {
        width: 100%;
    }
    .ts-pt-partners__carousel-item {
        float: left;
        height: 60px;
        line-height: 60px;
        vertical-align: middle;
        text-align: center;
    }
    .ptop-65 {
        padding-top: 65px;
    }
    .pb-20 {
        padding-bottom: 20px !important;
    }
    .bg-white {
        background-color: #fff !important;
    }
    .fw-semibold {
        font-weight: 600;
    }
    .fw-thin {
        font-weight: 300;
    }
    .tcolor {
        color: #cd2122 !important;
    }
    .btn-group-md>.btn.btn-lined, .btn-md.btn-lined {
        padding: 14px 25px;
    }
    .btn-lined.lined-custom {
        color: #cd2122;
        border-color: #cd2122;
    }
    .btn-group-md>.btn, .btn-md {
        padding: 16px 25px;
        font-size: 14px;
        line-height: 1.3333333;
    }
    .btn-lined {
        border-width: 2px;
        background: none;
        color: #fff;
        text-shadow: none;
        padding: 7px 20px;
        line-height: 1.6;
        box-shadow: none;
        font-size: 14px;
        font-weight: 700;
        border-style: solid;
        border-radius: 3px;
        border-color: #fff;
    }
}