.type-g-7 body {
  font: 75%/150% Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #333;
}
.type-g-7 .stripe {
  margin: 0 auto;
  background: #ffffff;
  color: #1F1F1F;
  font-family: 'Source Sans Pro';
}
.type-g-7 .img {
  max-width: none !important;
  vertical-align: middle;
  border: 0;
  top: -0.0432649%;
  left: 0%;
  width: 100%;
  height: auto;
  visibility: visible;
  display: block;
  position: absolute;
}
.type-g-7 .clear {
  clear: both;
}
.type-g-7 .row {
  width: 100%;
  float: left;
}
.type-g-7 .col-1 {
  width: 80%;
  float: left;
}
.type-g-7 .col-2 {
  width: 20%;
  float: left;
}
.type-g-7 .col-0 {
  width: 40%;
  float: left;
}
.type-g-7 .col-0-1 {
  width: 50%;
  float: right;
}
.type-g-7 .col-5 {
  width: 40%;
  float: left;
}
.type-g-7 .section-title.padding-right {
  padding-right: 80px !important;
}
.type-g-7 .grid-container {
  clear: both;
}
.type-g-7 .page {
  text-align: left;
  background-repeat: repeat;
  background-position: center top;
}
.type-g-7 .grid-container:before,
.type-g-7 .grid-container:after {
  display: table;
  line-height: 0;
  content: "";
}
.type-g-7 .grid-container:after {
  clear: both;
}
.type-g-7 .no-left-gutter.grid12-4 {
  margin-left: 0;
  width: 32.33%;
}
.type-g-7 .page-banners .banner {
  margin-bottom: 2%;
}
.type-g-7 .grid12-4 {
  width: 31.33%;
}
.type-g-7 .grid12-1,
.type-g-7 .grid12-2,
.type-g-7 .grid12-3,
.type-g-7 .grid12-4,
.type-g-7 .grid12-5,
.type-g-7 .grid12-6,
.type-g-7 .grid12-7,
.type-g-7 .grid12-8,
.type-g-7 .grid12-9,
.type-g-7 .grid12-10,
.type-g-7 .grid12-11,
.type-g-7 .grid12-12,
.type-g-7 .grid-full,
.type-g-7 .grid-col2-sidebar,
.type-g-7 .grid-col2-main {
  position: relative;
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}
.type-g-7 img {
  border: 0;
  vertical-align: top;
  max-width: 100%;
}
.type-g-7 .feature.indent {
  padding-left: 51px;
}
.type-g-7 .feature.first {
  margin-top: 0;
}
.type-g-7 .feature {
  margin: 10px 0;
}
.type-g-7 .feature:after {
  display: block;
  content: ".";
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
  overflow: hidden;
}
.type-g-7 .feature.indent > .ic,
.type-g-7 .feature.indent > span.icon {
  margin-left: -51px;
}
.type-g-7 .feature.indent > .ic,
.type-g-7 .feature.indent > .icon {
  float: left;
  margin: 0 15px 0 0;
}
.type-g-7 .ib.ic-char,
.type-g-7 .ib.i-char {
  font-size: 16px;
  text-align: center;
}
.type-g-7 .ib,
.type-g-7 .icon-hover,
.type-g-7 .feature-icon-hover .ib,
.type-g-7 .feature-icon-hover .icon {
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
  -moz-transition: color 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
  -webkit-transition: color 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
}
.type-g-7 .ib,
.type-g-7 .feature > span.icon {
  background-color: #de2666;
  color: #ffffff;
}
.type-g-7 .ib,
.type-g-7 .feature > span.icon {
  line-height: 36px;
  width: 36px;
  height: 36px;
}
.type-g-7 .ib {
  vertical-align: middle;
  text-align: center;
  background-color: #e5e5e5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.type-g-7 .ic-char {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif !important;
}
.type-g-7 h4 {
  font-size: 1.5em;
  margin: 0 0 10px;
  line-height: 1em;
  font-weight: normal;
  display: block;
  -webkit-margin-before: 0.25em;
  -webkit-margin-after: 0.25em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
.type-g-7 .std dl,
.type-g-7 .std p,
.type-g-7 .std address,
.type-g-7 .std blockquote {
  margin: 0 0 1em;
  padding: 0;
}
.type-g-7 p {
  font-weight: normal;
  font-size: 1em;
  line-height: 1em;
  display: block;
  -webkit-margin-before: 1.5em;
  -webkit-margin-after: 1.5em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
@media only screen and (min-width: 1280px) {
  .type-g-7 .hide-below-1280 {
    display: inherit !important;
  }
}
.type-g-7 .no-right-gutter.grid12-4 {
  margin-right: 0;
  width: 32.33%;
}
.type-g-7 .grid-container-spaced {
  clear: both;
}
.type-g-7 .grid-container-spaced:before,
.type-g-7 .grid-container-spaced:after {
  display: table;
  line-height: 0;
  content: "";
}
.type-g-7 .grid-container-spaced:after {
  clear: both;
}
.type-g-7 .no-gutter.grid12-12,
.type-g-7 .no-gutter.grid-full {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.type-g-7 .fade-on-hover {
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
}
.type-g-7 .page-banners .banner a {
  display: block;
  margin: 0 auto;
}
.type-g-7 .no-left-gutter.grid12-6 {
  margin-left: 0;
  width: 49%;
}
.type-g-7 .no-right-gutter.grid12-6 {
  margin-right: 0;
  width: 49%;
}
.type-g-7 .hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.type-g-7 .hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  background-color: rgba(255,255,255,0.7);
  top: -200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.1s ease-out 0.5s;
  transition: all 0.1s ease-out 0.5s;
}
.type-g-7 .hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  top: 0px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.type-g-7 .hovereffect img {
  display: block;
  position: relative;
}
