.type-5 {
    .title-our {
        text-align: center;
        margin-top: 100px;
    }
    .title1 {
        font-size: 45px;
        font-family: "Roboto", sans-serif;
        color: #093EB6;
        font-weight: bold;
        margin-top: 20px;
    }
    
.type_slider {
    #owl-demo .item {
        margin: 3px;
    }
    /*.partner-images {
        border-radius: 3px;
        border: 1px solid rgba(244, 244, 244, 0.8);
        background: #ffffff;
        box-shadow: 1px 1.7px 2px 0px rgba(0, 0, 0, 0.1);
        text-align: center;
        line-height: 100px;
    }*/
    #owl-demo .item img {
        display: block;
        width: auto;
        height: auto;
    }
    .content {
        width: 1180px;
        margin: auto;
    }
    .owl-theme .owl-controls {
        margin-top: 10px;
        text-align: center;
        display: none;
    }
    .owl-theme .owl-controls .owl-page.active span,
    .owl-theme .owl-controls.clickable .owl-page:hover span {
        dislay: none;
    }
    .owl-controls .owl-page {
        display: none;
    }
    /*-----bao quanh hinh slider phan our partent------*/
    /*.partner-images {
        border-radius: 3px;
        border: 1px solid rgba(244, 244, 244, 0.8);
        background: #ffffff;
        box-shadow: 1px 1.7px 2px 0px rgba(0, 0, 0, 0.1);
        text-align: center;
        line-height: 100px;
    }*/
    @media screen and (max-width: 480px) {
        #owl-demo .item img {
            display: block;
            width: 20%;
            height: auto;
            margin-left: 70px;
        }
    }
    @media screen and (max-width: 320px) {
        #owl-demo .item img {
            display: block;
            width: 20%;
            height: auto;
            margin-left: 2px;
        }
    }
    @media screen and (min-width: 481px) and (max-width: 699px) {
        #owl-demo .item img {
            display: block;
            width: 50%;
            height: auto;
            margin-left: 108px;
        }
    }
    @media screen and (min-width: 700px) and (max-width: 999px) {
        #owl-demo .item img {
            display: block;
            width: 50%;
            height: auto;
            margin-left: 100px;
        }
    }
}

}