.bttop {
  display: none;
  background-color: #f15d2f;
}
@media (max-width: 1439px) and (min-width: 1263px) {
  .content_wrap {
    width: 1000px;
  }
}
.type-e-630 .top_panel {
  background-color: #292724;
  color: rgba(255,255,255,0.5);
  text-align: right;
}
.type-e-630 .content_panel {
  float: none;
  display: inline;
  margin-left: 15px;
}
@media (max-width: 486px) {
  .type-e-630 .content_panel {
    float: left;
    display: block;
  }
}
.type-e-630 .content_panel p {
  display: inline;
  font-size: 11px;
  line-height: 24px;
}
.type-e-630 .logo {
  margin-top: 30px;
  margin-bottom: 15px;
  display: inline-block;
}
.type-e-630 .logo a {
  text-decoration: none;
}
.type-e-630 .img_logo,
.type-e-630 .logo_content {
  color: #45403d;
}
.type-e-630 .left,
.type-e-630 .logo_content {
  float: left;
}
.type-e-630 .img_logo {
  margin: 0 0.7857em 0.7857em 0;
}
.type-e-630 .logo_text {
  font-family: "Roboto Slab";
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: #45403d;
}
.type-e-630 .logo_slogan {
  font-family: 'Lato';
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  margin-top: 0;
  text-transform: uppercase;
  color: #878280;
}
.type-e-630 .reponsive-menu .item-menu {
  display: inline-block;
  float: left;
  font-size: 24px;
  margin-top: 40px;
}
.type-e-630 .top_menu {
  float: right;
  margin-top: 0px;
  z-index: 10;
}
.type-e-630 .main-menu {
  display: inline-block;
  font-size: 12px;
  line-height: 30px;
}
.type-e-630 .main-menu ul {
  list-style: none;
}
.type-e-630 .current {
  float: left;
  padding: 0px 13px;
  line-height: 94px;
}
.type-e-630 #current {
  font-weight: 600;
  color: #45403d;
}
.type-e-630 .show-active {
  color: #f15d2f !important;
}
.type-e-630 .show-home1 {
  background-color: #fff;
}
.type-e-630 .main-menu ul li a {
  text-decoration: none;
}
.type-e-630 .sub-menu,
.type-e-630 .sub-menu1,
.type-e-630 .sub-right {
  line-height: 0px;
  position: absolute;
  background-color: #292724;
  border: 1px #292724;
  display: none;
  padding: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.type-e-630 .sub-menu a,
.type-e-630 .sub-menu1 a,
.type-e-630 .sub-right a {
  line-height: 35px;
  color: #aeaead;
  padding-left: 10px;
}
.type-e-630 .sub-menu li,
.type-e-630 .sub-menu1 li,
.type-e-630 .sub-right li {
  width: 170px;
}
.type-e-630 .sub-menu li:hover,
.type-e-630 .sub-menu1 li:hover,
.type-e-630 .sub-right li:hover {
  background-color: #fff;
}
.type-e-630 .sub-menu li:hover a:hover,
.type-e-630 .sub-menu1 li:hover a:hover,
.type-e-630 .sub-right li:hover a:hover {
  color: #f15d2f;
}
.type-e-630 .sub-menu1 {
  left: 100%;
  bottom: -20px;
}
.type-e-630 .sub-right {
  right: 100% !important;
  bottom: -20px;
}
.type-e-630 .sub-right a {
  color: #878280 !important;
}
.type-e-630 .current:hover .sub-menu {
  display: block;
}
.type-e-630 .current:hover #current {
  color: #f15d2f;
}
.type-e-630 .sub-menu1 a:hover {
  color: #f15d2f !important;
}
.type-e-630 .quick-access {
  padding: 0px;
  display: inline-block;
}
.type-e-630 .form-search {
  position: relative;
  float: left;
  margin: 0px 0 0;
}
.type-e-630 .input-text {
  background: rgba(0,0,0,0) none repeat scroll 0 0;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 1.15em;
  box-shadow: none;
  color: #45403d;
  float: right;
  height: 34px;
  line-height: 18px;
  padding: 5px 0px;
  padding-left: 25px;
  right: 25px;
  position: relative;
  transition: all 0.9s ease 0s;
  width: 0;
  top: -30px;
  box-sizing: border-box;
}
.type-e-630 .input-text-active {
  border: 1px solid #c5c5c5 !important;
  font-size: 12px !important;
  padding-right: 35px !important;
  width: 130px !important;
  color: #fff !important;
  background-color: #f15d2f !important;
}
.type-e-630 .button-active {
  color: #fff !important;
  background-color: #f15d2f !important;
  border-radius: 1.5em !important;
}
.type-e-630 .button:hover {
  color: #fff !important;
  background-color: #f15d2f !important;
  border-radius: 1.5em !important;
}
.type-e-630 .button {
  float: right;
  height: 34px;
  width: 34px;
  background-color: #fff;
  position: relative;
  top: -30px;
  text-align: center;
  font-size: 18px;
  border: 0;
}
.type-e-630 .button i {
  position: relative;
  top: 5px;
}
.type-e-630 .op,
.type-e-630 .up {
  float: right;
  padding-right: 15px;
  padding-top: 17px;
}
.type-e-630 .op {
  display: block;
}
.type-e-630 .up {
  display: none;
}
@media (max-width: 1025px) {
  .type-e-630 .content_wrap .top_menu,
  .type-e-630 .content_wrap .logo {
    display: none;
  }
  .type-e-630 .center-logo {
    display: block !important;
    padding-left: 0px;
    padding-right: 0px;
  }
  .type-e-630 .reponsive-menu {
    float: left;
  }
  .type-e-630 .center-logo {
    text-align: center;
  }
}
@media (max-width: 479px) {
  .type-e-630 .reponsive-menu {
    float: right;
  }
  .type-e-630 .logo {
    float: left;
  }
}
.type-e-630 .main-menu-reponsive .menu-reponsive {
  padding-left: 0px;
  position: fixed;
  right: 100%;
  width: 40%;
  top: 0;
  bottom: 0;
  z-index: 500;
  height: auto;
  transition: all 1s ease 0s;
}
@media (max-width: 479px) {
  .type-e-630 .main-menu-reponsive .menu-reponsive {
    margin-top: 20px;
  }
}
@media (min-width: 480px) {
  .type-e-630 .main-menu-reponsive .menu-reponsive {
    display: none;
  }
}
.type-e-630 .main-menu-reponsive ul {
  list-style: none;
  background: #292724;
}
.type-e-630 .main-menu-reponsive li {
  line-height: 45px;
}
.type-e-630 .main-menu-reponsive .item-menu {
  border-bottom: 1px #45403d solid;
}
.type-e-630 .main-menu-reponsive .item-menu-1,
.type-e-630 .main-menu-reponsive .item-menu-2 {
  border-top: 1px #45403d solid;
}
.type-e-630 .main-menu-reponsive .item-menu-1 a,
.type-e-630 .main-menu-reponsive .item-menu-2 a {
  text-transform: capitalize;
  padding-left: 60px;
}
.type-e-630 .main-menu-reponsive .item-menu-2 a {
  padding-left: 90px;
}
.type-e-630 .main-menu-reponsive a {
  text-decoration: none;
  text-transform: uppercase;
  color: #aeaead;
  font-size: 12px;
  padding-left: 35px;
  font-weight: 700;
}
.type-e-630 .main-menu-reponsive .sub-content {
  padding-left: 0px;
}
.type-e-630 .main-menu-reponsive li:hover {
  background-color: rgba(0,0,0,0.2);
}
.type-e-630 .main-menu-reponsive a:hover {
  color: #f15d2f;
  text-decoration: none;
}
.type-e-630 .main-menu-reponsive .active-rp {
  background-color: rgba(0,0,0,0.2);
  font-weight: bold;
}
@media (max-width: 480px) {
  .type-e-630 .reponsive-menu-active {
    right: 0% !important;
    width: 100% !important;
  }
  .type-e-630 .menu-reponsive {
    top: 99px !important;
  }
  .type-e-630 .full-show {
    background-color: rgba(0,0,0,0) !important;
  }
}
@media (max-width: 479px) {
  .type-e-630 .slide-width {
    width: 280px;
  }
}
