.type-650 {
    .hr_text {
        padding-top: 20px;
        overflow: hidden;
        background: url("../images/png.png") repeat-x scroll left center transparent;
    }
    .hr {
        border-bottom: #aaa solid 1px;
    }
    .hr_text .custom_hr_text {
        background: #fff;
        color: #aaa;
        font-size: 10px;
        float: left;
    }
    .thumbs {
        width: 104%;
        padding-bottom: 60px;

        padding-top: 50px;
        .thumb img {
            width: 100%;
        }
        img:hover {
            opacity: 0.5;
            filter: alpha(opacity=50); 
        }
    }
    @media (max-width:991px) {
        .thumbs {
            margin: 5px;
            .thumb {
                padding: 10px;
            }
        }
    }
}