.type-650 {
    .hr_text {
        overflow: hidden;
        padding: 30px 0;
        background: url("../images/png.png") repeat-x scroll left center transparent;
    }
    .hr_text .custom_hr_text {
        background: #fff;
        color: #aaa;
        font-size: 10px;
        padding: 0px 8px 0 0;
        float: left;
    }
    .thumbs {
        width: 104%;
        padding: 20px;
        padding-bottom: 60px;
    }
    .thumb img {
        width: 100%;

    }
    img:hover {
        opacity: 0.5;
        filter: alpha(opacity=50); /* For IE8 and earlier */
    }
}