.type-g-3 #first-slider .main-container {
  padding: 0;
}
.type-g-3 #first-slider .carousel-indicators {
  bottom: 0;
}
.type-g-3 #first-slider .carousel-control.right,
.type-g-3 #first-slider .carousel-control.left {
  background-image: none;
}
.type-g-3 #first-slider .carousel .item {
  height: 100%;
  width: 100%;
}
.type-g-3 .carousel-inner .item .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.type-g-3 #first-slider .carousel-indicators .active {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: none;
}
.type-g-3 .carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.type-g-3 .carousel-fade .carousel-inner .item,
.type-g-3 .carousel-fade .carousel-inner .active.left,
.type-g-3 .carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.type-g-3 .carousel-fade .carousel-inner .active,
.type-g-3 .carousel-fade .carousel-inner .next.left,
.type-g-3 .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.type-g-3 .carousel-fade .carousel-inner .next,
.type-g-3 .carousel-fade .carousel-inner .prev,
.type-g-3 .carousel-fade .carousel-inner .active.left,
.type-g-3 .carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.type-g-3 .carousel-fade .carousel-control {
  z-index: 2;
}
.type-g-3 .carousel-control .fa-angle-right,
.type-g-3 .carousel-control .fa-angle-left {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.type-g-3 .carousel-control .fa-angle-left {
  left: 50%;
  width: 38px;
  height: 38px;
  margin-top: -15px;
  font-size: 30px;
  color: #fff;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 53px;
}
.type-g-3 .carousel-control .fa-angle-right {
  right: 50%;
  width: 38px;
  height: 38px;
  margin-top: -15px;
  font-size: 30px;
  color: #fff;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 53px;
}
.type-g-3 .carousel-control {
  opacity: 1;
  filter: alpha(opacity=100);
}
.type-g-3 #first-slider .slide1 {
  background-size: cover;
  background-repeat: no-repeat;
}
.type-g-3 #first-slider .slide2 {
  background-size: cover;
  background-repeat: no-repeat;
}
.type-g-3 #first-slider .slide3 {
  background-size: cover;
  background-repeat: no-repeat;
}
.type-g-3 #first-slider .slide4 {
  background-size: cover;
  background-repeat: no-repeat;
}
.type-g-3 .the-slideshow-banners .banner {
  position: relative;
}
.type-g-3 .fade-on-hover {
  -webkit-transition: none;
}
.type-g-3 img {
  border: 0;
  vertical-align: top;
}
.type-g-3 .caption.top-right {
  top: 0;
  bottom: auto;
  right: 0;
  width: 58%;
}
.type-g-3 .caption {
  display: block;
  position: absolute;
  margin: 6%;
  bottom: 0;
  width: 80%;
  padding: 0;
}
.type-g-3 .caption.light1 .heading,
.type-g-3 .caption.light1 p {
  background-color: rgba(255,255,255,0.35);
  color: #000;
}
.type-g-3 .caption .heading,
.type-g-3 .caption p {
  -webkit-transition: color 450ms ease-in-out, background-color 450ms ease-in-out;
}
.type-g-3 .caption .permanent {
  display: inline-block !important;
}
.type-g-3 .caption .heading {
  padding: 0.25em;
  margin-bottom: 0.2em;
  font-size: 3.3em;
  line-height: 1em;
  font-weight: normal;
}
.type-g-3 .caption > * {
  float: left;
  display: inline-block;
  margin-bottom: 1px;
}
.type-g-3 h2 {
  margin: 0 0 10px;
  font-weight: normal;
}
.type-g-3 .caption p {
  clear: left;
  padding: 0.25em 0.5em;
  margin-bottom: 1px;
  font-size: 1.5em;
  line-height: 1em;
}
.type-g-3 .caption.dark2 .heading,
.type-g-3 .caption.dark2 p {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
}
.type-g-3 .caption.dark2 p {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
}
.type-g-3 .caption.dark2 h2:hover {
  background: #000;
  color: #ffffff;
}
.type-g-3 .caption.dark2 p:hover {
  background: #000;
  color: #ffffff;
}
.type-g-3 .ib.ic-char {
  text-align: center;
}
.type-g-3 .ib {
  background-color: #de2666;
  color: #ffffff;
  border-radius: 50%;
  vertical-align: middle;
}
.type-g-3 .ib-size-xl {
  line-height: 60px;
  width: 60px;
  height: 60px;
}
.type-g-3 .ic-char {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif !important;
}
.type-g-3 .ic {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}
.type-g-3 .ic-lg {
  font-size: 1.33333333em;
}
.type-g-3 .ic:hover {
  background: #269abc;
}
.type-g-3 .caption.full-width {
  width: 88%;
}
.type-g-3 .caption.light1 .heading,
.type-g-3 .caption.light1 p {
  background-color: rgba(255,255,255,0.35);
  color: #000;
}
.type-g-3 .caption.right > * {
  text-align: right;
  float: right !important;
}
