.footer {
    .footer1 {
        .btn-style-three:hover {
            color: #103d68 !important;
            border-color: #103d68 !important;
            background: none;
        }
        .btn-style-three {
            position: relative;
            padding: 7px 32px;
            line-height: 24px;
            text-transform: uppercase;
            background: #103d68;
            color: #ffffff !important;
            font-size: 13px;
            font-weight: 700;
            border: 2px solid #103d68 !important;
            font-family: 'Roboto', sans-serif;
        }
        .col-lg-1,
        .col-lg-10,
        .col-lg-11,
        .col-lg-12,
        .col-lg-2,
        .col-lg-3,
        .col-lg-4,
        .col-lg-5,
        .col-lg-6,
        .col-lg-7,
        .col-lg-8,
        .col-lg-9,
        .col-md-1,
        .col-md-10,
        .col-md-11,
        .col-md-12,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9,
        .col-sm-1,
        .col-sm-10,
        .col-sm-11,
        .col-sm-12,
        .col-sm-2,
        .col-sm-3,
        .col-sm-4,
        .col-sm-5,
        .col-sm-6,
        .col-sm-7,
        .col-sm-8,
        .col-sm-9,
        .col-xs-1,
        .col-xs-10,
        .col-xs-11,
        .col-xs-12,
        .col-xs-2,
        .col-xs-3,
        .col-xs-4,
        .col-xs-5,
        .col-xs-6,
        .col-xs-7,
        .col-xs-8,
        .col-xs-9 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }
        .sec-title-two {
            position: relative;
            margin-bottom: 60px;
        }
        .sec-title-two h2 {
            position: relative;
            color: #222222;
            font-size: 32px;
            font-weight: 700;
            text-align: center;
            padding-bottom: 15px;
        }
        .sec-title-two h2:after {
            position: absolute;
            content: '';
            width: 44px;
            left: 50%;
            margin-left: -20px;
            bottom: 0px;
            height: 3px;
            background-color: #103d68;
        }
        * {
            margin: 0px;
            padding: 0px;
            border: none;
            outline: none;
        }
        body {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 16px;
            color: #777777;
            line-height: 1.8em;
            font-weight: 400;
            background: #ffffff;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;
            -webkit-font-smoothing: antialiased;
        }
        a {
            text-decoration: none;
            cursor: pointer;
            color: #fbca00;
        }
        a:hover,
            a:focus,
            a:visited {
            text-decoration: none;
            outline: none;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            position: relative;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: normal;
            margin: 0px;
            background: none;
            line-height: 1.6em;
        }
        input,
        button,
        select,
        textarea {
            font-family: 'Roboto', sans-serif;
        }
        p {
            position: relative;
            line-height: 1.8em;
        }
        .auto-container {
            position: static;
            max-width: 1200px;
            padding: 0px 15px;
            margin: 0 auto;
        }
        ul,
        li {
            list-style: none;
            padding: 0px;
            margin: 0px;
        }
        .theme-btn {
            display: inline-block;
            transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
        }
        .newsletter-style-one {
            position: relative;
            padding: 65px 0px 60px;
            background-attachment: fixed;
            background-position: center center;
            background-repeat: no-repeat;
        }
        .newsletter-style-one:before {
            position: absolute;
            content: '';
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            display: block;
            background-color: rgba(253, 228, 40, 0.9);
        }
        .newsletter-style-one .title-column,
        .newsletter-style-one .form-column {
            margin-bottom: 20px;
        }
        .newsletter-style-one .title {
            position: relative;
            display: inline-block;
            font-size: 16px;
            line-height: 30px;
            padding: 10px 0px;
            font-family: 'Lato', sans-serif;
            color: #ffffff;
            font-weight: 700;
            text-transform: uppercase;
        }
        .newsletter-form {
            position: relative;
        }
        .newsletter-form .form-group {
            position: relative;
            width: 100%;
        }
        .newsletter-form .form-group .icon {
            position: absolute;
            right: 20px;
            top: 50%;
            margin-top: -10px;
            line-height: 20px;
            font-size: 14px;
            color: #999999;
            z-index: 1;
        }
        .newsletter-form .form-group input[type="text"],
        .newsletter-form .form-group input[type="tel"],
        .newsletter-form .form-group input[type="email"] {
            position: relative;
            display: block;
            width: 100%;
            line-height: 26px;
            padding: 12px 20px;
            height: 50px;
            color: #000000;
            font-size: 14px;
            background: #ffffff;
        }
        .newsletter-form .form-group input[type="text"]:focus,
            .newsletter-form .form-group input[type="tel"]:focus,
            .newsletter-form .form-group input[type="email"]:focus {
            background: #f1f1f1;
        }
        .newsletter-form .form-group input[type="submit"],
        .newsletter-form button {
            display: block;
            line-height: 24px;
            padding: 13px 20px;
            width: 100%;
            height: 50px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1px;
            color: #ffffff;
            border-radius: 2px;
        }
        .row {
            margin-right: -15px;
            margin-left: -15px;
        }
        .form-group {
            margin-bottom: 15px;
        }
    }
    /*=============================================================================
    =============================================================================*/
    .footer2 {
        .sec-title-three {
            position: relative;
            margin-bottom: 35px;
        }
        .sec-title-three h2 {
            position: relative;
            color: #ffffff;
            font-size: 24px;
            font-weight: 600;
            padding-bottom: 15px;
        }
        .sec-title-three h2:after {
            position: absolute;
            content: '';
            width: 44px;
            left: 0px;
            bottom: 0px;
            height: 3px;
            background-color: #fde428;
        }
        .main-footer {
            position: relative;
            color: #c9c9c9;
            background-color: #001020;
            font-family: 'Roboto', sans-serif;
        }
        /*logo-widget*/
        .main-footer .footer-upper .logo-widget {
            position: relative;
        }
        .main-footer .footer-upper .logo-widget .logo {
            position: relative;
            margin-bottom: 30px;
        }
        .main-footer .text {
            line-height: 2em;
            margin-bottom: 20px;
            font-weight: 300;
            width: 85%;
        }
        .main-footer .footer-upper {
            position: relative;
            padding: 80px 0px 20px;
            z-index: 1;
        }
        .main-footer .footer-upper .column {
            position: relative;
            margin-bottom: 30px;
        }
        .main-footer .footer-upper a {
            transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
        }
        .footer-upper .links-widget li {
            position: relative;
            margin-bottom: 15px;
            padding-left: 20px;
        }
        .footer-upper .links-widget li:before {
            position: absolute;
            content: '';
            left: 0px;
            top: 9px;
            width: 6px;
            height: 6px;
            background-color: #fde428;
        }
        .footer-upper .links-widget li a {
            position: relative;
            display: block;
            font-size: 15px;
            color: #a9a9a9;
            line-height: 24px;
            font-family: 'Roboto', sans-serif;
        }
        .footer-upper .links-widget li a:hover {
            color: #ffffff;
        }
        /*contact-info*/
        .main-footer .contact-info {
            position: relative;
        }
        .main-footer .contact-info li {
            position: relative;
            padding-left: 42px;
            margin-bottom: 20px;
            line-height: 24px;
            color: #aaaaaa;
            font-size: 15px;
        }
        .main-footer .contact-info li .icon {
            position: absolute;
            left: 0px;
            top: 0px;
            line-height: 24px;
            font-size: 18px;
            color: #fde532;
        }
        .twitter-widget .feed {
            position: relative;
            font-size: 15px;
            line-height: 2em;
            margin-bottom: 30px;
        }
        .twitter-widget .feed .month {
            color: #6c9ecd;
            font-size: 14px;
            font-weight: 300;
            font-family: 'Roboto', sans-serif;
        }
        .twitter-widget .feed .text {
            margin-bottom: 0px;
            line-height: 2em;
            font-weight: 300;
            font-family: 'Roboto', sans-serif;
            width: 90%;
        }
        .twitter-widget .feed .text .icon {
            position: relative;
            color: #198cfa;
            font-size: 18px;
            line-height: 1;
            top: 2px;
        }
        .twitter-widget .feed .author-title {
            font-size: 15px;
            color: #ffffff;
            display: inline-block;
            margin-right: 6px;
            font-weight: 700;
            font-family: 'Roboto', sans-serif;
        }
        /*gallery-widget*/
        .gallery-widget {
            position: relative;
        }
        .gallery-widget .image {
            position: relative;
            float: left;
            width: 33.333%;
            padding: 0px 10px 8px 0px;
        }
        .gallery-widget .image img {
            position: relative;
            display: block;
            width: 100%;
            transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
        }
        .gallery-widget .image img:hover {
            opacity: 0.70;
        }
        .footer-bottom {
            position: relative;
            border-top: 1px solid rgba(255, 255, 255, 0.10);
            padding: 15px 0px;
            font-size: 14px;
            color: #bcbcbc;
            font-weight: 300;
            font-family: 'Roboto', sans-serif;
        }
        .footer-bottom .copyright {
            position: relative;
            line-height: 20px;
            padding: 5px 0px;
        }
        .footer-bottom .footer-bottom-social {
            position: relative;
            text-align: right;
        }
        .footer-bottom .footer-bottom-social li {
            position: relative;
            display: inline-block;
        }
        .footer-bottom .footer-bottom-social li a {
            position: relative;
            color: #aaaaaa;
            font-size: 14px;
            margin-right: 15px;
        }
        .footer-bottom .footer-bottom-social a:hover {
            color: #fde532;
        }
        /*footer-style-three*/
        .main-footer.footer-style-three {
            position: relative;
            background-image: url(../images/background/footer-style-three.jpg);
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: cover;
            padding: 0px;
            background-color: #f7f7f7 !important;
        }
        .main-footer.footer-style-three .footer-upper {
            padding: 100px 0px 60px;
        }
        .main-footer.footer-style-three:before {
            content: '';
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(246, 246, 246, 0.95);
        }
        .main-footer.footer-style-three h2 {
            position: relative;
            color: #222222;
            font-size: 24px;
            margin-bottom: 22px;
            font-weight: 600;
        }
        .main-footer.footer-style-three .widget-content .text {
            color: #777777;
            font-size: 15px;
            line-height: 1.8em;
            margin-bottom: 30px;
            font-weight: 300;
            font-family: 'Roboto', sans-serif;
        }
        .main-footer.footer-style-three .footer-widget .widget-content {
            position: relative;
            padding-right: 25px;
        }
        .main-footer.footer-style-three .footer-widget .widget-content .post {
            position: relative;
            padding-left: 78px;
            min-height: 80px;
            margin-bottom: 20px;
            border-bottom: 1px solid #e2e2e2;
        }
        .main-footer.footer-style-three .footer-widget .widget-content .post:last-child {
            border: 0px;
            margin: 0px;
        }
        .main-footer.footer-style-three .widget-content .post h4 {
            line-height: 1.0em;
            font-size: 17px;
            font-weight: 500;
        }
        .main-footer.footer-style-three .widget-content .post h4 a {
            color: #222222;
        }
        .main-footer.footer-style-three .widget-content .post h4 a:hover {
            color: #fde637;
        }
        .main-footer.footer-style-three .widget-content .post figure {
            position: absolute;
            left: 0px;
            top: 0px;
        }
        .main-footer.footer-style-three .widget-content .post .admin {
            color: #777777;
            font-size: 13px;
        }
        .main-footer.footer-style-three .widget-content .post .post-meta {
            position: relative;
        }
        .main-footer.footer-style-three .widget-content .post .post-meta {
            position: relative;
        }
        .main-footer.footer-style-three .widget-content .post .post-meta li {
            position: relative;
            display: inline-block;
            font-style: italic;
            color: #777777;
            padding-right: 8px;
            margin-right: 2px;
            font-size: 13px;
            font-weight: 300;
            font-family: 'Roboto', sans-serif;
        }
        .main-footer.footer-style-three .widget-content .post .post-meta li:after {
            position: absolute;
            content: '|';
            right: 0px;
            top: 0px;
            font-style: normal;
            font-size: 14px;
        }
        .main-footer.footer-style-three .widget-content .post .post-meta li:last-child::after {
            display: none;
            color: #777777;
        }
        .main-footer.footer-style-three .widget-content .post .post-meta li a {
            font-style: normal;
            color: #777777;
            font-weight: 400;
        }
        .main-footer.footer-style-three .contact-info li {
            color: #aaaaaa;
            font-size: 15px;
        }
        .main-footer.footer-style-three .contact-info li span {
            position: absolute;
            left: 0px;
            top: 0px;
            color: #103d68;
            font-weight: 700;
        }
        .main-footer.footer-style-three .footer-bottom {
            position: relative;
            background-color: #111111;
        }
        .main-footer .footer-bottom .footer-nav {
            text-align: right;
        }
        .main-footer .footer-bottom .footer-nav li {
            position: relative;
            display: inline-block;
            margin-left: 40px;
        }
        .main-footer .footer-bottom .footer-nav li a {
            font-size: 14px;
            font-weight: 400;
            font-family: 'Roboto', sans-serif;
            color: #cccccc;
        }
        .main-footer .footer-bottom .footer-nav li a:hover {
            color: #fde428;
        }
        * {
            margin: 0px;
            padding: 0px;
            border: none;
            outline: none;
        }
        body {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 16px;
            color: #777777;
            line-height: 1.8em;
            font-weight: 400;
            background: #ffffff;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;
            -webkit-font-smoothing: antialiased;
        }
        a {
            text-decoration: none;
            cursor: pointer;
            color: #fbca00;
        }
        a:hover,
            a:focus,
            a:visited {
            text-decoration: none;
            outline: none;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            position: relative;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: normal;
            margin: 0px;
            background: none;
            line-height: 1.6em;
        }
        input,
        button,
        select,
        textarea {
            font-family: 'Roboto', sans-serif;
        }
        p {
            position: relative;
            line-height: 1.8em;
        }
        .auto-container {
            position: static;
            max-width: 1200px;
            padding: 0px 15px;
            margin: 0 auto;
        }
        ul,
        li {
            list-style: none;
            padding: 0px;
            margin: 0px;
        }
        .theme-btn {
            display: inline-block;
            transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
        }
        /*btn-style-three*/
        .btn-style-three {
            position: relative;
            padding: 7px 32px;
            line-height: 24px;
            text-transform: uppercase;
            background: #103d68;
            color: #ffffff !important;
            font-size: 13px;
            font-weight: 700;
            border: 2px solid #103d68 !important;
            font-family: 'Roboto', sans-serif;
        }
        .btn-style-three:hover {
            color: #103d68 !important;
            border-color: #103d68 !important;
            background: none;
        }
        /*gallery-widget*/
        .gallery-widget {
            position: relative;
        }
        .footer-bottom {
            position: relative;
            border-top: 1px solid rgba(255, 255, 255, 0.10);
            padding: 15px 0px;
            font-size: 14px;
            color: #bcbcbc;
            font-weight: 300;
            font-family: 'Roboto', sans-serif;
        }
        .footer-bottom .copyright {
            position: relative;
            line-height: 20px;
            padding: 5px 0px;
        }
        .footer-bottom .footer-bottom-social {
            position: relative;
            text-align: right;
        }
        .footer-bottom .footer-bottom-social li {
            position: relative;
            display: inline-block;
        }
        .footer-bottom .footer-bottom-social li a {
            position: relative;
            color: #aaaaaa;
            font-size: 14px;
            margin-right: 15px;
        }
        .footer-bottom .footer-bottom-social a:hover {
            color: #fde532;
        }
        @media only screen and (max-width: 599px) {
            .main-footer.footer-style-three .footer-bottom .footer-nav,
            .footer-bottom .copyright {
                text-align: center;
            }
        }
    }
    .footer3{
        .scroll-to-top {
            position: fixed;
            bottom: 15px;
            right: 15px;
            width: 40px;
            height: 40px;
            color: #ffffff;
            font-size: 13px;
            text-transform: uppercase;
            line-height: 38px;
            text-align: center;
            z-index: 100;
            cursor: pointer;
            border-radius: 50%;
            background: #1c1c1c;
            display: none;
            -webkit-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            transition: all 300ms ease;
        }
        .scroll-to-top:hover {
            color: #ffffff;
            background: #fbca00;
        }
    }
}