.type-b-13{
    @colorbg: #fff;
    @size: 14px;
    body, h1, h2, h3, h4, h5, h6 {
        font-family: 'Open Sans', 'Helvetica', Arial, serif;
    }
    .sidebar{
        background: @colorbg;
        padding: 20px 15px;
        border-radius: 3px;
        box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.15);
        .widget{
            margin-bottom: 35px;
            .gensearch_form{
                position: relative;
                .gensearch_input {
                    height: 42px;
                    width: 100%;
                    padding: 0 20px;
                    border: 1px solid #ddd;
                }
                .gensearch_submit {
                    position: absolute;
                    right: 0;
                    border: 0;
                    color: #BBB;
                    background-color: transparent;
                    height: 100%;
                    padding: 0 20px;
                    font-size: 12px;
                }
                .gensearch_submit:after{
                    content: '';
                    width: 1px;
                    height: 24px;
                    background-color: #ddd;
                    display: block;
                    left: 0;
                    position: absolute;
                    top: 50%;
                    margin-top: -12px;
                }
            }
        }
        .widgettitle{
            padding-bottom: 20px;
            position: relative;
            font-size: @size;
        }
        .widgettitle:before{
            content: '';
            position: absolute;
            bottom: 2px;
            width: 100%;
            border-bottom: 1px solid #ececec;
        }
        .widgettitle:after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 2px;
            width: 50px;
            height: 0;
            border-bottom: 1px solid #cd2122;
        }
        .price-range{
            position: relative;
            .price-range-slider{
                height: 4px;
                background: #e7e7e7;
                border-radius: 4px;
                margin-bottom: 30px;
            }
            .button{
                background: #CD2122;
                font-size: 13px !important;
                padding: 10px 20px;
                font-weight: 600;
                color: #fff;
                text-transform: uppercase;
                border-radius: 3px;
                border: 0;
                line-height: 1; 
            }  
            .pr-result {
                display: inline-block;
                float: right;
                margin-top: 5px;
                .price-range span {
                    color: #535353;
                    display: inline-block;
                }
            }
        }
        .price-range .price-result {
            border: 0;
            background: 0 0;
            max-width: 70px;
            font-size: 13px;
            color: #535353;
            outline: 0;
            height: 32px;
        }
        .product-categories{
            margin: 0;
            padding: 0;
            list-style: none;
            .count{
                opacity: .5;
            }
            .children{
                list-style: none;
                margin: 0;
                padding: 0 0 0 20px;
            }
        }
    }
    ul.product_list_widget {
        list-style: none;
        padding: 0;
        li img {
            width: 58px;
            float: right;
            a span {
                font-weight: 400;
            }
            .amount {
                font-weight: 300;
                display: block;
            }
        }
    }
    .star-rating {
        color: #cd2122;
        font-size: 10px;
        margin-bottom: 10px;
        height: 1em;
        font-family: star;
    }
    a{
        color: #000;
    }
    a:hover {
        text-decoration: none;
    }
    @media(min-width:481px){
        ul.product_list_widget {
            list-style: none;
            padding: 0;
            li img {
                width: 58px;
                float: right;
                a span {
                    font-weight: 400;
                }
                .amount {
                    font-weight: 300;
                    display: block;
                }
            }
        }
    }
}
