.type-647 {
  background-color: #2c3547;
}
.type-647 .header .navbar .navmenu-b {
  background-color: #2c3547 !important;
}
.type-647 .header header {
  background-color: #2c3547;
  width: 100%;
  margin: 0 auto;
}
.type-647 .header .cnheader {
  height: 200px;
}
.type-647 .header .cnheader .logo {
  top: 30px;
}
.type-647 .header .cnheader .search #searchform {
  background: #fff;
  width: 220px;
  position: absolute;
  right: 15px;
  top: 63px;
}
.type-647 .header .cnheader .search form {
  display: block;
  margin-top: 0em;
}
.type-647 .header .cnheader .search #searchsubmit {
  background: url(../images/skin-minimal/icon-search.png) no-repeat scroll center center transparent;
  border: medium none;
  height: 36px;
  position: absolute;
  right: 0px;
  width: 36px;
}
.type-647 .header .cnheader .search #s {
  border: none;
  width: 160px;
  padding: 12px 48px 12px 12px;
}
.type-647 .header .cnheader .search .social_bookmarks {
  position: absolute;
  right: 240px;
  top: 75px;
}
.type-647 .header .cnheader .search .social_bookmarks li {
  float: left;
  padding: 0 0 0 4px;
}
.type-647 .header .cnheader .search .social_bookmarks a {
  height: 24px;
  width: 24px;
  float: left;
  text-indent: -9999px;
  opacity: .3;
}
.type-647 .header .cnheader .search .social_bookmarks a:hover {
  opacity: .8;
  text-decoration: none;
}
.type-647 .header .cnheader .search .rss a {
  background: transparent url(../images/skin-minimal/icons-social-rss.png) 0 0 no-repeat;
}
.type-647 .header .cnheader .search .twitter a {
  background: transparent url(../images/skin-minimal/icons-social-twitter.png) 0 0 no-repeat;
}
.type-647 .header .cnheader .search .facebook a {
  background: transparent url(../images/skin-minimal/icons-social-fb.png) 0 0 no-repeat;
}
.type-647 .menu .navbar-inverse .navbar-nav>a:hover {
  color: #000;
  background-color: transparent;
}
.type-647 .menu ul {
  list-style: none;
}
.type-647 .menu .navbar {
  margin-bottom: 0px !important;
  background: #fff;
  border-color: #eeeeee;
  margin-right: -17px;
}
.type-647 .menu .navbar-nav>li>a {
  color: #333;
  background-color: transparent;
}
.type-647 .menu .login-shopping {
  position: absolute;
  font-size: 11px;
  top: 170px;
}
.type-647 .menu .login-shopping li {
  float: left;
  padding: 0 10px;
}
.type-647 .menu .login-shopping li a {
  color: #fff;
}
.type-647 .menu .dropdown-menu li>a {
  color: #333 !important;
}
.type-647 .menu .dropdown-menu .mega-dropdown-menu li>a {
  padding: 0px;
}
.type-647 .menu .cart_dropdown_first .cart_dropdown_link {
  display: block;
  float: left;
  padding: 0 20px 0 25px;
  background: transparent url(../images/skin-minimal/icon-cart.png) 0 14px no-repeat;
  color: #999;
  line-height: 52px;
}
.type-647 .menu .cart_subtotal {
  color: #777;
}
.type-647 .menu .mega-dropdown {
  position: static !important;
}
.type-647 .menu .mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.type-647 .menu .mega-dropdown-menu > li > ul li {
  list-style: none;
}
.type-647 .menu .mega-dropdown-menu > li > ul li a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.type-647 .menu .cart_dropdown_first {
  height: 47px;
  line-height: 52px;
  padding: 0 30px 0 0;
}
@media (min-width: 767px) {
  .type-647 .menu .login-shopping {
    right: 174px;
  }
}
@media (max-width: 766px) {
  .type-647 .menu .login-shopping {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    right: 3.5%;
    top: 166px !important;
  }
  .type-647 .menu .login-shopping ul {
    display: inline-block;
  }
}
@media (max-width: 500px) {
  .type-647 .menu .login-shopping {
    text-align: center;
    margin: 0 auto;
  }
}
.type-647 .navbar-toggle .icon-bar .sr-only .collapse .navbar-collapse .js-navbar-collapse .fa .fa-caret-right .blog .dropdown-toggle .nav .dropdown .caret .cufon_headings .image_overlay_effect .image_overlay_effect_inside .external_image .avia_mega_hr .navbar-right {
  padding: 0;
}
@media (max-width: 468px) {
  .type-647 #searchform {
    display: none;
  }
  .type-647 .search .social_bookmarks {
    top: 10px !important;
  }
  .type-647 .cnheader .logo {
    top: 30px;
    text-align: center;
    margin: 0 auto;
    left: 0% !important;
  }
  .type-647 .cnheader .search .social_bookmarks {
    right: 40% !important;
  }
}
@media (max-width: 768px) {
  .type-647 #searchform {
    display: none;
  }
  .type-647 .search .social_bookmarks {
    top: 10px !important;
    margin: 0 auto;
    text-align: center;
    right: 44% !important;
  }
  .type-647 .cnheader .logo {
    top: 30px;
    text-align: center;
    margin: 0 auto;
    left: 0% !important;
  }
}
