.type-g-11 {
    body {
        font:75%/150% Arial, Helvetica, sans-serif; 
        background-color:#fff; 
        color:#333; 
    }
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    * {
        margin: 0;
        padding: 0;
    }
    .clear {
        clear:both;
    }
    .row{
        width: 100%;
        float:left;
    }
    .section-title.padding-right {
        padding-right: 80px !important;
    }



    /**********************Footer top container***********************/
    
    .item a:hover {
        text-decoration: none;
        background: #de2666;
    }
    .footer-top-container {
        background-color: #ffffff;
    }
    .section-container {
    }
    .footer-top {
    }
    .footer {
        margin: 0 auto;
        padding: 0;
        text-align: left;
    }
    .inner-container {
        padding-left: 12px;
        padding-right: 12px;
        clear: both;
    }
    .inner-container:before, .inner-container:after {
        display: table;
        line-height: 0;
        content: "";
    }
    .section {
        padding: 10px 0;
    }
    .footer .item-left {
        float: left;
        margin-right: 20px;
    }
    ul{
        list-style: none;
    }
    .links-wrapper-separators .links > li {
        margin-left: -1px;
    }
    .links > li {
        float: left;
    }
    .links > li {
        line-height: 36px;
    }
    .links-wrapper-separators .links > li > a {
        background-image: url(http://ultimo.infortis-themes.com/demo/skin/frontend/ultimo/default/images/img/link-separator.png);
        background-position: right center;
        background-repeat: no-repeat;
    }
    .links > li > a {
        display: block;
        padding: 0 0.5833em;
    }
    .footer-top a {
    }
    .footer a {
    }
    .footer .item-right {
        float: right;
        margin-left: 20px;
    }
    .clearer:after {
        display: block;
        content: ".";
        clear: both;
        font-size: 0;
        line-height: 0;
        height: 0;
        overflow: hidden;
    }
}
