@media (max-width: 1439px) and (min-width: 1263px) {
  .content_wrap {
    width: 1000px;
  }
}
@media (max-width: 479px) {
  .content_wrap {
    width: 280px;
  }
}
.type-e .link {
  background-color: #f15d2f;
}
.type-e .link .color-link {
  color: #fff;
}
.type-e .link .padding-link {
  padding-bottom: 15px;
  padding-top: 15px;
}
.type-e .link a {
  text-decoration: none;
  color: rgba(255,255,255,0.5);
}
.type-e .link a:hover {
  color: #fff;
}
