.type-663 {
    .sticker-wrapper.top-left {
        top: 1px;
    }
    .sticker-wrapper {
        position: absolute;
        transition: all 150ms ease-in-out;
        -moz-transition: all 150ms ease-in-out;
        -webkit-transition: all 150ms ease-in-out;
        -o-transition: all 150ms ease-in-out;
    }
    .sticker.new {
        background-color: #3ec2df;
        color: #ffffff;
    }
    .sticker {
        width: 53px;
        height: 53px;
        border-radius: 52%;
        font-size: 12px;
        line-height: 1em;
        font-weight: bold;
        text-align: center;
        display: table-cell !important;
        vertical-align: middle !important;
        transition: all 150ms ease-in-out;
        -moz-transition: all 150ms ease-in-out;
        -webkit-transition: all 150ms ease-in-out;
        -o-transition: all 150ms ease-in-out;
    }

    /*Sitcker Sale*/
    .sticker-wrapper.top-right {
        right: -3px;
    }
    .sticker.sale {
        background-color: #f12b63;
        color: #ffffff;
    }
    .thumbnail .alt-img{
        position: absolute;
        top: 0;
        left: 0;
    }
    .section-title.padding-right {
        padding-right: 80px !important;
    }
    .rating-box .ratings {
        display: inline-block;
        float: left;
        height: 13px;
        background: url(../images/rating.png) 0 100% repeat-x;
    }
    /************************Our Feauter Product********************/
    .ratings .amount {
        white-space: nowrap;
        font-size: 10px;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        color: #aaa;
    }
    .ratings {
        margin: 10px 0;
        line-height: 1.0833em;
    }
    .product-name a:hover {
        color: #00a9c7;
        text-decoration: none;
    }

    .thumbnails li> .fff .caption { 
        background:#fff !important; 
        padding:10px
    }

    ul.thumbnails { 
        margin-bottom: 0px;
    }
    /* Thumbnail Box */
    .caption {
        float: center;
    }
    .caption h4 {
        color: #444;
        text-align: center;
    }

    .caption p {  
        color: #999;
        text-align: center;
    }
    /* Carousel Control */
    .control-box {
        text-align: right;
        width: 100%;
    }
    .icon nav control-box:hover{
            background-color: #000000;
    color: #ffffff;
    }
    .glyphicon {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    /* Mobile Only */
    @media (max-width: 767px) {
        .control-box {
            text-align: center;
        } 
    }
    @media (max-width: 479px) {
        .caption {
            word-break: break-all;
        }
    }
    li { list-style-type:none;}
    .product-name {
        margin:0 ;
        font-size: 1em;
        line-height: 1em;
        font-weight: normal;
        text-align: center;
        font-weight: bold;
    }
    .product-name a {
        color: inherit;
    }
    .pager{
        margin: -52px 0;
        padding-top: 11px;
    }
    /* Ratings Box */
    .ratings {
        margin: 10px 0;
        line-height: 1.0833em;
        text-align: center;
    }
    .rating-box {
        margin-left: 0;
        margin-right: 0;
    }
    .ratings .rating-box, .ratings .amount {
        display: inline-block;
        vertical-align: middle;
    }
    .amount {
        font-size: 1em;
    }
    .rating-box {
        width: 69px;
        height: 13px;
        font-size: 0;
        line-height: 0;
        text-indent: -999em;
        overflow: hidden;
    }
    rating-box .rating {
        float: left;
        height: 13px;
    }
    /* Price Box */
    .price-box {
        margin: 10px 0 10px;
        font-size: 1em;
    }
    .price-box .price {
        color: #00a9c7;
    }
    .price {
        white-space: nowrap !important;
    }
}
