.type-663 {
    .menu-slider-wrapper{
        font-family: 'Coda';
        -webkit-font-smoothing: antialiased;
        background-color: #1f1f1f;
        font-size: 18px;
        color: #666;

        .tp-breadcrumb {
            background-color: #000;
            background-size: cover;
            padding: 65px 0px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .st_1479392317 {
            background-image: url(../images/brd-bg1.jpg) ;
        }
        .breadcrumb {
            padding:9px 15px;
            margin-top: -16px;
        }
        .tp-breadcrumb .breadcrumb {
            margin-bottom: 0px;
            list-style: none;
            background-color: transparent;
            border-radius: 0px;
            text-align: center;
            font-size: 14px;
            border: 2px solid;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        a {
            font-family: 'Coda';
            color: #fde230;
            text-decoration: none;
        }
        .breadcrumb span:last-child {
            color: #fde230;
        }
        /*--------------------Reponsive-----------------*/
        @media (max-width:991px) and (min-width:640px)
            {
            .breadcrumb{
                margin-left: 50px;
                margin-right: 50px;
            }
        }
        @media (max-width:640px) and (min-width:468px)
            {
            .breadcrumb{
                margin-left: 25px;
                margin-right: 25px;
                font-size: 13px;
            }
        }
    }
}


