.type-656 {
    @color:#3ec2df;
    .nav>li>a:focus, .nav>li>a:hover {
        text-decoration: none;
        background-color: #de2666;
        color: #fff;
    }
    .dropdown-menu>li>a:hover {
        color: @color;
        text-decoration: none;
    }
    .dropdown-icon {
        width: 18px;
        text-indent: -9999px;
        background-position: 0 50%;
        background-repeat: no-repeat;
    }
    span .navbar-right .label.form-control{
        padding: 0 10px;
    }
    .ic{
        font-size: 16px;
        line-height: 1em;
    }
    .icon a{
        text-decoration: none;
    }
    .dropdown{float: right;}

    .hotline{
        padding-top: 15px;
    }
    /*******************************************/
    #col1{
        margin-left: 18px;
    }
    .fa .fa-phone .navbar-header .navbar-nav {
        padding: 0;
    }
    /*******************************************/
    .mega-dropdown {
        position: static !important;
    }
    #custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
        button {
            border: 0;
            background: none;
            padding: 2px 5px;
            margin-top: 2px;
            position: relative;
            left: -28px;
        }
    }
    @media (max-width:500px) {
        span .btn-danger .navbar-collapse {
            padding: 0 10px;
        }
        .ic{
            font-size: 16px;
            line-height: 1em;
        }
    }
}
