.type-g-1 {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    .clear {
        clear:both;
    }
    .col-1{
        width:80%;
        float:left;
    }
    .col-2{
        width: 20%;
        float:left;
    }
    .col-5{
        width: 40%;
        float:left;
    }






    .mega-dropdown {
        position: static !important;
    }
    .mega-dropdown-menu {
        padding: 20px 0px;
        width: 100%;
        box-shadow: none;
    }
    .mega-dropdown-menu > li > ul {
        padding: 0;
        margin: 1px;
    }
    .mega-dropdown-menu > li > ul > li {
        list-style: none;
    }
    .mega-dropdown-menu > li > ul > li > a {
        display: block;
        color: #222;
        padding: 3px 5px;
    }
    .mega-dropdown-menu > li ul > li > a:hover,
        .mega-dropdown-menu > li ul > li > a:focus {

    }
    .mega-dropdown-menu .dropdown-header {
        font-size: 18px;
        color: #ff3546;
        padding: 5px 60px 5px 5px;
        line-height: 30px;
    }

    .carousel-control {
        width: 30px;
        height: 30px;
        top: -35px;

    }
    .left.carousel-control {
        right: 30px;
        left: inherit;
    }
    .carousel-control .glyphicon-chevron-left, 
    .carousel-control .glyphicon-chevron-right {
        font-size: 12px;
        background-color: #fff;
        line-height: 30px;
        text-shadow: none;
        color: #333;
        border: 1px solid #ddd;
    }

    .nav .open > a, .nav .open > a:focus {
    }
    /*Login Screen Style*/

    .card-container.card {
        max-width: 350px;
        padding: 40px 40px;
    }

    .btn {
        font-weight: 700;
        height: 36px;
        user-select: none;
        cursor: default;
    }

    /*
     * Card component
     */
    .card {
        background-color: #F7F7F7;
        /* just in case there no content*/
        padding: 20px 25px 30px;
        margin: 0 auto 25px;
        margin-top: 50px;
        /* shadows and rounded borders */
        border-radius: 2px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .profile-img-card {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        border-radius: 50%;
    }

    /*
     * Form styles
     */
    .profile-name-card {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 10px 0 0;
        min-height: 1em;
    }

    .reauth-email {
        display: block;
        color: #404040;
        line-height: 2;
        margin-bottom: 10px;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-sizing: border-box;
    }

    .form-signin #inputEmail,
    .form-signin #inputPassword {
        direction: ltr;
        height: 44px;
        font-size: 16px;
    }

    .form-signin input[type=email],
    .form-signin input[type=password],
    .form-signin input[type=text],
    .form-signin button {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        z-index: 1;
        position: relative;
        box-sizing: border-box;
    }

    .form-signin .form-control:focus {
        border-color: rgb(104, 145, 162);
        outline: 0;
    }

    .btn.btn-signin {
        padding: 0px;
        font-weight: 700;
        font-size: 14px;
        height: 36px;
        border-radius: 3px;
        border: none;
    }

    .btn.btn-signin:hover,
        .btn.btn-signin:active,
        .btn.btn-signin:focus {
        background-color: rgb(97, 133, 150);
    }

    .forgot-password {
        color: rgb(104, 145, 162);
    }

    .forgot-password:hover,
        .forgot-password:active,
        .forgot-password:focus{
        color: rgb(12, 97, 33);
    }
    .hotline{
        padding-top: 15px;
    }
    /*******************************************/
    #col1{
        margin-left: 18px;
    }
    #col2{
        padding-left: 72px;
        padding-top: 35px;
    }
    /*******************************************/
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
    body {
        font-family: 'Open Sans', 'sans-serif';
    }
    .mega-dropdown {
        position: static !important;
    }
    .mega-dropdown-menu {
        padding: 20px 0px;
        width: 100%;
        box-shadow: none;
    }
    .mega-dropdown-menu > li > ul {
        padding: 0;
        margin: 0;
    }
    .mega-dropdown-menu > li > ul > li {
        list-style: none;
    }
    .mega-dropdown-menu > li > ul > li > a {
        display: block;
        color: #222;
        padding: 3px 5px;
    }
    .mega-dropdown-menu > li ul > li > a:hover,
        .mega-dropdown-menu > li ul > li > a:focus {
        text-decoration: none;
    }
    .mega-dropdown-menu .dropdown-header {
        font-size: 24px;
        color: #222;
        padding: 5px 60px 5px 5px;
        line-height: 24px;
    }

    .carousel-control {
        width: 30px;
        height: 30px;
        top: -35px;

    }
    .left.carousel-control {
        right: 30px;
        left: inherit;
    }
    .carousel-control .glyphicon-chevron-left, 
    .carousel-control .glyphicon-chevron-right {
        font-size: 12px;
        background-color: #fff;
        line-height: 30px;
        text-shadow: none;
        color: #333;
        border: 1px solid #ddd;
    }
    .nen{
        background: #222;
    }
    /*
    inspired from http://codepen.io/Rowno/pen/Afykb
    & https://jsfiddle.net/q0rgL8ws/
    */
    .carousel-fade .carousel-inner .item {
        opacity: 0;
        transition-property: opacity;
        overflow:hidden;
    }
    .item.active img {
        transition: transform 5000ms linear 0s;
        /* This should be based on your carousel setting. For bs, it should be 5second*/
        transform: scale(1.05, 1.05);
    }
    .carousel-fade .carousel-inner .active {
        opacity: 1;
    }

    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
        left: 0;
        opacity: 0;
        z-index: 1;
    }

    .carousel-fade .carousel-inner .next.left,
    .carousel-fade .carousel-inner .prev.right {
        opacity: 1;
    }

    .carousel-fade .carousel-control {
        z-index: 2;
    }
    #custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }

    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */

        margin-bottom: 0;
        border-radius: 3px;
    }

    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
    }
}
