.type-e div {
  border: 0;
  font-size: 100%;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.type-e #footer {
  color: #d5d5d5;
  background-color: #2f2f2f;
  border-top: 4px solid #fff;
  padding: 40px 0 20px;
}
.type-e .container {
  margin: 0 auto;
}
.type-e .row {
  margin-bottom: 35px;
}
.type-e #footer .m_title {
  font-size: 14px;
  color: #fff;
}
.type-e .m_title {
  margin-top: 0;
  color: #CD2122;
  text-shadow: 0 1px 0 #fff;
}
.type-e h4 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
}
.type-e #footer .menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.type-e ul {
  border: 0;
}
.type-e #footer .menu li {
  float: left;
  width: 50%;
}
.type-e .div {
  margin: 0;
  padding: 0;
}
.type-e .clearfix {
  clear: both;
}
.type-e li {
  line-height: 20px;
  margin: 0;
  padding: 0;
}
.type-e #footer a {
  color: #fff;
  margin: 0;
  padding: 0;
}
.type-e p {
  margin: 0 0 10px;
}
.type-e .newsletter-signup form {
  margin-bottom: 10px;
}
.type-e .newsletter-signup input[type="text"] {
  width: 120px;
  background: #dddddd;
  border: 1px solid #a3a3a3;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2) inset;
}
.type-e .newsletter-signup input {
  vertical-align: top;
}
.type-e input {
  font: 13.3333px Arial;
}
.type-e input[type="text"] {
  display: inline-block;
  padding: 4px 6px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
}
.type-e input[type="submit"] {
  color: #fff;
  background: #cd2122;
  border: 0;
  font-weight: 700;
  font-size: 13px;
  height: 30px;
  padding: 0 15px;
  margin-left: 5px;
  border-radius: 3px;
}
.type-e .newsletter-signup #result {
  display: inline-block;
  margin-bottom: 10px;
}
.type-e small {
  font-size: 85%;
}
.type-e #footer .contact-details.moduletable {
  background: url(../images/say_hi.png) no-repeat right top;
}
.type-e col-lg-3 {
  width: 25%;
}
.type-e col-lg-4 {
  width: 33.33333333%;
}
.type-e strong {
  font-weight: bold;
}
.type-e .map-link > span {
  margin-top: 2px;
}
.type-e .icon-map-marker {
  background-position: -24px -72px;
}
.type-e .icon-white {
  background-image: url(../images/glyphicons-halflings-white.png);
}
.type-e [class^="icon-"],
.type-e [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
}
.type-e col-lg-6 {
  width: 50%;
}
.type-e #twitterFeed {
  background: url(../images/twitter-bird.png) no-repeat 15px center #444;
  font-size: 12px;
  color: #fff;
  padding: 15px 75px 15px 60px;
  margin-bottom: 15px;
  font-style: italic;
  border-radius: 3px;
}
.type-e #twitterFeed ul {
  margin: 0;
  padding: 0;
  font-size: 11px;
}
.type-e .social-share {
  margin: 25px 0 0;
  float: right;
}
.type-e .social-share li {
  display: inline-block;
  margin-left: 10px;
  width: 90px;
  max-height: 20px;
  vertical-align: top;
}
.type-e .social-share li.sc-gplus {
  width: 70px;
}
.type-e #footer .bottom {
  padding-top: 30px;
  border-top: 5px solid #484848;
  color: #8b8c8d;
}
.type-e #footer .social-icons {
  float: right;
}
.type-e .social-icons {
  margin: 0 0 20px;
}
.type-e #footer .social-icons li.title {
  line-height: 30px;
}
.type-e #footer .social-icons li {
  margin: 0 0 0 10px;
}
.type-e .social-icons li {
  display: inline-block;
}
.type-e .social-icons li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url(../images/social-icons-sprite.png) no-repeat;
  background-color: #111;
  border-radius: 3px;
}
.type-e .social-icons li.social-dribbble a {
  background-position: -30px 0;
}
.type-e .social-icons li.social-facebook a {
  background-position: -60px 0;
}
.type-e .social-icons li.social-envato a {
  background-position: -90px 0;
}
.type-e #footer .copyright img {
  float: left;
  margin-right: 20px;
}
